v2/workflows/upload-file-to-google-drive.workflow.json
{
  "updatedAt": "2025-11-05T11:03:12.722Z",
  "createdAt": "2025-11-04T09:42:18.047Z",
  "id": "zvJoSOEUDr9hXOLV",
  "name": "Upload file to Google Drive",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        592,
        48
      ],
      "id": "f04e16d3-8cf3-4346-9d8e-2223bada4f03",
      "name": "When Called by Generate Video",
      "notes": "Binary data (video file) is automatically passed from calling workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.created_at }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf",
            "mode": "list",
            "cachedResultName": "Google AI Studio",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        48
      ],
      "id": "dfce21ff-6e6b-4788-8b6a-22fbed73af8c",
      "name": "Search for Project Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XvgG5PyrXOSpnzIh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "abc12345-def6-7890-abcd-ef1234567890"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Folder Exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "def67890-abc1-2345-6789-0abcdef12345",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Folder Not Found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1488,
        48
      ],
      "id": "e9a67af8-e807-42a0-925c-d2c966dcef60",
      "name": "Check Folder Exists"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('When Called by Generate Video').item.json.projectName }}_{{ $now.format('yyyy-MM-dd') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf",
          "mode": "list",
          "cachedResultName": "Google AI Studio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1712,
        120
      ],
      "id": "d044f2e2-5dbd-40fa-af2a-6f4ccc0a7ea4",
      "name": "Create Project Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XvgG5PyrXOSpnzIh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Get a row').item.json.video_output?.idea || 'AISMR Video' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Check Folder Exists')?.item?.json?.id || $('Create Project Folder')?.item?.json?.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f6136cc9-8df1-4495-9fab-003004ad662c",
      "name": "Upload Video to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2160,
        48
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XvgG5PyrXOSpnzIh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('Get a row').item.json.id) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const getNodeData = (name) => { try { return $(name).item?.json ?? null; } catch (error) { return null; } }; const run = getNodeData('Get a row') ?? {}; const stages = run.stages ?? {}; const clone = (value) => (value && typeof value === 'object' ? { ...value } : {}); const ideaStage = clone(stages.idea_generation); if (!ideaStage.status) { ideaStage.status = 'completed'; } const screenplayStage = clone(stages.screenplay); if (!screenplayStage.status) { screenplayStage.status = 'completed'; } const videoStage = clone(stages.video_generation); if (!videoStage.status) { videoStage.status = 'completed'; } const publishingStage = clone(stages.publishing); const driveFileId = $json.response?.id ?? null; const driveFileUrl = $json.response?.webViewLink ?? null; const publishingOutput = { ...(publishingStage?.output ?? {}), driveFileId, driveFileUrl }; const updatedPublishingStage = { ...publishingStage, status: 'in_progress', output: publishingOutput }; const mergedOutput = { ...(run.output ?? {}), publishing: { ...(run.output?.publishing ?? {}), driveFileId, driveFileUrl } }; return { status: 'running', currentStage: 'publishing', stages: { idea_generation: ideaStage, screenplay: screenplayStage, video_generation: videoStage, publishing: updatedPublishingStage }, output: mergedOutput };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        48
      ],
      "id": "4073ed37-f232-4846-9a3b-bae1666746f1",
      "name": "Update Row with Drive Link",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get a row').item.json.video_output?.videoUrl || $('Get a row').item.json.result || '' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "50e5ce79-6281-450c-b6e7-2b5fd3a54573",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1936,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        },
        "httpHeaderAuth": {
          "id": "S31bXA351k9zXbHo",
          "name": "shotstack"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.runId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        48
      ],
      "id": "d715b06d-d062-4618-881e-c7fa4d779a39",
      "name": "Get Run (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.workflowRun ?? $json?.data?.workflowRun ?? null;\nif (!payload) {\n  throw new Error('Workflow run payload missing from API response.');\n}\nconst metadata = {};\nif (payload.input && typeof payload.input === 'object') {\n  if (payload.input.metadata && typeof payload.input.metadata === 'object') {\n    Object.assign(metadata, payload.input.metadata);\n  }\n  if (payload.input.turn && typeof payload.input.turn === 'object' && payload.input.turn.metadata && typeof payload.input.turn.metadata === 'object') {\n    Object.assign(metadata, payload.input.turn.metadata);\n  }\n  if (payload.input.projectSlug && typeof payload.input.projectSlug === 'string' && !metadata.projectSlug) {\n    metadata.projectSlug = payload.input.projectSlug;\n  }\n}\nif (!metadata.projectSlug && typeof payload.projectId === 'string') {\n  metadata.projectSlug = payload.projectId;\n}\nconst videoOutput = payload.output?.video_generation ?? {};\nconst normalized = {\n  ...payload,\n  metadata,\n  created_at: payload.createdAt ?? null,\n  updated_at: payload.updatedAt ?? null,\n  result: videoOutput.videoUrl ?? payload.result ?? null,\n  video_output: videoOutput\n};\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        48
      ],
      "id": "17e7fc2a-0c92-4bf8-a9d7-1caabbc82dca",
      "name": "Get a row"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        816,
        320
      ],
      "id": "error-trigger-upload-drive",
      "name": "On Workflow Error"
    },
    {
      "parameters": {
        "jsCode": "// Handle workflow error and preserve state\nconst errorData = $json ?? {};\n\n// Try to get runId from various sources\nlet runId = null;\ntry {\n  runId = $('Get a row').item?.json?.id ?? $('When Called by Generate Video').item?.json?.runId ?? null;\n} catch (e) {\n  console.log('Could not extract runId from executed nodes');\n}\n\n// If we still don't have runId, we can't update the workflow\nif (!runId) {\n  console.error('Unable to determine runId for error handling');\n  return [{ json: { error: 'No runId available to update workflow run', errorData } }];\n}\n\n// Get the workflow run to preserve prior outputs\nlet run = {};\ntry {\n  run = $('Get a row').item?.json ?? {};\n} catch (e) {\n  console.log('Could not get workflow run data');\n}\n\nconst stages = run.stages ?? {};\nconst clone = (value) => (value && typeof value === 'object' ? { ...value } : {});\n\n// Set prior stages as completed\nconst ideaStage = clone(stages.idea_generation);\nif (!ideaStage.status) {\n  ideaStage.status = 'completed';\n}\n\nconst screenplayStage = clone(stages.screenplay);\nif (!screenplayStage.status) {\n  screenplayStage.status = 'completed';\n}\n\nconst videoStage = clone(stages.video_generation);\nif (!videoStage.status) {\n  videoStage.status = 'completed';\n}\n\n// Mark publishing stage failed\nconst publishingStage = {\n  ...clone(stages.publishing),\n  status: 'failed',\n  error: {\n    message: errorData.error?.message ?? 'Google Drive upload failed.',\n    stack: errorData.error?.stack ?? null,\n    lastNode: errorData.execution?.lastNodeExecuted ?? null,\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn {\n  json: {\n    runId,\n    status: 'failed',\n    currentStage: 'publishing',\n    stages: {\n      idea_generation: ideaStage,\n      screenplay: screenplayStage,\n      video_generation: videoStage,\n      publishing: publishingStage\n    },\n    output: {\n      ...(run.output ?? {}),\n      // CRITICAL: Preserve ALL prior outputs\n      idea_generation: run.output?.idea_generation ?? {},\n      screenplay: run.output?.screenplay ?? {},\n      video_generation: run.output?.video_generation ?? {},\n      publishing: {\n        ...(run.output?.publishing ?? {}),\n        error: {\n          message: errorData.error?.message ?? 'Google Drive upload failed.',\n          timestamp: new Date().toISOString()\n        }\n      }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        320
      ],
      "id": "prepare-error-update",
      "name": "Prepare Error Update"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.runId || 'unknown') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: $json.status, currentStage: $json.currentStage, stages: $json.stages, output: $json.output } }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        320
      ],
      "id": "mark-run-failed",
      "name": "Mark Run Failed",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    }
  ],
  "connections": {
    "When Called by Generate Video": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Project Folder": {
      "main": [
        [
          {
            "node": "Check Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Folder Exists": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Project Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project Folder": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Drive": {
      "main": [
        [
          {
            "node": "Update Row with Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload Video to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Search for Project Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Prepare Error Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Update": {
      "main": [
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b5572fc3-1b57-4510-ae41-9a80fd0be88c",
  "versionCounter": 5,
  "triggerCount": 0
}