workflows/AISMR.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "projects",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "eq",
              "keyValue": "AISMR"
            },
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        -304
      ],
      "id": "974dec2a-917d-4f4c-80c2-f0aea3546e93",
      "name": "Get Project Config1",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      },
      "notes": "Fetch AISMR project configuration from database"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH4wBxJn069C282",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH4wBxJn069C282",
          "cachedResultName": "Idea Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('When Executed by Another Workflow').item.json.userInput }}",
            "runId": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        -304
      ],
      "id": "dda7f671-2950-450f-b487-8c5d65aee8ca",
      "name": "Generate Ideas",
      "notes": "Calls idea-generator.fn with DB persona prompt"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatId"
            },
            {
              "name": "userInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        -304
      ],
      "id": "5b0e8131-c9bb-48f8-bb4c-92da03f80ae6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZBScJvTKGpbLGN8K",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZBScJvTKGpbLGN8K",
          "cachedResultName": "Generate Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1088,
        -304
      ],
      "id": "44b5eef2-eff2-42a6-98d1-98d1eae152fb",
      "name": "Call 'Generate Video'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qOgWNfGwMpWkPWjK",
          "mode": "list",
          "cachedResultUrl": "/workflow/qOgWNfGwMpWkPWjK",
          "cachedResultName": "Screen Writer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ideaId": "={{ $json.id }}",
            "runId": "={{ $('Create Run').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ideaId",
              "displayName": "ideaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        -304
      ],
      "id": "14df8a30-d73c-409b-a24c-145251041c3b",
      "name": "Write Screen"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mtQuVF88e3mo20Mo",
          "mode": "list",
          "cachedResultUrl": "/workflow/mtQuVF88e3mo20Mo",
          "cachedResultName": "poll-db"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "column": "prompt"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "column",
              "displayName": "column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        -304
      ],
      "id": "be7270bc-23f7-480c-ac53-f526359dad0b",
      "name": "Poll 'prompt'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mtQuVF88e3mo20Mo",
          "mode": "list",
          "cachedResultUrl": "/workflow/mtQuVF88e3mo20Mo",
          "cachedResultName": "poll-db"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "column": "=video_link"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "column",
              "displayName": "column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1312,
        -304
      ],
      "id": "c573e0cb-0604-4e25-980c-8539d596a177",
      "name": "Poll 'video_link'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CiFjhZbMj5L9blcH",
          "mode": "list",
          "cachedResultUrl": "/workflow/CiFjhZbMj5L9blcH",
          "cachedResultName": "Edit_AISMR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1536,
        -304
      ],
      "id": "68f25316-3fe8-438f-86c0-212adbcc13c0",
      "name": "Edit"
    },
    {
      "parameters": {
        "tableId": "runs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.chatId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        -304
      ],
      "id": "d2326f15-605a-41e5-a1cc-8751134625ca",
      "name": "Create Run",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Get Project Config1": {
      "main": [
        [
          {
            "node": "Create Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ideas": {
      "main": [
        [
          {
            "node": "Write Screen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Project Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Generate Video'": {
      "main": [
        [
          {
            "node": "Poll 'video_link'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Screen": {
      "main": [
        [
          {
            "node": "Poll 'prompt'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll 'prompt'": {
      "main": [
        [
          {
            "node": "Call 'Generate Video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll 'video_link'": {
      "main": [
        [
          {
            "node": "Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run": {
      "main": [
        [
          {
            "node": "Generate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatId": "6559268788",
          "userInput": "Let's create an aismr video about different bubbles. We should see hand interacting with the bubbles"
        }
      }
    ],
    "Create Run": [
      {
        "json": {
          "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "chat_id": "6559268788",
          "status": "pending",
          "error_message": null,
          "created_at": "2025-10-26T08:25:53.001036+00:00",
          "updated_at": "2025-10-26T08:25:53.001036+00:00"
        }
      }
    ],
    "Generate Ideas": [
      {
        "json": {
          "id": "354857fc-5c6a-49cb-b2d9-8a3759e9ef6a",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Glass Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.049+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "8329fa02-cbe7-4e9c-8711-5c74f489af71",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Iridescent Bubble",
          "user_idea": null,
          "mood": "playful",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.05+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "c08feb6a-0f09-4b51-a657-e80f8668acd8",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Silent Bubble",
          "user_idea": null,
          "mood": "haunting",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.05+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "7a52072d-06fb-47e1-b049-78aa4f4bb50b",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Velvet Bubble",
          "user_idea": null,
          "mood": "nostalgic",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "cc0b57ed-0e5c-485d-80d0-6c1f70646a2b",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Electric Bubble",
          "user_idea": null,
          "mood": "tense",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "7d3e407c-7c10-453c-9cff-7df04a10f106",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Crystal Bubble",
          "user_idea": null,
          "mood": "awe",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "15ef82c3-2ff6-4e20-91cd-06a6123b5080",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Frosted Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.052+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "ba82e90f-0497-4ebd-aaf2-0ff89b397076",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Luminous Bubble",
          "user_idea": null,
          "mood": "mysterious",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.053+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "21d6436e-dda9-4b26-8e72-bff40abd41cf",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Shadow Bubble",
          "user_idea": null,
          "mood": "haunting",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.054+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "b02f24ec-cf14-4051-b380-7d39ee5bc8e5",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Golden Bubble",
          "user_idea": null,
          "mood": "playful",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.054+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "b6ec48b1-48ee-4bac-9e1b-d9e546b11e92",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Whisper Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.055+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "4b77ae28-3300-4ea3-bddb-9ba2bd5f5d78",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Magnetic Bubble",
          "user_idea": null,
          "mood": "mysterious",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.055+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      }
    ],
    "Write Screen": [
      {
        "json": {
          "id": "354857fc-5c6a-49cb-b2d9-8a3759e9ef6a",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Glass Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.049+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "354857fc-5c6a-49cb-b2d9-8a3759e9ef6a",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "8329fa02-cbe7-4e9c-8711-5c74f489af71",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Iridescent Bubble",
          "user_idea": null,
          "mood": "playful",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.05+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "8329fa02-cbe7-4e9c-8711-5c74f489af71",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "c08feb6a-0f09-4b51-a657-e80f8668acd8",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Silent Bubble",
          "user_idea": null,
          "mood": "haunting",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.05+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "c08feb6a-0f09-4b51-a657-e80f8668acd8",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "7a52072d-06fb-47e1-b049-78aa4f4bb50b",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Velvet Bubble",
          "user_idea": null,
          "mood": "nostalgic",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "7a52072d-06fb-47e1-b049-78aa4f4bb50b",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "cc0b57ed-0e5c-485d-80d0-6c1f70646a2b",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Electric Bubble",
          "user_idea": null,
          "mood": "tense",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "cc0b57ed-0e5c-485d-80d0-6c1f70646a2b",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "7d3e407c-7c10-453c-9cff-7df04a10f106",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Crystal Bubble",
          "user_idea": null,
          "mood": "awe",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "7d3e407c-7c10-453c-9cff-7df04a10f106",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "15ef82c3-2ff6-4e20-91cd-06a6123b5080",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Frosted Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.052+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "15ef82c3-2ff6-4e20-91cd-06a6123b5080",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "ba82e90f-0497-4ebd-aaf2-0ff89b397076",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Luminous Bubble",
          "user_idea": null,
          "mood": "mysterious",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.053+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "ba82e90f-0497-4ebd-aaf2-0ff89b397076",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "21d6436e-dda9-4b26-8e72-bff40abd41cf",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Shadow Bubble",
          "user_idea": null,
          "mood": "haunting",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.054+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "21d6436e-dda9-4b26-8e72-bff40abd41cf",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "b02f24ec-cf14-4051-b380-7d39ee5bc8e5",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Golden Bubble",
          "user_idea": null,
          "mood": "playful",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.054+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "b02f24ec-cf14-4051-b380-7d39ee5bc8e5",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "b6ec48b1-48ee-4bac-9e1b-d9e546b11e92",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Whisper Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.055+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "b6ec48b1-48ee-4bac-9e1b-d9e546b11e92",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      },
      {
        "json": {
          "id": "4b77ae28-3300-4ea3-bddb-9ba2bd5f5d78",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Magnetic Bubble",
          "user_idea": null,
          "mood": "mysterious",
          "prompt": null,
          "video_link": null,
          "status": "idea_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.055+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00",
          "ideaId": "4b77ae28-3300-4ea3-bddb-9ba2bd5f5d78",
          "runId": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        }
      }
    ],
    "Poll 'prompt'": [
      {
        "json": {
          "id": "354857fc-5c6a-49cb-b2d9-8a3759e9ef6a",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Glass Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A perfectly round, hyper-real glass bubble hovers serenely above a marble surface in a sun-drenched, softly out-of-focus room. The bubble's impossibly thin exterior glimmers with rainbow-like refractions; faint veins and seams reveal shifting internal patterns as if the glass is subtly alive. As light passes through, the bubble casts intricate prismatic shadows on the marble below and suspended dust motes are rendered in glistening detail.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 75mm shallow depth of field, 180° shutter speed. Camera executes a slow dolly-in from table level, framing the bubble centrally. Sunbeam key light creates crisp caustics and soft rim, with volumetric haze for luminous dust and shadow interplay.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera approaches, bubble sparkles and begins a slow spin, refracting light onto the surface below.\n1.5–3.5s (Exploration): The internal glass structure undulates gently—faint crystalline veins appear to shift, making the bubble feel sentient as lights dance around.\n2.0s (Whisper): A faint, dry whisper says, \"Glass Bubble.\"\n3.5–4.0s (Close-up + Fade): Camera tightens to macro, focusing on a prismatic vein as it flashes with color, then scene fades to black with shimmering glass fragments.\n\n6. AUDIO / ASMR — Airy vacuum hum at -28 dBFS, minuscule tinks and glass crackles, delicate surface friction. Whisper (dry, 2.0s): \"Glass Bubble.\" Enhanced foley for refracting motion and surface interaction.\n\n7. MUSIC / SCORE — Minimal ethereal ambient score, soft pad builds 0-1s, airy shimmer swells from 1-3s, fading to near silence and light crystalline echoes in final second, -12 LUFS.\n\n8. COLOR / GRADE — Crystal clear, pale sapphire, soft gold, white marble, opalescent shimmer.\n\n9. NOTES / CONSTRAINTS — 4 seconds exactly, one continuous shot, dry whisper mandatory at 2.0s, macro fade and glass shimmer particle effect at end.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Glass Bubble — a sentient glass bubble spins atop marble, refracting light and shimmering colors, closing on opalescent details.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.049+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "8329fa02-cbe7-4e9c-8711-5c74f489af71",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Iridescent Bubble",
          "user_idea": null,
          "mood": "playful",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optical refractions and iridescence.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A luminous, oversized soap bubble floats in midair, its surface radiating shifting bands of iridescent color that glide and ripple with every motion. The bubble hovers above a brushed chrome pedestal set in a sunlit, dust-filled gallery, with soft beams filtering through high windows. The entire environment glows with prismatic highlights and reflective particles. No text overlays.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 75mm lens for close macro focus, shallow depth of field, 180° shutter. Camera uses a slow dolly-in, orbiting gently to catch different angles of refracted light. Lighting: strong warm key from one side, cool rim on the other, rich volumetric haze and floating particulate matter emphasize prismatic reflections.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Bubble slowly undulates in air, surface shimmering as camera draws near, refracted rainbows shifting beautifully.\n1.5–3.5s (Exploration): Iridescent bands intensify and pulse, surface tension flickering with micro-ripples. At 2.0s, a soft, dry whisper intones, \"Iridescent Bubble.\"\n3.5–4.0s (Close-up + Fade): Extreme close-up as colors fracture into a bursting spectrum, micro-particles glinting and then fading to black with a shimmering overlay.\n\n6. AUDIO / ASMR — Soft vacuum hum at -28 dBFS, crisp, detailed sounds of the bubble's surface stretching, faint watery pops, and rainbow refraction sizzle. Whisper at 2.0s: \"Iridescent Bubble,\" dry and intimate. Bubble foley is heightened and tactile.\n\n7. MUSIC / SCORE — Ethereal ambient minimalism; pad gently rising for first second, shimmering arpeggios swelling 1-3 seconds, trailing to silence on fade, -12 LUFS.\n\n8. COLOR / GRADE — Opal white, spectral pink, electric teal, lemon gold, sunset mauve.\n\n9. NOTES / CONSTRAINTS — 4 seconds, single continuous shot, mandatory whisper at 2.0s, fade to black with prismatic particle shimmer at end.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Iridescent Bubble — a glowing rainbow bubble undulates, fracturing into color with opal and spectral highlights.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.05+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "c08feb6a-0f09-4b51-a657-e80f8668acd8",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Silent Bubble",
          "user_idea": null,
          "mood": "haunting",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — An ethereal, glassy bubble hovers in still air, its surface almost motionless, refracting the softly muted environment and haloed with gentle, mist-like light. All sonic vibrations appear absorbed: dust motes levitate, frozen mid-float, and ripples on the bubble's surface pause, as if sound itself has stopped. The background is a minimal, velvety-black expanse punctuated by diffused glimmers of pale light. No text overlays.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 70mm lens, extreme shallow DOF, 180° shutter. Gentle dolly drift towards the bubble; the camera floats, mimicking weightless inertia. Lighting is soft key with subtle rim, scattering through suspended haze, accentuating the bubble’s glassy surface and the stilled particles.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera pushes slowly in; bubble appears to shimmer without motion; the world around is frozen and hushed.\n1.5–3.5s (Exploration): Close study of the bubble's unreal silence—micro-ripples seem to halt, and dust within the frame stays perfectly suspended. At exactly 2.0s, a dry whisper says, \"Silent Bubble.\"\n3.5–4.0s (Close-up + Fade): Camera closes in for a macro shot as the bubble pulses faintly and releases a shimmer of particles, fading to black.\n\n6. AUDIO / ASMR — Ambient bed is an ultra-soft, filtered vacuum hush at -28 dBFS with almost no foley; at 2.0s, a single dry whisper: \"Silent Bubble.\" The absence of all other sound heightens tactile presence.\n\n7. MUSIC / SCORE — Sparse ethereal pads, soft harmonic shimmer rising from 0–1s, brief swell from 1–3s, dissolving into near silence by 4s, -12 LUFS.\n\n8. COLOR / GRADE — Moonstone white, obsidian, silken gray, faint pastel blue, pearl mist.\n\n9. NOTES / CONSTRAINTS — 4 seconds, single shot, whisper at 2.0s, absolute minimal foley, fade to black with frozen particle shimmer.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Silent Bubble — all vibration halts as a pristine bubble suspends silence, with moonstone and pearl mist tones.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.05+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "7a52072d-06fb-47e1-b049-78aa4f4bb50b",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Velvet Bubble",
          "user_idea": null,
          "mood": "nostalgic",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A delicate, oversized soap bubble floats in gentle suspension above a slate-gray silk table. Its surface ripples with impossible plushness: the iridescence is softly matte, as if a layer of lush, midnight-blue velvet coats the membrane. Fine dust motes caress the plush exterior. The environment is a luminous dusk with soft window light breaking gently through haze.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 75mm lens with ultra-shallow depth of field to emphasize the bubble’s pillowy texture. Camera performs a slow, frictionless dolly-in along a diagonal, capturing light raking across the velvet fuzz and amplifying the tactility. Warm key light, cool rim glow, volumetric haze, and floating particles.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera approaches the floating velvet-coated bubble as it slowly rotates, revealing its plush texture and deep shadows.\n1.5–3.5s (Exploration): Macro focus traces over the velvet surface—fibers compress and undulate under the bubble’s shifting weight, catching light in hypnotic gradients. At 2.0s, a gentle whisper says, “Velvet Bubble.”\n3.5–4.0s (Close-up + Fade): Extreme close-up dives into the soft nap of the velvet, where microscopic fibers glint and shimmer as the shot fades to deep black with a cloud of sparkling particles.\n\n6. AUDIO / ASMR — Soft vacuum ambient at -28 dBFS, gentle fabric friction, plushy rubs, and a muffled static as velvet compresses. Whisper, dry at 2.0s: “Velvet Bubble.” Feathered foley of cloth and barely-audible bubble wobble.\n\n7. MUSIC / SCORE — Ethereal ambient minimalism, velvet synth swells and airy pads building from 0–3s, trailing to silence at the fade, -12 LUFS.\n\n8. COLOR / GRADE — Midnight blue, graphite gray, lavender mist, pale rose, opaline white.\n\n9. NOTES / CONSTRAINTS — 4 seconds, single continuous shot, mandatory dry whisper at 2.0s, three-act structure with macro fade-out and particle shimmer at end.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Velvet Bubble — plush, velvet-coated bubble in soft dusk, extreme macro fade, midnight blue and graphite palette.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "cc0b57ed-0e5c-485d-80d0-6c1f70646a2b",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Electric Bubble",
          "user_idea": null,
          "mood": "tense",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — Suspended midair, a glassy iridescent bubble glimmers above a slate surface. Within and across its surface, tiny arcs of electric-blue lightning course and pulse, branching like nerves and flashing with energy. The environment is a hushed, midnight room filled with ionized mist and wisps of static-charged particles drifting through shafts of cobalt light. No text overlays.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 70mm shallow depth of field focused tightly on the bubble, 180° shutter. The camera performs a slow lateral dolly drift, enhancing the shimmering highlights and electrical tendrils. Lighting combines cool blue key with subtle golden rim and volumetric fog.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera gently approaches the bubble as mini lightning arcs flicker along its surface.\n1.5–3.5s (Exploration): Surreal, branching electric veins glow brighter and pulse inside the bubble, flickering rhythmically. The arcs intensify, creating radiant, fractal patterns that illuminate the bubble and its surroundings. At exactly 2.0s, a whisper states, \"Electric Bubble.\"\n3.5–4.0s (Close-up + Fade): Camera pushes in tight on an especially luminous arc crackling within the bubble; energy surges, and the frame fades to black as fine, glowing particles shimmer in the afterimage.\n\n6. AUDIO / ASMR — Ambient vacuum hum at -28 dBFS; delicate crackling static, soft electrical zaps and sizzle, occasional glassy resonance. Whisper at 2.0s says, \"Electric Bubble.\" All sound hyper-detailed, up close and tactile.\n\n7. MUSIC / SCORE — Ethereal, minimal synth with high, airy textures; swelling from 0-1s, warm intensification 1-3s, fading out with shimmer at 3-4s, -12 LUFS.\n\n8. COLOR / GRADE — Electric blue, onyx black, steel gray, violet haze, argent white.\n\n9. NOTES / CONSTRAINTS — 4 seconds runtime, single continuous shot, whisper required, fade to black with shimmering particle overlay.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Electric Bubble — streaks of lightning animate a glowing bubble ending in an electric close-up and a blue-silver fade.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "7d3e407c-7c10-453c-9cff-7df04a10f106",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Crystal Bubble",
          "user_idea": null,
          "mood": "awe",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in refractive optics and tactile macro detail.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A perfectly spherical bubble floats midair above a velvety midnight backdrop. Its surface is not smooth but faceted and multi-layered, resembling a delicate, transparent crystal—panes and edges refract light into shifting spectral patterns. The interior gleams with soft rainbows and diamond-like glints that shimmer as the bubble rotates gently. Particles drift through the air, and everything is bathed in ambient prismatic light.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic ratio, 75mm lens for intimate, shallow focus. Slow, hypnotic dolly-in that tracks the crystal bubble’s axis as it slowly spins. Lighting setup includes a cool, diffused key with shimmering rim, accentuating the crystalline structure and glancing off the facets, and volumetric haze to catch refracted colors and drifting dust.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera approaches the floating crystal bubble, its faceted surface catching beams of spectral light.\n1.5–3.5s (Exploration): The facets shift and refract, bending light into swirling rainbows inside the bubble. Delicate glints and caustics crawl across the surface. At 2.0s, a soft whisper says, \"Crystal Bubble.\"\n3.5–4.0s (Close-up + Fade): Extreme close-up of a prism edge dispersing light as the bubble pulses softly, then fades to black with flickering crystal sparkles.\n\n6. AUDIO / ASMR — Ambient vacuum hum (-28 dBFS), hyper-detailed glassy tings, faint prismatic shimmers, gentle crackles. Dry whisper begins at 2.0s, stating clearly: “Crystal Bubble.”\n\n7. MUSIC / SCORE — Ethereal, minimal ambient with bell-like synths and glass harmonics; subtle tail-off with a glistening chime; -12 LUFS.\n\n8. COLOR / GRADE — Icy blue, crystal white, spectral lavender, prismatic pink, pale gold.\n\n9. NOTES / CONSTRAINTS — 4 seconds, single continuous shot, mandatory dry whisper at 2.0s, fade to black from 3.5–4.0s, final shimmer on crystal fragments.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Crystal Bubble — faceted crystal bubble refracts swirling light, climaxing in a macro prism fade; icy blue and spectral pink palette.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.051+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "15ef82c3-2ff6-4e20-91cd-06a6123b5080",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Frosted Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in macro ice phenomena.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A delicate soap bubble hovers above a frost-dusted surface, its form rapidly frosting over with intricate crystalline patterns. The translucence is subtly clouded—delicate icicle veins spread across the sphere, glinting with tiny reflective sparkles. The background is softly blurred, wintry and luminous, with cool ambient glow and floating ice particles.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic format, 70mm shallow DOF, 180° shutter. Camera executes a slow, mesmerized dolly-in toward the bubble, orbiting slightly to accentuate the shifting, light-catching frost patterns. Lighting: crisp bluish-white key, soft rim, volumetric haze and sparkling floating particles catching stray beams.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera glides in on the bubble as faint frost begins to form.\n1.5–3.5s (Exploration): Frost blossoms outwards in real time—veined ice crystals expand fractally over the bubble’s surface, shimmering gently. At 2.0s, a soft whisper says, \"Frosted Bubble.\"\n3.5–4.0s (Close-up + Fade): Target a macro close-up on the most stunning frost segment as crystalline shimmer intensifies, then dissolve to black with a cascade of glinting particle shimmer.\n\n6. AUDIO / ASMR — Subdued arctic ambient bed (-28 dBFS), delicate crackling and whispering ice, frosted glass foley, and a dry whispered \"Frosted Bubble\" at 2.0s.\n\n7. MUSIC / SCORE — Ethereal ambient minimalism with icy tones: swelling, bell-like accents from 1–3s, soft decay and airy resonance, -12 LUFS.\n\n8. COLOR / GRADE — Glacier blue, frosted white, pale silver, crystalline teal, cool lavender.\n\n9. NOTES / CONSTRAINTS — 4 seconds, single continuous shot, 2.0s whisper mandatory, fade to black at 3.5–4.0s with fine crystalline particle cascade.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Frosted Bubble — sparkling ice crystals spread across a translucent bubble, climaxing with a shimmering macro fade in glacier blue and frosted white tones.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.052+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "ba82e90f-0497-4ebd-aaf2-0ff89b397076",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Luminous Bubble",
          "user_idea": null,
          "mood": "mysterious",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A translucent, delicate bubble hovers midair, emitting a soft, inner radiant glow that pulses gently as if alive. The bubble's surface shimmers with living light, luminous veins crawling just beneath its skin and lighting up the suspended particles around it. This occurs in a dim, velvet-draped room; muted background, subtle floating dust illuminated by the bubble's aura. No text overlays.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 80mm shallow DOF, 180° shutter. Slow dolly-in movement, camera gliding closer as the radiant bubble floats. Lighting is moody and ambient, with a bright, centered key coming from within the bubble; rim lighting highlights the bubble’s edges, while volumetric haze captures the illumination and particles.\n\n5. ACTIONS & TIMING — 0.0–1.5s (Establishing): The bubble floats in dimness, soft ambient light pulsing from within. 1.5–3.5s (Exploration): The inner glow brightens and swirls, sending streaks of colored light through the bubble and creating a radiant optical pattern that dances across the environment; glowing veins pulse with each swirl. At 2.0s, a gentle whisper says, “Luminous Bubble.” 3.5–4.0s (Close-up + Fade): Camera closes in as the bubble’s surface bursts into a final auroral shimmer, transitioning into a glowing particle fade to black.\n\n6. AUDIO / ASMR — Subtle, spacious vacuum ambience (-28 dBFS), crackling glassy texture as light streaks animate, microscopic effervescence, soft dry whisper at 2.0s: “Luminous Bubble.”\n\n7. MUSIC / SCORE — Ethereal ambient minimalism, shimmering synth pad rises gently 0–1s, subtle harmonic bloom swells 1–3s, trailing sparkle fades 3–4s, -12 LUFS.\n\n8. COLOR / GRADE — Electric gold, opal white, radiant cerulean, pale magenta, midnight indigo.\n\n9. NOTES / CONSTRAINTS — 4 seconds, single seamless shot, mandatory dry whisper at 2.0s, fade to black with radiant particle shimmer at 3.5–4.0s.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Luminous Bubble — a glowing bubble pulses with radiant veins and swirling light, climaxing in an auroral color burst over an electric gold and cerulean palette.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.053+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "21d6436e-dda9-4b26-8e72-bff40abd41cf",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Shadow Bubble",
          "user_idea": null,
          "mood": "haunting",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A delicate, translucent bubble hovers just above a dark velvet tabletop, illuminated by a narrow shaft of soft light; within its glassy skin, inky shadows slither and pulse, shifting as if alive. The environment is a dreamlike, dusk-lit interior shrouded in gentle haze, with fine dust particles catching the light. No visible text overlays; all focus on the surreal bubble and its moving internal shadow forms.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic aspect ratio, 80mm lens for shallow depth of field, 180° shutter. Camera executes a slow dolly-in, tracking the bubble's subtle rotation, with rim lighting emphasizing the bubble’s edges and volumetric haze revealing suspended particulate shimmer.\n\n5. ACTIONS & TIMING —\n0.0–1.5s: Establishing — Camera glides in to reveal the bubble, motives of swirling shadows stir inside.\n1.5–3.5s: Exploration — The shadows ooze and flicker in mesmerizing patterns, flowing in and out of the bubble's surface, as spectral light refracts in their wakes; at 2.0s, a dry whisper: \"Shadow Bubble.\"\n3.5–4.0s: Close-up & fade — Macro on a shadow pulse against the surface, particle shimmer intensifies, then fade to black.\n\n6. AUDIO / ASMR — Persistent low vacuum hum (-28 dBFS), glassy crackles, faint wet pops accompany the shadow motion; at 2.0s a single dry whispered phrase: \"Shadow Bubble.\"\n\n7. MUSIC / SCORE — Ethereal ambient minimalism: slow rise in first second, gentle swelling to 3s, then airy, soft tail as scene fades, -12 LUFS.\n\n8. COLOR / GRADE — Onyx black, midnight blue, silver pearl, smoky lavender, shadow violet.\n\n9. NOTES / CONSTRAINTS — 4 seconds runtime, single shot, three-act micro-arc, dry whisper mandatory at 2.0s, fade to black with fine particle shimmer overlay at end.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Shadow Bubble — inky shadows swirl inside a luminous bubble, climaxing in macro shimmer and fade with midnight blue and silver pearl highlights.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.054+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "b02f24ec-cf14-4051-b380-7d39ee5bc8e5",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Golden Bubble",
          "user_idea": null,
          "mood": "playful",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A single, oversized soap bubble, its surface glowing with rich, molten gold hues, floats above a slate-black marble surface in a dusky, softly sunlit room. Golden light refracts and dances in liquid ripples along its glossy, shimmering shell. The atmosphere is filled with airborne dust particles and flecks of gold, glinting as the bubble rotates.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic aspect ratio, 75mm focal length for a creamy, shallow depth of field, 180° shutter. A very slow dolly-in tracks the bubble’s elegant drift, camera positioned low for a regal upward angle. Lighting is soft but radiant, with a gold rim light, subtle volumetric haze, and glowing particle motes throughout.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): The camera glides in, focusing on the luminous golden bubble as it hovers gently and catches the light.\n1.5–3.5s (Exploration): Glints of gold ripple across the bubble’s surface; micro-rivulets pulse and swirl, emitting golden sparkles. At exactly 2.0s, a clear, dry whisper intones, “Golden Bubble.”\n3.5–4.0s (Close-up + Fade): Camera pushes into a macro shot as the bubble’s gold intensifies; golden flecks explode into shimmering particles, fading to black.\n\n6. AUDIO / ASMR — Ambient, gentle vacuum hum (-28 dBFS), nuanced foley of soft pops and liquid gold ripples; at 2.0s, dry whisper: \"Golden Bubble.\" Sparkle and rub of gold leaf.\n\n7. MUSIC / SCORE — Ethereal ambient score: rising crystalline tones (0–1s), lush pad and soft chimes (1–3s), long trailing shimmer (3–4s), -12 LUFS.\n\n8. COLOR / GRADE — Liquid gold, black marble, pearl white, sunlit amber, faint smoky gray.\n\n9. NOTES / CONSTRAINTS — 4 seconds runtime, single continuous shot, whisper required at 2.0s, fade to black with golden particle shimmer at 3.5–4.0s.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Golden Bubble — molten gold bubble glows, ripples, and shimmers in golden particle bursts; palette of liquid gold and sunlit amber.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.054+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "b6ec48b1-48ee-4bac-9e1b-d9e546b11e92",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Whisper Bubble",
          "user_idea": null,
          "mood": "serene",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A flawless, delicate soap bubble floats just above a velvety, blurred surface, its surface rippling with iridescent pastel hues. Inside the bubble, faint, silvery wisps coil and dance—each exhalation taking on the forms of miniature, whispering mouths and trailing vapor. The background is a soft, serene dusk filled with drifting particles and gentle volumetric haze, evoking a tranquil, intimate mood. No visible text.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 75mm shallow DOF, 180° shutter. Slow dolly-in toward the bubble, lens gliding at a low angle. Key and rim lighting wraps gently, highlighting the wisps and refracting colors through the bubble's surface. Air thick with subtle dust particles, catching the light.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera glides toward and focuses on the lone floating bubble as its surface glistens and shimmers.\n1.5–3.5s (Exploration): Whispery silver threads swirl inside the bubble, mouths gently forming as if sighing silent secrets; trails of vapor spiral and dissipate. At exactly 2.0s, a soft whisper states, \"Whisper Bubble.\"\n3.5–4.0s (Close-up + Fade): Camera pushes to extreme macro as one of the wispy mouths opens, releasing a tiny shimmer of particles—fade to black as they scatter.\n\n6. AUDIO / ASMR — Ambient vacuum hum at -28 dBFS, layered with hyper-detailed bubble creaks, soft exhalations, and faint airy whooshes. Dry whisper at 2.0s: \"Whisper Bubble.\" Bubble foley is intimate and tactile.\n\n7. MUSIC / SCORE — Ethereal, minimal ambient pad rises in first second, dreamy airy motif swells 1–3s, trailing into silence with a lingering shimmer, -12 LUFS.\n\n8. COLOR / GRADE — Misty lavender, opal white, silvery blue, blush pink, pale gold.\n\n9. NOTES / CONSTRAINTS — 4 seconds only, single camera shot, whisper mandatory at 2.0s, fade to black from 3.5–4.0s with fine iridescent particle shimmer overlay.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Whisper Bubble — glistening bubble swirls with whispering vapor spirits, climaxing in a macro shimmer fade with pastel iridescent palette.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.055+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      },
      {
        "json": {
          "id": "4b77ae28-3300-4ea3-bddb-9ba2bd5f5d78",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "idea": "Magnetic Bubble",
          "user_idea": null,
          "mood": "mysterious",
          "prompt": "1. STYLE / GENRE — Cinematic photoreal surrealism; ASMR micro-sound design; ethereal ambient score; impossible realism grounded in optics.\n\n2. REFERENCE IMAGE INSTRUCTION —\n\n3. SCENE DESCRIPTION — A glossy, transparent bubble hovers above a metallic surface scattered with shimmering iron filings, gently rotating in the air. Inside and around the bubble, miniature iron particles ripple and spiral, drawn into mesmerizing patterns by unseen magnetic currents. Thin, delicate lines of filings bridge the gap between the bubble and the ground, bending and reconnecting with dreamlike fluidity as the magnetic field visibly shapes them. No text overlays.\n\n4. CINEMATOGRAPHY — 2.39:1 anamorphic, 70mm lens, shallow depth of field, 180° shutter; camera executes a slow orbital drift encircling the bubble, creating parallax between bubble, filings, and background. Volumetric side light with a cool silver key and warm rim; soft haze highlights shifting iron and reflections on the bubble's surface.\n\n5. ACTIONS & TIMING —\n0.0–1.5s (Establishing): Camera orbits to reveal the floating bubble and metallic surface, capturing iron filings just starting to quiver and align with hidden magnetic forces.\n1.5–3.5s (Exploration): Patterns intensify; filings spiral along the bubble’s shell, form spikes, then break apart and reassemble, tugging gently in and out of the bubble’s surface. At exactly 2.0s, a dry whisper says, “Magnetic Bubble.”\n3.5–4.0s (Close-up + Fade): Extreme close-up of iron filings dancing at the bubble’s membrane, shimmering with energy, as the view fades to black with a glinting particle shimmer.\n\n6. AUDIO / ASMR — Ambient low drone (-28 dBFS) with subtle metallic pings, shuffles, and the faint rasp of iron filings. Hyper-detailed crackle as grains shift. Whisper starts dry at 2.0s: “Magnetic Bubble.”\n\n7. MUSIC / SCORE — Ethereal ambient score, airy synths and faint metallic pulses, gentle swell from 0–1s, lush crescendo 1–3s, soft tailing-off at the close, -12 LUFS.\n\n8. COLOR / GRADE — Graphite gray, sapphire blue, chrome silver, iris purple, soft white.\n\n9. NOTES / CONSTRAINTS — 4 seconds, single shot, whisper mandatory at 2.0s, fade to black with particle shimmer at 3.5–4.0s.\n\n10. SINGLE-LINE SUMMARY — A 4-second surreal ASMR micro-film for June: Magnetic Bubble — iron filings magnetically orbit and spike around a floating bubble, climaxing in a chrome-hued macro with graphite and iris purple highlights.",
          "video_link": null,
          "status": "script_gen",
          "error_message": null,
          "started_at": "2025-10-26T08:26:35.055+00:00",
          "completed_at": null,
          "created_at": "2025-10-26T08:26:35.173291+00:00",
          "updated_at": "2025-10-26T08:26:35.173291+00:00"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
