workflows/aismr.workflow.archive.json
{
  "archivedAt": "2025-10-31T00:00:00.000Z",
  "originalWorkflowId": "DPQUPd5e4Uxkp5Bd",
  "note": "Snapshot of AISMR workflow prior to simplification for agent-driven execution.",
  "content": {
    "updatedAt": "2025-10-31T18:29:54.397Z",
    "createdAt": "2025-10-16T02:50:22.545Z",
    "id": "DPQUPd5e4Uxkp5Bd",
    "name": "AISMR",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chatId"
              },
              {
                "name": "userInput"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -512,
          208
        ],
        "id": "066f514b-9fd1-4064-83e6-cdb5101ef59e",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json ?? {};\nconst userInput = typeof raw.userInput === 'string' && raw.userInput.trim().length > 0\n  ? raw.userInput.trim()\n  : '';\nif (!userInput) {\n  throw new Error('AISMR workflow requires a non-empty userInput.');\n}\nconst chatId = typeof raw.chatId === 'string' && raw.chatId.trim().length > 0\n  ? raw.chatId.trim()\n  : null;\nconst project = {\n  id: 'a372acc6-5b6a-46c5-835d-6e9859d5055c',\n  slug: 'aismr',\n  name: 'AISMR'\n};\nconst requestId = `aismr-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nreturn {\n  json: {\n    userInput,\n    chatId,\n    project,\n    requestId,\n    timestamps: {\n      receivedAt: new Date().toISOString()\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -288,
          208
        ],
        "id": "3a7c18db-7fe1-4a8e-aaf6-95736c611ad6",
        "name": "Normalize Request"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://mcp-vector.mjames.dev/api/runs",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { projectId: $('Normalize Request').item.json.project.id, chatId: $('Normalize Request').item.json.chatId ?? null, input: { userInput: $('Normalize Request').item.json.userInput }, metadata: { projectSlug: $('Normalize Request').item.json.project.slug, requestId: $('Normalize Request').item.json.requestId, source: 'aismr.workflow' } } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -64,
          208
        ],
        "id": "783f1b96-21af-4228-ae7f-5fd9f29f6a1c",
        "name": "Create Run",
        "credentials": {
          "httpHeaderAuth": {
            "id": "PDRTlQZsKzQBcv6T",
            "name": "Mylo MCP"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const request = $('Normalize Request').item.json;\nconst runResponse = $('Create Run').item.json;\nconst run = runResponse?.data?.run ?? runResponse?.run ?? runResponse;\nif (!run || !run.id) {\n  throw new Error('Unable to determine run id from Create Run response.');\n}\nconst outputSchema = JSON.stringify({\n  type: 'object',\n  properties: {\n    userIdea: {\n      type: 'string',\n      description: 'Normalized base object (lowercase singular) applied to every idea.'\n    },\n    ideas: {\n      type: 'array',\n      minItems: 12,\n      maxItems: 12,\n      items: {\n        type: 'object',\n        properties: {\n          idea: {\n            type: 'string',\n            description: 'Title Case descriptor + singular object (two words, descriptor is one word).'\n          },\n          vibe: {\n            type: 'string',\n            description: '2-4 sentence explanation covering emotion, hook, texture, feasibility, replay value, and environment potential.'\n          }\n        },\n        required: ['idea', 'vibe'],\n        additionalProperties: false\n      }\n    }\n  },\n  required: ['userIdea', 'ideas'],\n  additionalProperties: false\n});\nreturn {\n  json: {\n    persona: 'ideagenerator',\n    project: request.project.slug,\n    projectId: request.project.id,\n    chatInput: request.userInput,\n    chatId: request.chatId ?? null,\n    runId: run.id,\n    run,\n    outputSchema,\n    request\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          208
        ],
        "id": "b2f4bf62-196f-463f-98e1-886f24b35c94",
        "name": "Prepare Idea Job"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Cz7h4stqCFJ4qZ9I",
            "mode": "list",
            "cachedResultUrl": "/workflow/Cz7h4stqCFJ4qZ9I",
            "cachedResultName": "Mylo_MCP_Bot"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chatInput": "={{ $json.chatInput }}",
              "outputSchema": "={{ $json.outputSchema }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "projectId",
                "displayName": "projectId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.8,
        "position": [
          384,
          208
        ],
        "id": "c0c8b71f-3fc9-4de1-bb31-de849182ecd7",
        "name": "Generate Ideas"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json ?? {};\nconst ideas = raw.ideas ?? raw.output ?? raw.result ?? raw;\nif (!Array.isArray(ideas) || ideas.length === 0) {\n  throw new Error('Expected at least one idea from Generate Ideas workflow.');\n}\nreturn {\n  json: {\n    ideas\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          208
        ],
        "id": "cdcc0b36-1409-4a93-b6e3-a535034b6b93",
        "name": "Extract Ideas"
      },
      {
        "parameters": {
          "resource": "list",
          "options": {}
        },
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 2.1,
        "position": [
          832,
          208
        ],
        "id": "576b2609-0bb4-4134-8ed4-5bfb9c8bc1bf",
        "name": "Ideas to Items"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://mcp-vector.mjames.dev/api/videos",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { projectId: $('Prepare Idea Job').item.json.projectId, runId: $('Prepare Idea Job').item.json.runId, idea: $json.idea, vibe: $json.vibe, metadata: { source: 'aismr.workflow' } } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1056,
          208
        ],
        "id": "92dffd37-0b52-4fdd-95ef-96a09a125e2c",
        "name": "Create Idea Records",
        "credentials": {
          "httpHeaderAuth": {
            "id": "PDRTlQZsKzQBcv6T",
            "name": "Mylo MCP"
          }
        }
      },
      {
        "parameters": {
          "aggregation": "aggregateLists",
          "keepMissing": false
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 2.1,
        "position": [
          1280,
          208
        ],
        "id": "bc31815e-8352-45e7-9209-8d5ed1104655",
        "name": "Collect Idea Records"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://mcp-vector.mjames.dev/api/runs",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { id: $('Prepare Idea Job').item.json.runId, status: 'complete', result: { ideas: $('Collect Idea Records').item.json }, metadata: { responseDurationMs: Date.now() - Date.parse($('Normalize Request').item.json.timestamps.receivedAt) } } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1504,
          208
        ],
        "id": "866a3c36-0397-41d4-b7c9-e7e1da08fd3c",
        "name": "Mark Run Complete",
        "credentials": {
          "httpHeaderAuth": {
            "id": "PDRTlQZsKzQBcv6T",
            "name": "Mylo MCP"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.return",
        "typeVersion": 1,
        "position": [
          1728,
          208
        ],
        "id": "73d5bbd8-6502-4b34-8fc4-1e9877b7ee3b",
        "name": "Return Response"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Normalize Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Request": {
        "main": [
          [
            {
              "node": "Create Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Run": {
        "main": [
          [
            {
              "node": "Prepare Idea Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Idea Job": {
        "main": [
          [
            {
              "node": "Generate Ideas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Ideas": {
        "main": [
          [
            {
              "node": "Extract Ideas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Ideas": {
        "main": [
          [
            {
              "node": "Ideas to Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ideas to Items": {
        "main": [
          [
            {
              "node": "Create Idea Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Idea Records": {
        "main": [
          [
            {
              "node": "Collect Idea Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Idea Records": {
        "main": [
          [
            {
              "node": "Mark Run Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Run Complete": {
        "main": [
          [
            {
              "node": "Return Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "When Executed by Another Workflow": [
        {
          "json": {
            "chatId": "telegram:123",
            "userInput": "Generate AISMR ideas about luminous seashells"
          }
        }
      ],
      "Create Run": [
        {
          "json": {
            "data": {
              "run": {
                "id": "d8e33955-fcaf-46f7-88ce-0dbee8e81950",
                "projectId": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
                "personaId": null,
                "chatId": "telegram:123",
                "status": "pending",
                "result": null,
                "input": {
                  "userInput": "Generate AISMR ideas about luminous seashells"
                },
                "metadata": {
                  "source": "aismr.workflow",
                  "requestId": "aismr-1761839242474-wepgz0",
                  "projectSlug": "aismr"
                },
                "startedAt": null,
                "completedAt": null,
                "createdAt": "2025-10-30 15:47:43.209+00",
                "updatedAt": "2025-10-30 15:47:43.209+00"
              }
            }
          }
        }
      ]
    },
    "versionId": "195f3835-46e8-4dde-a080-f0be4efa57fd",
    "triggerCount": 0
  }
}
