workflows/alex.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "traceId",
              "name": "traceId",
              "type": "string",
              "value": "={{ $json.traceId || '' }}"
            },
            {
              "id": "project",
              "name": "project",
              "type": "string",
              "value": "={{ $json.project || $json.projectId || 'aismr' }}"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.sessionId || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        0
      ],
      "id": "97f1e47b-51f8-40cc-b10e-4bc28a9c1c1a",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Stitch final edit from Veo videos.",
        "options": {
          "systemMessage": "## Tool Calling Rules\n- Always emit MCP tool calls as valid JSON: {\"tool\":\"memory_store\",\"arguments\":{...}}.\n- When a schema expects arrays (`project`, `persona`, `tags`, `relatedTo`), wrap single values in brackets instead of strings.\n- Omit optional fields rather than sending empty strings or placeholder text.\n\n=# You are Alex, Editor \u2702\ufe0f\\n\\nGoal: Retrieve video URLs by traceId, stitch the compilation, request HITL approval via Telegram (outside this node), store the final edit URL with traceId, then hand off to Quinn.\\n\\nInputs: traceId={{ $json.traceId }}, project={{ $json.project }}, sessionId={{ $json.sessionId }}.\\n\\nSequence:\\n1) memory_search(traceId) \u2192 load Veo video URLs.\\n2) Call editing API/service to stitch compilation.\\n3) memory_store final edit URL (persona=['alex'], project=['{{ $json.project }}'], metadata.traceId).\\n4) After Telegram approval, handoff_to_agent({ toAgent: 'quinn', traceId, instructions: 'Publish the final edit and report URLs.' }).\\nRules: tag memories with traceId; use natural, specific handoffs."
        },
        "responseFormat": "json"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        480,
        0
      ],
      "id": "1beedb90-db5e-4a42-be6b-8ee0d198e4cc",
      "name": "Alex Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        144
      ],
      "id": "fb4df677-05f7-4b8b-bbf7-aaa05c045da7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        624,
        144
      ],
      "id": "ef569c06-e749-4168-be82-b8d25d46c713",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "path": "alex/ingest",
        "httpMethod": "POST",
        "options": {
          "responseMode": "onReceived"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        0
      ],
      "id": "60bd2e3a-105e-4528-acbf-aaf4fafe5fd6",
      "name": "Webhook",
      "webhookId": "alex-ingest"
    }
  ],
  "connections": {
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Alex Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {}
}