workflows/chat.workflow.json
{
  "name": "Chat",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        112
      ],
      "id": "1533169e-7b8e-4c80-910e-b5c93a17ef5a",
      "name": "Telegram Message Trigger",
      "webhookId": "55acc711-c248-4ac9-b6cd-e295c2d33f4b",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e036177d-d4f5-44f3-9ef7-7c8cc9f19ba2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "6c65ff11-4dce-4d0a-91ba-6a9f5c778b87"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        112
      ],
      "id": "b69072c1-2088-400d-b29b-1f6c92fac7c6",
      "name": "Detect Voice Message"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        16
      ],
      "id": "76bc73be-33ad-446d-a1fb-c0612c236217",
      "name": "Get Voice File",
      "webhookId": "e0769871-efe3-49da-81a5-2f88a6fdd33f",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -336,
        16
      ],
      "id": "c8b89c06-ecfb-44f7-8408-97c1a23cb8e2",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "voice-text",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "voice-chat",
              "name": "chatId",
              "value": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "voice-message-id",
              "name": "telegramMessageId",
              "value": "={{ $('Telegram Message Trigger').first().json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "voice-file-id",
              "name": "voiceFileId",
              "value": "={{ $('Telegram Message Trigger').first().json.message.voice.file_id }}",
              "type": "string"
            },
            {
              "id": "voice-duration",
              "name": "voiceDurationSeconds",
              "value": "={{ $('Telegram Message Trigger').first().json.message.voice.duration || 0 }}",
              "type": "number"
            },
            {
              "id": "voice-type",
              "name": "messageType",
              "value": "voice",
              "type": "string"
            },
            {
              "id": "voice-platform",
              "name": "platform",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "voice-flag",
              "name": "voiceTranscription",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        16
      ],
      "id": "48710f57-4c51-4fe2-b6fc-caffc8560591",
      "name": "Set Voice Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-message",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "text-chat",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "text-message-id",
              "name": "telegramMessageId",
              "value": "={{ $json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "text-platform",
              "name": "platform",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "text-type",
              "name": "messageType",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        208
      ],
      "id": "c3ebad8c-a3ce-47cf-9ca6-d651c7695694",
      "name": "Set Text Message"
    },
    {
      "parameters": {
        "jsCode": "const UUID_PATTERN = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nfunction toBytes(value) {\n  const str = String(value);\n  if (typeof Buffer !== 'undefined') {\n    return Buffer.from(str, 'utf8');\n  }\n  if (typeof TextEncoder !== 'undefined') {\n    return new TextEncoder().encode(str);\n  }\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    let codePoint = str.charCodeAt(i);\n    if (codePoint >= 0xd800 && codePoint <= 0xdbff && i + 1 < str.length) {\n      const next = str.charCodeAt(i + 1);\n      if ((next & 0xfc00) === 0xdc00) {\n        i += 1;\n        codePoint = ((codePoint & 0x3ff) << 10) + (next & 0x3ff) + 0x10000;\n      }\n    }\n    if (codePoint < 0x80) {\n      bytes.push(codePoint);\n    } else if (codePoint < 0x800) {\n      bytes.push(0xc0 | (codePoint >> 6));\n      bytes.push(0x80 | (codePoint & 0x3f));\n    } else if (codePoint < 0x10000) {\n      bytes.push(0xe0 | (codePoint >> 12));\n      bytes.push(0x80 | ((codePoint >> 6) & 0x3f));\n      bytes.push(0x80 | (codePoint & 0x3f));\n    } else {\n      bytes.push(0xf0 | (codePoint >> 18));\n      bytes.push(0x80 | ((codePoint >> 12) & 0x3f));\n      bytes.push(0x80 | ((codePoint >> 6) & 0x3f));\n      bytes.push(0x80 | (codePoint & 0x3f));\n    }\n  }\n  return bytes;\n}\n\nfunction hashToBytes(value) {\n  const data = toBytes(value);\n  const state = new Uint32Array([\n    0x12345678,\n    0x9abcdef0,\n    0xfedcba98,\n    0x87654321,\n  ]);\n\n  for (let i = 0; i < data.length; i++) {\n    const byte = data[i];\n    const index = i % state.length;\n    state[index] = Math.imul(state[index] ^ byte ^ (i & 0xff), 2246822519);\n    state[index] = ((state[index] << 13) | (state[index] >>> 19)) >>> 0;\n    state[index] = (state[index] + state[(index + 1) % state.length]) >>> 0;\n  }\n\n  const bytes = new Uint8Array(16);\n  for (let i = 0; i < state.length; i++) {\n    bytes[i * 4] = (state[i] >>> 24) & 0xff;\n    bytes[i * 4 + 1] = (state[i] >>> 16) & 0xff;\n    bytes[i * 4 + 2] = (state[i] >>> 8) & 0xff;\n    bytes[i * 4 + 3] = state[i] & 0xff;\n  }\n  return bytes;\n}\n\nfunction uuidFromString(input) {\n  const bytes = hashToBytes(String(input));\n  bytes[6] = (bytes[6] & 0x0f) | 0x50;\n  bytes[8] = (bytes[8] & 0x3f) | 0x80;\n  const hex = Array.from(bytes, (byte) => byte.toString(16).padStart(2, '0')).join('');\n  return `${hex.slice(0, 8)}-${hex.slice(8, 12)}-${hex.slice(12, 16)}-${hex.slice(16, 20)}-${hex.slice(20)}`;\n}\n\nfunction ensureUuid(candidate) {\n  if (typeof candidate === 'string') {\n    const normalized = candidate.trim();\n    if (UUID_PATTERN.test(normalized)) {\n      return normalized.toLowerCase();\n    }\n    if (normalized.length > 0) {\n      return uuidFromString(normalized);\n    }\n  }\n  throw new Error('Unable to derive session identifier for conversation turn.');\n}\n\nfunction safeNodeData(name) {\n  try {\n    const handle = $(name);\n    if (!handle) {\n      return null;\n    }\n    if (typeof handle.first === 'function') {\n      const firstItem = handle.first();\n      return firstItem?.json ?? null;\n    }\n    return handle.item?.json ?? null;\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction firstNonEmpty(...values) {\n  for (const value of values) {\n    if (typeof value === 'string' && value.trim().length > 0) {\n      return value.trim();\n    }\n  }\n  return '';\n}\n\nconst telegramMessage = safeNodeData('Telegram Message Trigger')?.message ?? null;\nconst input = $json ?? {};\n\nlet text = firstNonEmpty(input.text, input.messageText, input.message);\nlet platform = input.platform ?? (telegramMessage ? 'telegram' : null);\nlet messageType = input.messageType ?? (telegramMessage?.voice ? 'voice' : 'text');\n\nlet chatId = input.chatId ?? telegramMessage?.chat?.id ?? null;\nif (chatId != null) {\n  chatId = String(chatId);\n}\n\nlet messageId = input.telegramMessageId ?? telegramMessage?.message_id ?? null;\nif (messageId != null) {\n  messageId = String(messageId);\n}\n\nlet userId = input.userId ?? null;\nif (!userId) {\n  if (platform === 'telegram' && telegramMessage?.from?.id != null) {\n    userId = `telegram:${telegramMessage.from.id}`;\n  } else if (chatId) {\n    userId = `${platform ?? 'unknown'}:${chatId}`;\n  } else if (messageId) {\n    userId = `${platform ?? 'unknown'}:${messageId}`;\n  }\n}\n\nif (!text) {\n  text = firstNonEmpty(telegramMessage?.text, telegramMessage?.caption, input.rawText);\n}\n\nconst attachments = [];\nif (telegramMessage?.voice) {\n  attachments.push({\n    type: 'telegram_voice',\n    fileId: telegramMessage.voice.file_id,\n    duration: telegramMessage.voice.duration ?? null,\n  });\n  if (messageType === 'text') {\n    messageType = 'voice';\n  }\n}\n\nif (!platform) {\n  platform = 'unknown';\n}\n\nconst timestamp = new Date().toISOString();\n\nlet sessionSeed = input.sessionId ?? null;\nif (!sessionSeed && chatId) {\n  sessionSeed = `${platform}:${chatId}`;\n} else if (!sessionSeed && messageId) {\n  sessionSeed = `${platform}:${messageId}`;\n}\n\nif (!sessionSeed) {\n  throw new Error('Unable to determine session identifier for conversation turn.');\n}\n\nconst sessionId = ensureUuid(sessionSeed);\n\nconst messageText = text.trim();\nconst contentForStore = messageText.length > 0 ? messageText : '(empty message)';\nconst memoryQuery = messageText.length > 0 ? messageText : messageType === 'voice' ? 'recent voice message transcription' : 'recent chat context';\n\nconst metadata = {\n  platform,\n  messageType,\n  chatId,\n  messageId,\n  workflow: 'chat',\n  timestamp,\n};\n\nif (attachments.length > 0) {\n  metadata.attachments = attachments;\n}\n\nconst conversationStorePayload = {\n  sessionId,\n  role: 'user',\n  content: contentForStore,\n  userId,\n  metadata,\n};\n\nif (messageText.length > 0) {\n  conversationStorePayload.embeddingText = messageText;\n}\n\nreturn {\n  json: {\n    platform,\n    messageType,\n    messageText,\n    memoryQuery,\n    chatId,\n    messageId,\n    userId,\n    sessionId,\n    timestamp,\n    attachments,\n    telegram: telegramMessage,\n    rawInput: input,\n    conversationStorePayload,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        112
      ],
      "id": "c20d5636-872d-4fdc-a7b5-2956690b717a",
      "name": "Normalize Chat Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/conversation/store",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.conversationStorePayload }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        112
      ],
      "id": "1c4a4185-3956-4676-a902-83140cfa57fa",
      "name": "Store User Turn",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Build minimal agent context and instruct the AI to load its own persona and project data via MCP tools\nconst base = $('Normalize Chat Event').item?.json ?? {};\nconst storeResponse = $('Store User Turn').item?.json ?? {};\n\nconst storedTurn = storeResponse.data?.turn ?? null;\nconst recentSummary = storedTurn\n  ? [`USER (${storedTurn.timestamp ?? 'recent'}): ${String(storedTurn.content ?? '')}`]\n  : ['No stored turns available.'];\n\nconst systemPrompt = [\n  'You are Casey, an AI collaborator for Mylo. Keep responses succinct, warm, and actionable.',\n  '## Startup sequence',\n  '1. Call `prompt_get` with {\"persona_name\":\"chat\"} to load your system guidance.',\n  '2. Call `conversation_remember` with the provided session id to retrieve relevant context.',\n  '3. Handle the current user input, using additional tools only if they are truly needed.',\n  'Once those steps are done, respond directly to the user input below.',\n  '## Latest user input',\n  ...recentSummary,\n].join(' ');\n\nreturn {\n  json: {\n    persona: null,\n    project: null,\n    session: {\n      id: base.sessionId,\n      originalId: base.sessionId,\n      userId: base.userId ?? null,\n    },\n    message: {\n      text: base.messageText ?? '',\n      type: base.messageType ?? 'text',\n      timestamp: base.timestamp ?? new Date().toISOString(),\n      telegramChatId: base.chatId ?? null,\n      telegramMessageId: base.messageId ?? null,\n      platform: base.platform ?? 'unknown',\n    },\n    platform: base.platform ?? 'unknown',\n    attachments: base.attachments ?? [],\n    memory: {\n      recentTurns: storedTurn ? [storedTurn] : [],\n    },\n    conversation: {\n      userTurn: storedTurn,\n    },\n    systemPrompt,\n    telemetry: {\n      userStore: storeResponse,\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        112
      ],
      "id": "52ab6b43-3cdc-4462-a540-41ed9d4d9922",
      "name": "Assemble Agent Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are Casey, conversational orchestrator. Identity: persona=\"chat\", project=null Goal: Help users with context-aware responses grounded in the current session. Bootstrap: Call prompt_get({\"persona_name\":\"chat\"}) to pull your prompt; if it fails, run prompt_search for \"chat workflow\" and retry prompt_get. After loading your prompt, recall context via conversation_remember, then respond.\n\n## RAG Decision Tree\nWhen to use each tool:\n1. Known persona/project? → prompt_get (exact lookup)\n2. Exploratory query? → prompt_search (hybrid mode, expandGraph=true, graphMaxHops=2)\n3. Recall past conversation? → conversation_remember (sessionId required)\n4. Need creative patterns? → prompt_search (expandGraph=true, graphMaxHops=2)\n5. Uncertain/ambiguous? → prompts_search_adaptive (3 iterations, utilityThreshold=0.75)\n\n## Search Mode Guidelines\n- keyword: Exact specs, technical terms (e.g., \"workflow definition screenwriter\")\n- hybrid: Most queries - combines semantic + lexical (default choice)\n- vector: Concept/theme matching when exact terms unknown\n\n## Graph Expansion Patterns\n- graphMaxHops=1: Direct connections only\n- graphMaxHops=2: Pattern discovery, creative adjacency (recommended for ideas)\n- graphMaxHops=3+: Deep exploration (rarely needed, slower)\n\nUse your tools as needed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        848,
        112
      ],
      "id": "de108ba0-ac47-4f93-abcf-b27e5bf09987",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        336
      ],
      "id": "50461772-7f1d-4c2c-a636-5d3c747ec735",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        912,
        336
      ],
      "id": "c7a8bd4d-c0cc-4656-b535-33fcf05d91e9",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "description": "Executes the AISMR video generation workflow which handles idea generation, screenplay creation, and video production. Requires a conversation turn ID to retrieve user input and context. Returns workflow execution results including generated ideas, scripts, or video metadata.",
        "workflowId": {
          "__rl": true,
          "value": "4TEgnw5MR5Er2Vb5",
          "mode": "list",
          "cachedResultUrl": "/workflow/4TEgnw5MR5Er2Vb5",
          "cachedResultName": "AISMR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "turnId": "={{ $('Assemble Agent Context').item.json.memory.recentTurns[0].id }}"
          },
          "matchingColumns": [
            "turnId"
          ],
          "schema": [
            {
              "id": "turnId",
              "displayName": "turnId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1040,
        336
      ],
      "id": "a3a55cf5-96ce-4d6c-80bd-fc3d5da319a9",
      "name": "AISMR Workflow"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Assemble Agent Context').item?.json ?? {};\nconst rawOutput = $json.output ?? $json.result ?? $json.response ?? $json;\nlet content = typeof rawOutput === 'string' ? rawOutput : rawOutput?.output ?? null;\nif (!content || typeof content !== 'string' || content.trim().length === 0) {\n  content = JSON.stringify(rawOutput, null, 2);\n}\nconst trimmed = content.length > 12000 ? `${content.slice(0, 11997)}...` : content;\nconst timestamp = new Date().toISOString();\n\nconst metadata = {\n  platform: context.platform,\n  personaId: context.persona?.id ?? null,\n  projectId: context.project?.id ?? null,\n  workflow: 'chat',\n  timestamp,\n};\n\nif (context.message?.telegramChatId) {\n  metadata.chatId = context.message.telegramChatId;\n}\nif (context.message?.telegramMessageId) {\n  metadata.messageId = context.message.telegramMessageId;\n}\n\nconst payload = {\n  sessionId: context.session?.id,\n  role: 'assistant',\n  content: trimmed,\n  userId: context.session?.userId ?? null,\n  metadata,\n  embeddingText: trimmed,\n};\n\nreturn {\n  json: {\n    ...context,\n    agentOutput: trimmed,\n    responseText: trimmed,\n    conversationStorePayload: payload,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        112
      ],
      "id": "aefa282c-e031-4c6e-be12-5d3030e7c3d4",
      "name": "Prepare Assistant Store Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/conversation/store",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.conversationStorePayload }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        112
      ],
      "id": "3f8ea9e3-e992-44fa-a4cb-7204a0299f8c",
      "name": "Store Assistant Turn",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const context = $('Prepare Assistant Store Request').item?.json ?? {};\nconst assistantStore = $json.data?.turn ?? null;\n\nreturn {\n  json: {\n    responseText: context.responseText,\n    persona: context.persona ?? null,\n    project: context.project ?? null,\n    session: context.session ?? null,\n    message: context.message ?? null,\n    platform: context.platform ?? null,\n    conversation: {\n      userTurn: context.conversation?.userTurn ?? null,\n      assistantTurn: assistantStore,\n    },\n    telemetry: {\n      assistantStore: $json,\n    },\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        112
      ],
      "id": "f894ab04-2a1d-429f-a931-219632389f37",
      "name": "Finalize Response"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.telegramChatId }}",
        "text": "={{ $json.responseText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        112
      ],
      "id": "4bfc2a3e-82f2-4b09-8e18-c26036408fc8",
      "name": "Reply in Telegram",
      "webhookId": "b96b7a41-9806-455f-b72e-00aa638eda71",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Telegram Message Trigger": {
      "main": [
        [
          {
            "node": "Detect Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Voice Message": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Set Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Voice Message": {
      "main": [
        [
          {
            "node": "Normalize Chat Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Message": {
      "main": [
        [
          {
            "node": "Normalize Chat Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chat Event": {
      "main": [
        [
          {
            "node": "Store User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Turn": {
      "main": [
        [
          {
            "node": "Assemble Agent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Agent Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Assistant Store Request",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Handle AI Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AISMR Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Assistant Store Request": {
      "main": [
        [
          {
            "node": "Store Assistant Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Assistant Turn": {
      "main": [
        [
          {
            "node": "Finalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Response": {
      "main": [
        [
          {
            "node": "Reply in Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "active": false,
  "versionId": "c8ddd2b9-2d1b-4545-9dba-2f800a55fa4e",
  "id": "VrRa5g4bBCf0esst",
  "meta": null,
  "pinData": null,
  "updatedAt": "2025-11-04T09:42:15.430Z",
  "createdAt": "2025-11-04T09:42:15.430Z",
  "isArchived": false,
  "versionCounter": 1,
  "triggerCount": 0
}