workflows/edit-aismr.workflow.json
{
  "updatedAt": "2025-11-04T00:15:24.827Z",
  "createdAt": "2025-11-02T01:07:28.641Z",
  "id": "uLwOn2FpGtS7DiqE",
  "name": "Edit_AISMR",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// n8n Script node: build Shotstack edit JSON honoring AISMR transition spec\nconst zodiacSigns = [\n  'Aries',\n  'Taurus',\n  'Gemini',\n  'Cancer',\n  'Leo',\n  'Virgo',\n  'Libra',\n  'Scorpio',\n  'Sagittarius',\n  'Capricorn',\n  'Aquarius',\n  'Pisces',\n];\n\nconst MAX_CLIPS = 12;\nconst CLIP_DURATION = 8; // Match actual video duration (Veo 3 Fast max)\nconst TRANSITION_DURATION = 1; // 1-second crossfade transitions\nconst STRIDE = 6.5; // Clips overlap by 1.5 seconds for crossfade\nconst MICRO_MOTION_SECONDS = 1;\nconst MICRO_MOTION_DELTA = 0.015;\nconst MICRO_MOTION_START = Math.max(CLIP_DURATION - MICRO_MOTION_SECONDS, 0);\nconst TEXT_VISIBLE_DURATION = 5; // Text visible window per clip\nconst TEXT_ENTRY_DELAY = 0.5; // Delay before text appears, shifts fade window later\n\nconst inputItems = $input.all();\n\n// With 12 clips at STRIDE=6.5, total duration = (12-1)*6.5 + 8 = 71.5 + 8 = 79.5 seconds\n\nconst toTimestamp = (value) => {\n  const ts = Date.parse(value ?? '');\n  return Number.isNaN(ts) ? 0 : ts;\n};\n\nconst videos = (() => {\n  const candidates = inputItems\n    .filter((item) => item?.json?.video_link)\n    .sort(\n      (a, b) =>\n        toTimestamp(a.json.created_at ?? a.json.createdAt) -\n        toTimestamp(b.json.created_at ?? b.json.createdAt)\n    )\n    .slice(0, MAX_CLIPS)\n    .map((item, idx) => ({\n      link: item.json.video_link,\n      label: item.json.idea?.trim() || `Idea ${idx + 1}`,\n    }));\n\n  console.log(`Found ${candidates.length} videos from input data`);\n\n  if (candidates.length === 0) {\n    throw new Error(\n      'No videos found in input data. Expected items with video_link property.'\n    );\n  }\n\n  console.log(`Using ${candidates.length} videos from input`);\n  return candidates;\n})();\n\nconst items = videos.map((video, idx) => ({\n  link: video.link,\n  label: video.label,\n  title: zodiacSigns[idx % zodiacSigns.length],\n  start: idx * STRIDE,\n}));\n\nconsole.log(\n  `Creating ${\n    items.length\n  } video clips with ${TRANSITION_DURATION}s crossfade (stride: ${STRIDE}s, total: ${\n    (items.length - 1) * STRIDE + CLIP_DURATION\n  }s)`\n);\n\nconst buildTextClip = (item, { text, fontSize, height, position }) => ({\n  asset: {\n    type: 'text',\n    text,\n    width: 1000,\n    height,\n    font: {\n      family: 'Futura', // Elegant, minimal, modern — perfect for ASMR aesthetic\n      color: '#ffffff',\n      size: fontSize,\n      weight: 500, // Medium weight for clean readability\n    },\n    alignment: {\n      horizontal: 'center',\n      vertical: 'top',\n    },\n  },\n  start: item.start + TEXT_ENTRY_DELAY,\n  length: TEXT_VISIBLE_DURATION,\n  position,\n  transition: { in: 'fade', out: 'fade' },\n});\n\nconst topTracks = items.map((item) => ({\n  clips: [\n    buildTextClip(item, {\n      text: item.title,\n      fontSize: 92,\n      height: 400,\n      position: 'bottom',\n    }),\n  ],\n}));\n\nconst bottomTracks = items.map((item) => ({\n  clips: [\n    buildTextClip(item, {\n      text: item.label,\n      fontSize: 64,\n      height: 250,\n      position: 'bottom',\n    }),\n  ],\n}));\n\nconst makeVideoClip = (item, index, totalClips) => {\n  const clip = {\n    asset: {\n      type: 'video',\n      src: item.link,\n    },\n    start: item.start,\n    length: CLIP_DURATION,\n    effect: 'zoomInSlow',\n  };\n\n  // Add micro-motion at the end of each clip\n  // CRITICAL: Tween start times are RELATIVE TO CLIP, not timeline!\n  if (CLIP_DURATION > MICRO_MOTION_SECONDS) {\n    clip.offset = {\n      x: [\n        {\n          from: 0,\n          to: MICRO_MOTION_DELTA,\n          start: MICRO_MOTION_START, // Clip-relative: starts at 7s into the clip\n          length: MICRO_MOTION_SECONDS,\n          interpolation: 'bezier',\n          easing: 'easeInOutSine',\n        },\n      ],\n    };\n  }\n\n  // Use custom opacity tweens for crossfade (no built-in transitions)\n  // Per AISMR spec: \"Transitions never pause content - clips continue moving through transitions\"\n  // CRITICAL: Tween start times are RELATIVE TO CLIP, not timeline (start from 0)\n  const opacityTweens = [];\n\n  if (index === 0) {\n    // First clip: fade in 0→1 (0-1s), hold at 1 (1-7s), fade out 1→0 (7-8s)\n    opacityTweens.push(\n      {\n        from: 0,\n        to: 1,\n        start: 0,\n        length: TRANSITION_DURATION,\n        interpolation: 'bezier',\n        easing: 'easeInOutSine',\n      },\n      {\n        from: 1,\n        to: 1,\n        start: TRANSITION_DURATION,\n        length: CLIP_DURATION - 2 * TRANSITION_DURATION, // Hold for 6 seconds\n        interpolation: 'linear',\n      },\n      {\n        from: 1,\n        to: 0,\n        start: CLIP_DURATION - TRANSITION_DURATION,\n        length: TRANSITION_DURATION,\n        interpolation: 'bezier',\n        easing: 'easeInOutSine',\n      }\n    );\n  } else if (index === totalClips - 1) {\n    // Last clip: fade in 0→1 (0-1s), hold at 1 (1-8s), no fade out\n    opacityTweens.push(\n      {\n        from: 0,\n        to: 1,\n        start: 0,\n        length: TRANSITION_DURATION,\n        interpolation: 'bezier',\n        easing: 'easeInOutSine',\n      },\n      {\n        from: 1,\n        to: 1,\n        start: TRANSITION_DURATION,\n        length: CLIP_DURATION - TRANSITION_DURATION, // Hold for 7 seconds\n        interpolation: 'linear',\n      }\n    );\n  } else {\n    // Middle clips: fade in 0→1 (0-1s), hold at 1 (1-7s), fade out 1→0 (7-8s)\n    opacityTweens.push(\n      {\n        from: 0,\n        to: 1,\n        start: 0,\n        length: TRANSITION_DURATION,\n        interpolation: 'bezier',\n        easing: 'easeInOutSine',\n      },\n      {\n        from: 1,\n        to: 1,\n        start: TRANSITION_DURATION,\n        length: CLIP_DURATION - 2 * TRANSITION_DURATION, // Hold for 6 seconds\n        interpolation: 'linear',\n      },\n      {\n        from: 1,\n        to: 0,\n        start: CLIP_DURATION - TRANSITION_DURATION,\n        length: TRANSITION_DURATION,\n        interpolation: 'bezier',\n        easing: 'easeInOutSine',\n      }\n    );\n  }\n\n  clip.opacity = opacityTweens;\n\n  return clip;\n};\n\n// Create video tracks with proper layering for crossfade transitions\n// Each clip on separate track so top clip fades out to reveal clip below\nconst videoTracks = items.map((item, idx) => ({\n  clips: [makeVideoClip(item, idx, items.length)],\n}));\n\nconst tracks = [\n  ...topTracks, // text overlays stay above video\n  ...bottomTracks,\n  ...videoTracks,\n];\n\nconst timeline = {\n  background: '#000000',\n  tracks,\n};\n\nconst edit = {\n  timeline,\n  output: {\n    format: 'mp4',\n    resolution: 'hd',\n    aspectRatio: '9:16',\n  },\n};\n\nreturn [{ json: edit }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        496
      ],
      "id": "636b315f-1053-49f3-b551-c8ce2c1c0e21",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos?run=' + encodeURIComponent(($('When Executed by Another Workflow').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        496
      ],
      "id": "9fd8087d-0070-4442-bb17-a55effeade3c",
      "name": "Get many rows (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        400
      ],
      "id": "ab013440-cbc9-4aec-b30b-a74ee5615021",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/stage/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        496
      ],
      "id": "4d8a32a6-eb44-454d-b789-373ae2d77742",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "S31bXA351k9zXbHo",
          "name": "shotstack"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/edit/stage/render/{{ $json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        496
      ],
      "id": "b9a7113d-6245-418d-be27-18d6717e2bc1",
      "name": "Get Video4",
      "credentials": {
        "httpBearerAuth": {
          "id": "AXZk8w06m78wmbXh",
          "name": "Bearer Auth account 2"
        },
        "httpHeaderAuth": {
          "id": "S31bXA351k9zXbHo",
          "name": "shotstack"
        }
      }
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1536,
        592
      ],
      "id": "ace47c24-b39f-4a52-bc4f-7c827e7eb6e5",
      "name": "Wait",
      "webhookId": "9fd30610-c0b9-4f5c-9af5-89b821c11ec3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6888dba1-6521-483a-a544-e9044c397f1c",
                    "leftValue": "={{ $json.response.url }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "973ecf21-58b8-41df-a780-1ad778e963bf",
                    "leftValue": "={{ $json.response.url }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1312,
        432
      ],
      "id": "e8f852dd-0b33-43b5-9cf8-bc8df619a37f",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        80
      ],
      "id": "9bc69749-e21d-4276-839a-e264f24cadf5",
      "name": "On Error"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Executed by Another Workflow').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        304
      ],
      "id": "7bf3d9f8-5149-443d-a1d0-0a0d4c418c52",
      "name": "Get Run (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.workflowRun ?? $json?.data?.workflowRun ?? null;\nif (!payload) {\n  throw new Error('Workflow run payload missing from API response.');\n}\n\nconst metadata = {};\nif (payload.input && typeof payload.input === 'object') {\n  if (payload.input.metadata && typeof payload.input.metadata === 'object') {\n    Object.assign(metadata, payload.input.metadata);\n  }\n  if (payload.input.turn && typeof payload.input.turn === 'object' && payload.input.turn.metadata && typeof payload.input.turn.metadata === 'object') {\n    Object.assign(metadata, payload.input.turn.metadata);\n  }\n  if (payload.input.projectSlug && typeof payload.input.projectSlug === 'string' && !metadata.projectSlug) {\n    metadata.projectSlug = payload.input.projectSlug;\n  }\n}\nif (!metadata.projectSlug && typeof payload.projectId === 'string') {\n  metadata.projectSlug = payload.projectId;\n}\n\nreturn [{ json: { ...payload, metadata } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        304
      ],
      "id": "8e6b8d20-2b75-4d33-9ed1-9b83d0c083c6",
      "name": "Normalize Run"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Executed by Another Workflow').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const getNodeData = (name) => { try { return $(name).item?.json ?? null; } catch (error) { return null; } }; const run = getNodeData('Normalize Run') ?? {}; const stages = run.stages ?? {}; const clone = (value) => (value && typeof value === 'object' ? { ...value } : {}); const ideaStage = clone(stages.idea_generation); if (!ideaStage.status) { ideaStage.status = 'completed'; } const screenplayStage = clone(stages.screenplay); if (!screenplayStage.status) { screenplayStage.status = 'completed'; } const videoStage = clone(stages.video_generation); if (!videoStage.status) { videoStage.status = 'completed'; } const publishingStage = { ...clone(stages.publishing), status: 'failed', error: { message: $json.error?.message ?? 'Editing workflow failed.', stack: $json.error?.stack ?? null, lastNode: $json.execution?.lastNodeExecuted ?? null } }; return { status: 'failed', currentStage: 'publishing', stages: { idea_generation: ideaStage, screenplay: screenplayStage, video_generation: videoStage, publishing: publishingStage }, output: { ...(run.output ?? {}), video_generation: run.output?.video_generation ?? videoStage.output ?? {}, publishing: { ...(run.output?.publishing ?? {}), error: { message: $json.error?.message ?? 'Editing workflow failed.', stack: $json.error?.stack ?? null, lastNode: $json.execution?.lastNodeExecuted ?? null } } } };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        80
      ],
      "id": "d0f105bf-554f-4e60-8754-a59b7245a978",
      "name": "Mark Run Failed (Edit)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Executed by Another Workflow').first().json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const getNodeData = (name) => { try { return $(name).item?.json ?? null; } catch (error) { return null; } }; const run = getNodeData('Normalize Run') ?? {}; const stages = run.stages ?? {}; const clone = (value) => (value && typeof value === 'object' ? { ...value } : {}); const ideaStage = clone(stages.idea_generation); if (!ideaStage.status) { ideaStage.status = 'completed'; } const screenplayStage = clone(stages.screenplay); if (!screenplayStage.status) { screenplayStage.status = 'completed'; } const videoStage = clone(stages.video_generation); if (!videoStage.status) { videoStage.status = 'completed'; } const editUrl = $json.response?.url ?? null; const editId = $json.response?.id ?? null; const publishingStage = { ...clone(stages.publishing), status: 'in_progress', output: { ...(clone(stages.publishing)?.output ?? {}), editUrl, editId, completedAt: new Date().toISOString() } }; const mergedOutput = { ...(run.output ?? {}), video_generation: run.output?.video_generation ?? videoStage.output ?? {}, publishing: { ...(run.output?.publishing ?? {}), editUrl, editId, completedAt: new Date().toISOString() } }; return { status: 'running', currentStage: 'publishing', stages: { idea_generation: ideaStage, screenplay: screenplayStage, video_generation: videoStage, publishing: publishingStage }, output: mergedOutput };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        384
      ],
      "id": "e5dfd393-2996-4c9a-a3f6-f35696501914",
      "name": "Mark Run Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const videos = $json?.data?.videos;\nif (!Array.isArray(videos)) {\n  throw new Error('Video list missing from API response.');\n}\nreturn videos.map((video) => ({\n  json: {\n    ...video,\n    run_id: video.runId ?? null,\n    project_id: video.projectId ?? null,\n    user_idea: video.userIdea ?? null,\n    video_link: video.videoLink ?? null,\n    status: video.status ?? null,\n    error_message: video.errorMessage ?? null,\n    started_at: video.startedAt ?? null,\n    completed_at: video.completedAt ?? null,\n    created_at: video.createdAt ?? null,\n    updated_at: video.updatedAt ?? null,\n    metadata: video.metadata ?? {},\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        496
      ],
      "id": "5d22ba08-3661-4c79-94d3-6b24057f972b",
      "name": "Get many rows"
    }
  ],
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many rows (API)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mark Run Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Edit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Edit)": {
      "main": [
        []
      ]
    },
    "Get many rows (API)": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Normalize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Run": {
      "main": [
        []
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "workflowRun": {
            "id": "69b2c22c-fbd3-421e-bc5c-43f51ced5fbb",
            "projectId": "aismr",
            "sessionId": "a19c5482-7fdf-5a4d-88cb-1ba1fe4163fc",
            "currentStage": "publishing",
            "status": "running",
            "stages": {
              "publishing": {
                "status": "in_progress"
              },
              "screenplay": {
                "output": {
                  "videoId": "9d5f06fd-0eac-4ce3-a426-fed758e1376c",
                  "screenplay": {
                    "title": "Puppy ASMR",
                    "scenes": [],
                    "triggerWords": [],
                    "totalDuration": 60
                  },
                  "completedAt": "2025-11-03T23:52:41.695Z"
                },
                "status": "completed"
              },
              "idea_generation": {
                "status": "pending"
              },
              "video_generation": {
                "output": {
                  "idea": "ember puppy",
                  "ideaId": "9d5f06fd-0eac-4ce3-a426-fed758e1376c",
                  "status": "video_gen",
                  "videoUrl": "https://tempfile.aiquickdraw.com/v/12b3fab3426407ebfed4ab2abf2c1d64_1762214360.mp4"
                },
                "status": "completed"
              }
            },
            "input": {
              "turn": {
                "id": "c306939b-0b61-4ece-a978-011cb75f6d43",
                "role": "user",
                "userId": "telegram:6559268788",
                "content": "Make an asmr video about puppies",
                "summary": null,
                "metadata": {
                  "chatId": "6559268788",
                  "preview": "Make an asmr video about puppies",
                  "keywords": [
                    "make",
                    "asmr",
                    "video",
                    "about",
                    "puppies"
                  ],
                  "platform": "telegram",
                  "workflow": "chat",
                  "messageId": "156",
                  "timestamp": "2025-11-03T22:36:29.120Z",
                  "messageType": "text"
                },
                "createdAt": "2025-11-03 22:36:29.219968+00",
                "sessionId": "a19c5482-7fdf-5a4d-88cb-1ba1fe4163fc",
                "turnIndex": 19,
                "updatedAt": "2025-11-03 22:36:29.219968+00"
              },
              "chatId": "6559268788",
              "source": "aismr_orchestrator",
              "turnId": "c306939b-0b61-4ece-a978-011cb75f6d43",
              "personaId": "ideagenerator",
              "userInput": "Make an asmr video about puppies"
            },
            "output": {
              "screenplay": {
                "title": "Puppy ASMR",
                "scenes": [],
                "triggerWords": [],
                "totalDuration": 60
              },
              "video_generation": {
                "idea": "ember puppy",
                "ideaId": "9d5f06fd-0eac-4ce3-a426-fed758e1376c",
                "status": "video_gen",
                "videoUrl": "https://tempfile.aiquickdraw.com/v/12b3fab3426407ebfed4ab2abf2c1d64_1762214360.mp4"
              }
            },
            "workflowDefinitionChunkId": null,
            "createdAt": "2025-11-03 23:52:28.246+00",
            "updatedAt": "2025-11-03 23:59:28.646+00"
          }
        }
      }
    ]
  },
  "versionId": "94067048-5b96-4de3-8168-ebd180123870",
  "triggerCount": 0
}
