workflows/edit-aismr.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// n8n Script node: build minimal Shotstack edit JSON (text asset minimal)\nconst months = [\n  'January','February','March','April','May','June',\n  'July','August','September','October','November','December'\n];\n\nconst duration = 10; // seconds per clip\n\n// grab input items (n8n provides $input)\nconst inputItems = $input.all();\n\n// build video list from input or fallback sample\nconst videos = (inputItems\n  .filter(v => v?.json?.video_link)\n  .sort((a, b) => new Date(a.json.created_at) - new Date(b.json.created_at))\n  .slice(0, 12)\n  .map((v, i) => ({ link: v.json.video_link, title: v.json.idea || (`Idea ${i+1}`) }))\n) .length ? (inputItems\n  .filter(v => v?.json?.video_link)\n  .sort((a, b) => new Date(a.json.created_at) - new Date(b.json.created_at))\n  .slice(0, 12)\n  .map((v, i) => ({ link: v.json.video_link, label: v.json.idea || (`Idea ${i+1}`) }))\n) : [\n  // fallback/test videos — replace/remove in production\n  { link: 'https://tempfile.aiquickdraw.com/v/d62967ee64de5f4def1c7eeb98467c7a_1761485969.mp4', label: 'Sample idea 1' },\n  { link: 'https://tempfile.aiquickdraw.com/v/bc45d511685d85430ce100539d64653c_1761485995.mp4', label: 'Sample idea 2' }\n];\n\n// create items with start times and labels\nconst items = videos.map((v, idx) => ({\n  link: v.link,\n  title: months[idx % months.length],\n  label: v.label,\n  start: idx * duration\n}));\n\n// build top text clips (minimal fields exactly as requested)\nconst topClips = items.map(it => ({\n  asset: {\n    type: \"text\",\n    text: it.title,\n    width: 1000,\n    height: 200,\n    font: {\n      family: \"Open Sans\",\n      color: \"#ffffff\",\n      opacity: 0.8,\n      size: 48,\n      weight: 400,\n      lineHeight: 0.85\n    },\n    alignment: {\n      horizontal: \"center\",\n      vertical: \"top\"\n    }\n  },\n  start: it.start,\n  length: duration,\n  position: \"bottom\"\n}));\n\n// build bottom text clips (minimal fields)\nconst bottomClips = items.map(it => ({\n  asset: {\n    type: \"text\",\n    text: it.label,\n    width: 1000,\n    height: 100,\n    font: {\n      family: \"Open Sans\",\n      color: \"#ffffff\",\n      opacity: 0.8,\n      size: 24,\n      weight: 400,\n      lineHeight: 0.85\n    },\n    alignment: {\n      horizontal: \"center\",\n      vertical: \"top\"\n    }\n  },\n  start: it.start,\n  length: duration,\n  position: \"bottom\"\n}));\n\n// build video clips (hard cuts)\nconst videoClips = items.map(it => ({\n  asset: {\n    type: \"video\",\n    src: it.link\n  },\n  start: it.start,\n  length: duration\n}));\n\n// final edit JSON (minimal)\nconst edit = {\n  timeline: {\n    background: \"#000000\",\n    tracks: [\n      { clips: topClips },    // top overlay (first = topmost)\n      { clips: bottomClips }, // bottom overlay\n      { clips: videoClips }   // base video track\n    ]\n  },\n  output: {\n    format: \"mp4\",\n    resolution: \"hd\",\n    aspectRatio: \"9:16\"\n  }\n};\n\n// return for next node (HTTP Request)\nreturn [{ json: edit }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        384
      ],
      "id": "636b315f-1053-49f3-b551-c8ce2c1c0e21",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "videos",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "run_id",
              "condition": "eq",
              "keyValue": "={{ $json.runId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        384
      ],
      "id": "9fd8087d-0070-4442-bb17-a55effeade3c",
      "name": "Get many rows",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        384
      ],
      "id": "ab013440-cbc9-4aec-b30b-a74ee5615021",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/stage/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        384
      ],
      "id": "4d8a32a6-eb44-454d-b789-373ae2d77742",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "S31bXA351k9zXbHo",
          "name": "shotstack"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/edit/stage/render/{{ $json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        384
      ],
      "id": "b9a7113d-6245-418d-be27-18d6717e2bc1",
      "name": "Get Video4",
      "credentials": {
        "httpBearerAuth": {
          "id": "AXZk8w06m78wmbXh",
          "name": "Bearer Auth account 2"
        },
        "httpHeaderAuth": {
          "id": "S31bXA351k9zXbHo",
          "name": "shotstack"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        384
      ],
      "id": "ace47c24-b39f-4a52-bc4f-7c827e7eb6e5",
      "name": "Wait",
      "webhookId": "9fd30610-c0b9-4f5c-9af5-89b821c11ec3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6888dba1-6521-483a-a544-e9044c397f1c",
                    "leftValue": "={{ $json.response.url }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "973ecf21-58b8-41df-a780-1ad778e963bf",
                    "leftValue": "={{ $json.response.url }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1088,
        304
      ],
      "id": "e8f852dd-0b33-43b5-9cf8-bc8df619a37f",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        80
      ],
      "id": "9bc69749-e21d-4276-839a-e264f24cadf5",
      "name": "On Error"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "result",
              "fieldValue": "edit_error"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        80
      ],
      "id": "d0f105bf-554f-4e60-8754-a59b7245a978",
      "name": "Mark Run Failed (Edit)",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "complete"
            },
            {
              "fieldId": "result",
              "fieldValue": "={{ $json.response.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        224
      ],
      "id": "e5dfd393-2996-4c9a-a3f6-f35696501914",
      "name": "Mark Run Complete",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mark Run Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Edit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Edit)": {
      "main": [
        []
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "runId": "8b3c4420-4cd6-426f-b68b-19232dd49375"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
