workflows/error-handler.workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 168],
      "id": "error-trigger-001",
      "name": "Error Trigger",
      "notes": "Triggers when any monitored workflow fails. Extracts error details from execution data."
    },
    {
      "parameters": {
        "jsCode": "// Extract traceId from execution metadata or workflow context\nconst errorData = $input.item.json;\nconst execution = errorData.execution || {};\nconst workflow = errorData.workflow || {};\n\n// Try to extract traceId from various sources\nlet traceId = null;\nlet sessionId = null;\n\n// Check execution metadata\nif (execution.metadata && execution.metadata.traceId) {\n  traceId = execution.metadata.traceId;\n}\n\n// Check execution data for traceId\nif (!traceId && execution.data) {\n  const data = Array.isArray(execution.data) ? execution.data[0] : execution.data;\n  if (data && data.json && data.json.traceId) {\n    traceId = data.json.traceId;\n    sessionId = data.json.sessionId;\n  }\n}\n\n// Check workflow metadata\nif (!traceId && workflow.metadata && workflow.metadata.traceId) {\n  traceId = workflow.metadata.traceId;\n}\n\n// Extract error details\nconst errorMessage = execution.error?.message || execution.error?.name || 'Unknown error';\nconst errorStack = execution.error?.stack || '';\nconst lastNode = execution.lastNodeExecuted || 'Unknown node';\nconst executionId = execution.id || null;\nconst executionUrl = execution.url || null;\n\nreturn [{\n  json: {\n    traceId,\n    sessionId,\n    errorMessage,\n    errorStack,\n    lastNode,\n    executionId,\n    executionUrl,\n    workflowId: workflow.id || null,\n    workflowName: workflow.name || 'Unknown workflow',\n    mode: execution.mode || 'unknown'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 168],
      "id": "extract-error-data",
      "name": "Extract Error Data",
      "notes": "Extracts traceId, sessionId, and error details from error trigger payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-trace-id",
              "leftValue": "={{ $json.traceId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [688, 168],
      "id": "check-trace-id",
      "name": "Has Trace ID?",
      "notes": "Routes to trace update if traceId exists, otherwise just logs error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tool: 'handoff_to_agent',\n  arguments: {\n    traceId: $json.traceId,\n    toAgent: 'error',\n    instructions: `Workflow failed: ${$json.errorMessage} at node ${$json.lastNode}`\n  }\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [912, 96],
      "id": "update-trace-status",
      "name": "Update Trace Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "notes": "Calls MCP handoff_to_agent with toAgent: 'error' to mark trace as failed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tool: 'memory_store',\n  arguments: {\n    content: `Workflow error: ${$json.errorMessage}`,\n    memoryType: 'episodic',\n    tags: ['error', 'workflow-failure'],\n    persona: ['system'],\n    metadata: {\n      traceId: $json.traceId,\n      workflowId: $json.workflowId,\n      workflowName: $json.workflowName,\n      lastNode: $json.lastNode,\n      errorStack: $json.errorStack,\n      executionId: $json.executionId\n    }\n  }\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1136, 96],
      "id": "store-error-memory",
      "name": "Store Error Memory",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "notes": "Stores error details in memory for observability and debugging"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-telegram-session",
              "leftValue": "={{ $json.sessionId }}",
              "rightValue": "telegram:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 96],
      "id": "check-telegram-session",
      "name": "Is Telegram Session?",
      "notes": "Routes to Telegram notification if sessionId starts with telegram:"
    },
    {
      "parameters": {
        "jsCode": "// Log error for non-Telegram sessions or when Telegram notification fails\nconst errorData = $input.item.json;\nconsole.log(JSON.stringify({\n  event: 'workflow_error_handled',\n  traceId: errorData.traceId,\n  workflowName: errorData.workflowName,\n  lastNode: errorData.lastNode,\n  errorMessage: errorData.errorMessage,\n  timestamp: new Date().toISOString()\n}));\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1584, 264],
      "id": "log-error",
      "name": "Log Error",
      "notes": "Logs error details for observability (fallback path for non-Telegram sessions)"
    },
    {
      "parameters": {
        "chatId": "={{ $json.sessionId.split(':')[1] }}",
        "text": "={{ `⚠️ Workflow Error  Your workflow failed:  Workflow: ${$json.workflowName} Node: ${$json.lastNode} Error: ${$json.errorMessage}  Execution: ${$json.executionUrl || 'N/A'}` }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1584, 48],
      "id": "34b93fa2-b136-4ca0-9ea8-17a20e1ba31e",
      "name": "Send a text message",
      "webhookId": "28c81e06-0418-4f3f-8299-d69b4d12652b",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Data": {
      "main": [
        [
          {
            "node": "Has Trace ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Trace ID?": {
      "main": [
        [
          {
            "node": "Update Trace Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Trace Status": {
      "main": [
        [
          {
            "node": "Store Error Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Error Memory": {
      "main": [
        [
          {
            "node": "Is Telegram Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram Session?": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d47e04d370a1b43496c097b567956ffb03a57fcf0b3917656c3ea43ad368f887"
  }
}
