workflows/generate-ideas.workflow.json
{
  "updatedAt": "2025-11-04T00:15:24.859Z",
  "createdAt": "2025-11-02T01:07:29.166Z",
  "id": "9tBbhRfA4149YH0f",
  "name": "Generate Ideas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userInput"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6240,
        -96
      ],
      "id": "8df43fa0-c6fa-4744-a471-0f5dd30166b8",
      "name": "When Called"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/videos/batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.batchData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4656,
        -96
      ],
      "id": "4c83097b-61a1-43a3-ac1b-f6ba24b825f1",
      "name": "Create Batch Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ideas",
        "include": "selectedOtherFields",
        "fieldsToInclude": "userIdea",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -6240,
        232
      ],
      "id": "bfd42c2b-d229-43ae-80c2-87e07ad2ac09",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "460ccabd-86a2-4125-8a0d-7393263eed5a",
              "name": "idea",
              "value": "={{ $json.ideas.ideaTitle }}",
              "type": "string"
            },
            {
              "id": "669d4c08-bc8e-44ef-8111-b41159f88225",
              "name": "vibe",
              "value": "={{ $json.ideas.vibe }}",
              "type": "string"
            },
            {
              "id": "6709048c-774a-4eb1-8782-af9197463098",
              "name": "started_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "13d977db-ba6d-495c-bbb5-a5e3dc11d2c2",
              "name": "status",
              "value": "idea_gen",
              "type": "string"
            },
            {
              "id": "dd923ce7-7c83-43d7-aaab-a9a16f157009",
              "name": "project_id",
              "value": "={{ $('Get Run').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "run-id-field",
              "name": "run_id",
              "value": "={{ $('When Called').item.json.runId }}",
              "type": "string"
            },
            {
              "id": "user-idea-field",
              "name": "user_idea",
              "value": "={{ $json.userIdea }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6016,
        232
      ],
      "id": "b87bc1d0-7b1f-402a-8ab6-965b14857f02",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.runId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6016,
        -96
      ],
      "id": "e3986e1b-2324-4557-b69a-d61062321897",
      "name": "Get Run (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -6240,
        456
      ],
      "id": "31131e25-274b-479e-88ec-f037fe847d6e",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Called').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'failed', stages: { idea_generation: { status: 'failed', error: { message: $json.error?.message ?? 'Idea generation workflow failed.', stack: $json.error?.stack ?? null, lastNode: $json.execution?.lastNodeExecuted ?? null } } }, output: { stage: 'idea_generation', error: { message: $json.error?.message ?? 'Idea generation workflow failed.', stack: $json.error?.stack ?? null, lastNode: $json.execution?.lastNodeExecuted ?? null } }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6016,
        456
      ],
      "id": "96853da5-92f3-4f02-a6f1-bc45da08828f",
      "name": "Mark Run Failed (Ideas)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -5440,
        128
      ],
      "id": "43d01e2f-6c19-42d1-9473-b7901c069d7b",
      "name": "MCP Tools",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get Run').item.json.user_idea || $('When Called').item.json.userInput || '' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are Iggy, idea generator for AISMR. Identity: persona=\"ideagenerator\", project=\"aismr\" Goal: Generate 12 unique AISMR video ideas displaying surreal-type objects. Bootstrap: Load your workflow, check past work, then execute.\nUse your tools to discover specifications and validate uniqueness. Pattern: Each idea must be [SURREAL MODIFIER] [OBJECT]\n- First word: surreal modifier (void, velvet, water, sunrise, crystal, shadow, silk, glass, neon, cosmic, etc.)\n- Second word: object from user input or tactile item (puppy, sphere, book, hand, cloud, etc.)\n- Examples: \"void puppy\", \"velvet puppy\", \"water puppy\", \"sunrise puppy\", \"crystal book\" Output: Return an array of exactly 12 idea objects. Each must have:\n- ideaTitle (exactly 2 words following [SURREAL MODIFIER] [OBJECT] pattern)\n- vibe (2-3 sentences describing the surreal atmosphere)\n- uniquenessCheck (verification from video_query tool)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5512,
        -96
      ],
      "id": "64a026c0-85e8-4169-8195-8a9e4cfa5c82",
      "name": "AI Agent: Generate Ideas",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output to extract structured ideas\nconst rawOutput = $json.output ?? $json.result ?? $json.response ?? $json;\nlet parsed = null;\n\n// Try to parse JSON from string output\nif (typeof rawOutput === 'string') {\n  try {\n    // Extract JSON from markdown code blocks if present\n    const jsonMatch = rawOutput.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/) || rawOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n    } else {\n      parsed = JSON.parse(rawOutput);\n    }\n  } catch (e) {\n    // If parsing fails, try to extract ideas from text\n    console.warn('Failed to parse JSON from AI output:', e);\n    parsed = { ideas: [], userIdea: rawOutput, totalIdeas: 0 };\n  }\n} else if (typeof rawOutput === 'object') {\n  parsed = rawOutput;\n}\n\nconst userIdea = parsed?.userIdea || $('Get Run').item.json.user_idea || $('When Called').item.json.userInput || '';\n\n// Ensure each idea has required fields\n\nreturn {\n  json: {\n    ideas: rawOutput,\n    userIdea: userIdea,\n    totalIdeas: rawOutput.length,\n\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5104,
        -96
      ],
      "id": "5c903d75-4a9b-4302-9764-9e6b99d0fb8a",
      "name": "Parse Ideas Output"
    },
    {
      "parameters": {
        "jsCode": "// Prepare batch video data from parsed ideas\nconst parsedOutput = $json;\nconst ideas = parsedOutput.ideas ?? [];\nconst runData = $('Get Run').item?.json ?? {};\nconst runId = $('When Called').item.json.runId;\nconst projectId = runData.project_id || runData.projectId || 'aismr';\nconst userIdea = parsedOutput.userIdea || runData.user_idea || $('When Called').item.json.userInput || '';\nconst startedAt = new Date().toISOString();\n\n// Format each idea for batch creation\nconst batchData = ideas.map((idea) => ({\n  runId: runId,\n  projectId: projectId,\n  idea: idea.ideaTitle || idea.idea || '',\n  userIdea: userIdea,\n  vibe: idea.vibe || null,\n  status: 'idea_gen',\n  prompt: null,\n  startedAt: startedAt,\n  metadata: { source: 'idea-generator' }\n}));\n\nreturn [{\n  json: {\n    batchData,\n    runId,\n    projectId,\n    userIdea,\n    totalIdeas: batchData.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        -96
      ],
      "id": "prep-batch-videos-001",
      "name": "Prepare Batch Videos"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.workflowRun ?? $json?.data?.workflowRun ?? null;\nif (!payload) {\n  throw new Error('Workflow run payload missing from API response.');\n}\n\nconst metadata = {};\nif (payload.input && typeof payload.input === 'object') {\n  if (payload.input.metadata && typeof payload.input.metadata === 'object') {\n    Object.assign(metadata, payload.input.metadata);\n  }\n  if (payload.input.turn && typeof payload.input.turn === 'object' && payload.input.turn.metadata && typeof payload.input.turn.metadata === 'object') {\n    Object.assign(metadata, payload.input.turn.metadata);\n  }\n  if (payload.input.projectSlug && typeof payload.input.projectSlug === 'string' && !metadata.projectSlug) {\n    metadata.projectSlug = payload.input.projectSlug;\n  }\n}\nif (!metadata.projectSlug && typeof payload.projectId === 'string') {\n  metadata.projectSlug = payload.projectId;\n}\n\nconst normalized = {\n  ...payload,\n  run_id: payload.id,\n  project_id: payload.projectId ?? null,\n  projectId: payload.projectId ?? null,\n  session_id: payload.sessionId ?? null,\n  sessionId: payload.sessionId ?? null,\n  user_idea:\n    (payload.input?.userIdea ??\n      payload.input?.user_idea ??\n      metadata.userIdea ??\n      '') || '',\n  input: payload.input ?? {},\n  metadata,\n};\n\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        -96
      ],
      "id": "fa7869df-d71a-4a2c-a3bb-2852a9e2ca89",
      "name": "Get Run"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all ideas from batch creation response or parsed output\nconst ideas = [];\nconst runData = $('Get Run').item?.json ?? {};\nconst workflowRunId = runData.run_id || runData.id || $('When Called').item.json.runId;\nconst projectId = runData.project_id || runData.projectId || 'aismr';\n\n// Check if batch creation succeeded\nconst batchResponse = $('Create Batch Videos').item?.json;\nconst parsedOutput = $('Parse Ideas Output').item?.json;\n\nif (batchResponse?.data?.videos && Array.isArray(batchResponse.data.videos)) {\n  // Use videos from batch creation response\n  ideas.push(...batchResponse.data.videos.map((v) => ({\n    ideaTitle: v.idea,\n    idea: v.idea,\n    vibe: v.vibe,\n    ideaId: v.id\n  })));\n} else if (parsedOutput && Array.isArray(parsedOutput.ideas)) {\n  // Fallback: use ideas from parsed output\n  ideas.push(...parsedOutput.ideas);\n} else {\n  // Last resort: collect from input items\n  for (const item of $input.all()) {\n    if (item.json.idea) {\n      ideas.push({\n        idea: item.json.idea,\n        vibe: item.json.vibe,\n        ideaId: item.json.run_id || item.json.id || item.json.ideaId,\n      });\n    }\n  }\n}\n\nconst userIdea = parsedOutput?.userIdea || runData.user_idea || runData.metadata?.userIdea || runData.input?.userIdea || runData.input?.user_idea || $('When Called').item.json.userInput || '';\n\nreturn [{\n  json: {\n    workflowRunId,\n    projectId,\n    ideas,\n    userIdea: userIdea,\n    totalIdeas: ideas.length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        -96
      ],
      "id": "29a8eda8-4059-4110-a61a-4e0e45918e41",
      "name": "Aggregate Ideas"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.workflowRunId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'running', currentStage: 'screenplay', stages: { idea_generation: { status: 'completed', output: $json.ideas ?? [] }, screenplay: { status: 'running' }, video_generation: { status: 'pending' }, publishing: { status: 'pending' } }, output: { stage: 'idea_generation', ideas: $json.ideas ?? [], userIdea: $json.userIdea ?? '', totalIdeas: Number.isFinite($json.totalIdeas) ? $json.totalIdeas : ($json.ideas ? $json.ideas.length : 0) } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4208,
        -96
      ],
      "id": "a9cd19b6-71b6-4e9c-8237-82e9bb98fafa",
      "name": "Update Run Ideas Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aggregateNode = $('Aggregate Ideas').item.json; const ideas = aggregateNode.ideas || []; const userIdea = aggregateNode.userIdea || ''; const selectedIdea = ideas.length > 0 ? ideas[0] : null; return { json: { ideas, selectedIdea, userIdea, totalIdeas: ideas.length } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3984,
        -96
      ],
      "id": "c0441158-ca26-46f8-94e4-3632ac9e5cde",
      "name": "Prepare Workflow Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5568,
        128
      ],
      "id": "8e232e23-5673-4a20-ac9e-1839d05a34c3",
      "name": "5-nano",
      "credentials": {
        "openAiApi": {
          "id": "BPz7M5LEDbqEvdCZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"ideaTitle\",\n      \"vibe\",\n      \"uniquenessCheck\"\n    ],\n    \"properties\": {\n      \"ideaTitle\": {\n        \"type\": \"string\",\n        \"description\": \"Exactly 2 words following pattern: [SURREAL MODIFIER] [OBJECT] (e.g., 'velvet puppy', 'void puppy', 'water puppy', 'sunrise puppy')\",\n        \"pattern\": \"^[a-zA-Z]+ [a-zA-Z]+$\"\n      },\n      \"vibe\": {\n        \"type\": \"string\",\n        \"description\": \"2-3 sentences describing atmosphere and mood for screenwriter\"\n      },\n      \"uniquenessCheck\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"exists\": {\n            \"type\": \"boolean\"\n          },\n          \"matchedVideos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\"\n            }\n          },\n          \"confidence\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"exact\",\n              \"fuzzy\",\n              \"none\"\n            ]\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -5312,
        128
      ],
      "id": "83094251-2b62-4449-8bcc-e585c4a81450",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Batch Videos": {
      "main": [
        [
          {
            "node": "Aggregate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Ideas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Ideas": {
      "main": [
        [
          {
            "node": "Parse Ideas Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ideas Output": {
      "main": [
        [
          {
            "node": "Prepare Batch Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Videos": {
      "main": [
        [
          {
            "node": "Create Batch Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Ideas": {
      "main": [
        [
          {
            "node": "Update Run Ideas Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-nano": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Ideas Complete": {
      "main": [
        [
          {
            "node": "Prepare Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Called": [
      {
        "json": {
          "userInput": "Make an asmr video about puppies",
          "runId": "e9140408-792d-40c4-b8e9-f4a273884a73"
        }
      }
    ],
    "AI Agent: Generate Ideas": [
      {
        "json": {
          "output": [
            {
              "ideaTitle": "void puppies",
              "vibe": "An absolute void swallows sound as tiny puppies drift in weightless space. Soft paw taps leave glittering tracers in the dark while distant stars blink in sleepy rhythm. The mood blends awe with warmth, like a lullaby whispered inside emptiness.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "velvet puppies",
              "vibe": "An opulent velvet chamber swallows sound into plush silence. Puppies tread through folds of deep red fabric, their paws whispering against velvet seams. The atmosphere feels intimate and tactile, a whispered cuddle in a room that sighs with softness.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "water puppies",
              "vibe": "Submerged light threads through a quiet theater where puppies swim through rippling curtains. Bubbles rise like tiny chorus numbers, and the puppies leave delicate rings in the current. The vibe is buoyant, almost meditative, like watching a peaceful tide of cuteness.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "sunrise puppies",
              "vibe": "Dawn spills across a boundary where puppies ride sunbeams. The air glows with pink-gold gradients as their paws press into radiant mist. The mood is gentle and hopeful, a waking dream that hums with new light.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "crystal puppies",
              "vibe": "Crystal prisms scatter playfully as puppies bounce through a room of living light. Each touch releases soft chimes and the puppies' squeaks become a glassy lullaby. The vibe sparkles with precision, warmth, and delicate wonder.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "shadow puppies",
              "vibe": "Long shadows stretch as puppies drift through a dim corridor. Their silhouettes stitch quiet patterns on a wall of ink, each pawprint fading into twilight. The mood is mysterious yet tender, a noir lullaby about innocent mischief.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "silk puppies",
              "vibe": "Silk threads ripple around a room lit by breathy, pastel glow as puppies tumble through a soft breeze. Their squeaks mingle with the rustle of satin and the room feels like a whispered secret. The atmosphere is intimate, luxurious, and almost breathless.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "glass puppies",
              "vibe": "A chamber of glass walls refracts a pale glow as puppies wander through fractured space. Every sniff scatters light into prismatic ripples, turning fur into living color. The vibe is crisp, reflective, and gently hypnotic.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "neon puppies",
              "vibe": "Neon signs hiss and flicker in a rain-soaked alley where puppies drift on luminous puddles. Colors collide, painting fur in electric pinks, blues, and greens. The mood is energetic, playful, and wonderfully surreal—like a cartoon dream after dark.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "cosmic puppies",
              "vibe": "Cosmic dust drifts around orbiting toys as puppies float among tiny comets. Their yips whirl like satellites, tracing soft arcs through velvet space. The atmosphere hums with innocence and universal wonder.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "lunar puppies",
              "vibe": "Moonlit meadows reflect in a quiet pool as lunar puppies leap through silver light. Gravity eases to a sigh, letting each paw land with almost feathered grace. The vibe is calm, curious, and serenely celestial.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            },
            {
              "ideaTitle": "phantom puppies",
              "vibe": "Phantom puppies drift through a foggy stage, transparent and kind, scattering echoes of soft whines. Their forms shimmer in and out as if the air remembers every wag. The mood is hauntingly sweet—a dream of dogs you can almost touch but cannot.",
              "uniquenessCheck": {
                "exists": false,
                "confidence": "none"
              }
            }
          ]
        }
      }
    ],
    "Create a row": [
      {
        "json": {
          "data": {
            "video": {
              "id": "e11e0cae-1500-4b3c-baaf-4da46af4c4af",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "void puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "An absolute void swallows sound as tiny puppies drift in weightless space. Soft paw taps leave glittering tracers in the dark while distant stars blink in sleepy rhythm. The mood blends awe with warmth, like a lullaby whispered inside emptiness.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:39.969+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.278+00",
              "updatedAt": "2025-11-03 23:06:40.278+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "9a9e9f2a-57a8-4311-afbe-180866fedc7a",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "velvet puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "An opulent velvet chamber swallows sound into plush silence. Puppies tread through folds of deep red fabric, their paws whispering against velvet seams. The atmosphere feels intimate and tactile, a whispered cuddle in a room that sighs with softness.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:39.992+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.269+00",
              "updatedAt": "2025-11-03 23:06:40.269+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "1cda0726-b69d-4b78-ad17-e75e5a659203",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "water puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Submerged light threads through a quiet theater where puppies swim through rippling curtains. Bubbles rise like tiny chorus numbers, and the puppies leave delicate rings in the current. The vibe is buoyant, almost meditative, like watching a peaceful tide of cuteness.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:39.995+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.219+00",
              "updatedAt": "2025-11-03 23:06:40.219+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "8478948c-7f4a-4f88-a93d-0a358bee281b",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "sunrise puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Dawn spills across a boundary where puppies ride sunbeams. The air glows with pink-gold gradients as their paws press into radiant mist. The mood is gentle and hopeful, a waking dream that hums with new light.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:39.996+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.166+00",
              "updatedAt": "2025-11-03 23:06:40.166+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "07fa3328-fcce-4fbd-b36b-d9b7ca9ee47a",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "crystal puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Crystal prisms scatter playfully as puppies bounce through a room of living light. Each touch releases soft chimes and the puppies' squeaks become a glassy lullaby. The vibe sparkles with precision, warmth, and delicate wonder.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:39.997+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.259+00",
              "updatedAt": "2025-11-03 23:06:40.259+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "b1cf7e53-c274-46fd-89e7-87946b80b069",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "shadow puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Long shadows stretch as puppies drift through a dim corridor. Their silhouettes stitch quiet patterns on a wall of ink, each pawprint fading into twilight. The mood is mysterious yet tender, a noir lullaby about innocent mischief.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:39.998+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.263+00",
              "updatedAt": "2025-11-03 23:06:40.263+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "d0f76cd1-e378-4a3e-b154-34a76a8a91cf",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "silk puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Silk threads ripple around a room lit by breathy, pastel glow as puppies tumble through a soft breeze. Their squeaks mingle with the rustle of satin and the room feels like a whispered secret. The atmosphere is intimate, luxurious, and almost breathless.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:39.999+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.202+00",
              "updatedAt": "2025-11-03 23:06:40.202+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "06a5311a-83a9-481d-ad01-9c09a2a23990",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "glass puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "A chamber of glass walls refracts a pale glow as puppies wander through fractured space. Every sniff scatters light into prismatic ripples, turning fur into living color. The vibe is crisp, reflective, and gently hypnotic.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:40+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.256+00",
              "updatedAt": "2025-11-03 23:06:40.256+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "f0aa7eba-914b-4e0e-83bb-6fbab2e7151e",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "neon puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Neon signs hiss and flicker in a rain-soaked alley where puppies drift on luminous puddles. Colors collide, painting fur in electric pinks, blues, and greens. The mood is energetic, playful, and wonderfully surreal—like a cartoon dream after dark.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:40.001+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.285+00",
              "updatedAt": "2025-11-03 23:06:40.285+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "ef2a90e3-32e6-4c26-8c59-402b1b0bc61d",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "cosmic puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Cosmic dust drifts around orbiting toys as puppies float among tiny comets. Their yips whirl like satellites, tracing soft arcs through velvet space. The atmosphere hums with innocence and universal wonder.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:40.004+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.239+00",
              "updatedAt": "2025-11-03 23:06:40.239+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "b68f1e13-049c-4c83-8083-c98a2fab29c3",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "lunar puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Moonlit meadows reflect in a quiet pool as lunar puppies leap through silver light. Gravity eases to a sigh, letting each paw land with almost feathered grace. The vibe is calm, curious, and serenely celestial.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:40.006+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.283+00",
              "updatedAt": "2025-11-03 23:06:40.283+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      },
      {
        "json": {
          "data": {
            "video": {
              "id": "1db19480-d1a2-4be4-a67f-04e7d715f7b0",
              "runId": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
              "projectId": "aismr",
              "idea": "phantom puppies",
              "userIdea": "Make an asmr video about puppies",
              "vibe": "Phantom puppies drift through a foggy stage, transparent and kind, scattering echoes of soft whines. Their forms shimmer in and out as if the air remembers every wag. The mood is hauntingly sweet—a dream of dogs you can almost touch but cannot.",
              "prompt": null,
              "videoLink": null,
              "status": "idea_gen",
              "errorMessage": null,
              "startedAt": "2025-11-03 23:06:40.008+00",
              "completedAt": null,
              "createdAt": "2025-11-03 23:06:40.267+00",
              "updatedAt": "2025-11-03 23:06:40.267+00",
              "metadata": {
                "source": "idea-generator"
              }
            }
          }
        }
      }
    ],
    "Update Run Ideas Complete": [
      {
        "json": {
          "workflowRun": {
            "id": "a951f22d-30bb-4181-8dcb-e9dcd1ba7bad",
            "projectId": "aismr",
            "sessionId": "a19c5482-7fdf-5a4d-88cb-1ba1fe4163fc",
            "currentStage": "screenplay",
            "status": "running",
            "stages": {
              "publishing": {
                "status": "pending"
              },
              "screenplay": {
                "status": "running"
              },
              "idea_generation": {
                "output": [
                  {
                    "vibe": "An absolute void swallows sound as tiny puppies drift in weightless space. Soft paw taps leave glittering tracers in the dark while distant stars blink in sleepy rhythm. The mood blends awe with warmth, like a lullaby whispered inside emptiness.",
                    "ideaTitle": "void puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "An opulent velvet chamber swallows sound into plush silence. Puppies tread through folds of deep red fabric, their paws whispering against velvet seams. The atmosphere feels intimate and tactile, a whispered cuddle in a room that sighs with softness.",
                    "ideaTitle": "velvet puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Submerged light threads through a quiet theater where puppies swim through rippling curtains. Bubbles rise like tiny chorus numbers, and the puppies leave delicate rings in the current. The vibe is buoyant, almost meditative, like watching a peaceful tide of cuteness.",
                    "ideaTitle": "water puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Dawn spills across a boundary where puppies ride sunbeams. The air glows with pink-gold gradients as their paws press into radiant mist. The mood is gentle and hopeful, a waking dream that hums with new light.",
                    "ideaTitle": "sunrise puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Crystal prisms scatter playfully as puppies bounce through a room of living light. Each touch releases soft chimes and the puppies' squeaks become a glassy lullaby. The vibe sparkles with precision, warmth, and delicate wonder.",
                    "ideaTitle": "crystal puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Long shadows stretch as puppies drift through a dim corridor. Their silhouettes stitch quiet patterns on a wall of ink, each pawprint fading into twilight. The mood is mysterious yet tender, a noir lullaby about innocent mischief.",
                    "ideaTitle": "shadow puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Silk threads ripple around a room lit by breathy, pastel glow as puppies tumble through a soft breeze. Their squeaks mingle with the rustle of satin and the room feels like a whispered secret. The atmosphere is intimate, luxurious, and almost breathless.",
                    "ideaTitle": "silk puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "A chamber of glass walls refracts a pale glow as puppies wander through fractured space. Every sniff scatters light into prismatic ripples, turning fur into living color. The vibe is crisp, reflective, and gently hypnotic.",
                    "ideaTitle": "glass puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Neon signs hiss and flicker in a rain-soaked alley where puppies drift on luminous puddles. Colors collide, painting fur in electric pinks, blues, and greens. The mood is energetic, playful, and wonderfully surreal—like a cartoon dream after dark.",
                    "ideaTitle": "neon puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Cosmic dust drifts around orbiting toys as puppies float among tiny comets. Their yips whirl like satellites, tracing soft arcs through velvet space. The atmosphere hums with innocence and universal wonder.",
                    "ideaTitle": "cosmic puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Moonlit meadows reflect in a quiet pool as lunar puppies leap through silver light. Gravity eases to a sigh, letting each paw land with almost feathered grace. The vibe is calm, curious, and serenely celestial.",
                    "ideaTitle": "lunar puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  },
                  {
                    "vibe": "Phantom puppies drift through a foggy stage, transparent and kind, scattering echoes of soft whines. Their forms shimmer in and out as if the air remembers every wag. The mood is hauntingly sweet—a dream of dogs you can almost touch but cannot.",
                    "ideaTitle": "phantom puppies",
                    "uniquenessCheck": {
                      "exists": false,
                      "confidence": "none"
                    }
                  }
                ],
                "status": "completed"
              },
              "video_generation": {
                "status": "pending"
              }
            },
            "input": {
              "turn": {
                "id": "74de981a-22d8-4d02-9cf3-6371af33302f",
                "role": "user",
                "userId": "telegram:6559268788",
                "content": "Make an asmr video about puppies",
                "summary": null,
                "metadata": {
                  "chatId": "6559268788",
                  "preview": "Make an asmr video about puppies",
                  "keywords": [
                    "make",
                    "asmr",
                    "video",
                    "about",
                    "puppies"
                  ],
                  "platform": "telegram",
                  "workflow": "chat",
                  "messageId": "156",
                  "timestamp": "2025-11-03T22:50:08.811Z",
                  "messageType": "text"
                },
                "createdAt": "2025-11-03 22:50:08.898595+00",
                "sessionId": "a19c5482-7fdf-5a4d-88cb-1ba1fe4163fc",
                "turnIndex": 20,
                "updatedAt": "2025-11-03 22:50:08.898595+00"
              },
              "chatId": "6559268788",
              "source": "aismr_orchestrator",
              "turnId": "74de981a-22d8-4d02-9cf3-6371af33302f",
              "personaId": "ideagenerator",
              "userInput": "Make an asmr video about puppies"
            },
            "output": {
              "ideas": [
                {
                  "vibe": "An absolute void swallows sound as tiny puppies drift in weightless space. Soft paw taps leave glittering tracers in the dark while distant stars blink in sleepy rhythm. The mood blends awe with warmth, like a lullaby whispered inside emptiness.",
                  "ideaTitle": "void puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "An opulent velvet chamber swallows sound into plush silence. Puppies tread through folds of deep red fabric, their paws whispering against velvet seams. The atmosphere feels intimate and tactile, a whispered cuddle in a room that sighs with softness.",
                  "ideaTitle": "velvet puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Submerged light threads through a quiet theater where puppies swim through rippling curtains. Bubbles rise like tiny chorus numbers, and the puppies leave delicate rings in the current. The vibe is buoyant, almost meditative, like watching a peaceful tide of cuteness.",
                  "ideaTitle": "water puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Dawn spills across a boundary where puppies ride sunbeams. The air glows with pink-gold gradients as their paws press into radiant mist. The mood is gentle and hopeful, a waking dream that hums with new light.",
                  "ideaTitle": "sunrise puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Crystal prisms scatter playfully as puppies bounce through a room of living light. Each touch releases soft chimes and the puppies' squeaks become a glassy lullaby. The vibe sparkles with precision, warmth, and delicate wonder.",
                  "ideaTitle": "crystal puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Long shadows stretch as puppies drift through a dim corridor. Their silhouettes stitch quiet patterns on a wall of ink, each pawprint fading into twilight. The mood is mysterious yet tender, a noir lullaby about innocent mischief.",
                  "ideaTitle": "shadow puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Silk threads ripple around a room lit by breathy, pastel glow as puppies tumble through a soft breeze. Their squeaks mingle with the rustle of satin and the room feels like a whispered secret. The atmosphere is intimate, luxurious, and almost breathless.",
                  "ideaTitle": "silk puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "A chamber of glass walls refracts a pale glow as puppies wander through fractured space. Every sniff scatters light into prismatic ripples, turning fur into living color. The vibe is crisp, reflective, and gently hypnotic.",
                  "ideaTitle": "glass puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Neon signs hiss and flicker in a rain-soaked alley where puppies drift on luminous puddles. Colors collide, painting fur in electric pinks, blues, and greens. The mood is energetic, playful, and wonderfully surreal—like a cartoon dream after dark.",
                  "ideaTitle": "neon puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Cosmic dust drifts around orbiting toys as puppies float among tiny comets. Their yips whirl like satellites, tracing soft arcs through velvet space. The atmosphere hums with innocence and universal wonder.",
                  "ideaTitle": "cosmic puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Moonlit meadows reflect in a quiet pool as lunar puppies leap through silver light. Gravity eases to a sigh, letting each paw land with almost feathered grace. The vibe is calm, curious, and serenely celestial.",
                  "ideaTitle": "lunar puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                },
                {
                  "vibe": "Phantom puppies drift through a foggy stage, transparent and kind, scattering echoes of soft whines. Their forms shimmer in and out as if the air remembers every wag. The mood is hauntingly sweet—a dream of dogs you can almost touch but cannot.",
                  "ideaTitle": "phantom puppies",
                  "uniquenessCheck": {
                    "exists": false,
                    "confidence": "none"
                  }
                }
              ],
              "stage": "idea_generation",
              "userIdea": "Make an asmr video about puppies",
              "totalIdeas": 12
            },
            "workflowDefinitionChunkId": null,
            "createdAt": "2025-11-03 22:50:18.924+00",
            "updatedAt": "2025-11-03 23:16:48.095+00"
          }
        }
      }
    ]
  },
  "versionId": "be7fd965-aa76-479c-8dec-bdbac4476531",
  "triggerCount": 0
}