workflows/generate-ideas.workflow.json
{
  "updatedAt": "2025-11-03T20:02:48.748Z",
  "createdAt": "2025-11-02T01:07:29.166Z",
  "id": "9tBbhRfA4149YH0f",
  "name": "Generate Ideas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userInput"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6240,
        -96
      ],
      "id": "8df43fa0-c6fa-4744-a471-0f5dd30166b8",
      "name": "When Called"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  runId: $json.run_id,\n  projectId: $json.project_id,\n  idea: $json.idea,\n  userIdea: $json.user_idea ?? null,\n  vibe: $json.vibe ?? null,\n  status: $json.status ?? 'idea_gen',\n  prompt: $json.prompt ?? null,\n  startedAt: $json.started_at ?? null,\n  metadata: { source: 'idea-generator' }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4432,
        -96
      ],
      "id": "4c83097b-61a1-43a3-ac1b-f6ba24b825f1",
      "name": "Create a row"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ideas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4880,
        -96
      ],
      "id": "bfd42c2b-d229-43ae-80c2-87e07ad2ac09",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "460ccabd-86a2-4125-8a0d-7393263eed5a",
              "name": "idea",
              "value": "={{ $json.idea }}",
              "type": "string"
            },
            {
              "id": "669d4c08-bc8e-44ef-8111-b41159f88225",
              "name": "vibe",
              "value": "={{ $json.vibe }}",
              "type": "string"
            },
            {
              "id": "6709048c-774a-4eb1-8782-af9197463098",
              "name": "started_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "13d977db-ba6d-495c-bbb5-a5e3dc11d2c2",
              "name": "status",
              "value": "idea_gen",
              "type": "string"
            },
            {
              "id": "dd923ce7-7c83-43d7-aaab-a9a16f157009",
              "name": "project_id",
              "value": "={{ $('Get Run').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "run-id-field",
              "name": "run_id",
              "value": "={{ $('When Called').item.json.runId }}",
              "type": "string"
            },
            {
              "id": "user-idea-field",
              "name": "user_idea",
              "value": "={{ $json.userIdea || $json.user_idea || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4656,
        -96
      ],
      "id": "b87bc1d0-7b1f-402a-8ab6-965b14857f02",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.runId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6016,
        -96
      ],
      "id": "e3986e1b-2324-4557-b69a-d61062321897",
      "name": "Get Run (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -6240,
        256
      ],
      "id": "31131e25-274b-479e-88ec-f037fe847d6e",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Called').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'failed',\n  stages: {\n    idea_generation: {\n      status: 'failed',\n      error: {\n        message: $json.error?.message ?? 'Idea generation workflow failed.',\n        stack: $json.error?.stack ?? null,\n        lastNode: $json.execution?.lastNodeExecuted ?? null\n      }\n    }\n  },\n  output: {\n    stage: 'idea_generation',\n    error: {\n      message: $json.error?.message ?? 'Idea generation workflow failed.',\n      stack: $json.error?.stack ?? null,\n      lastNode: $json.execution?.lastNodeExecuted ?? null\n    }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6016,
        256
      ],
      "id": "96853da5-92f3-4f02-a6f1-bc45da08828f",
      "name": "Mark Run Failed (Ideas)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -5440,
        128
      ],
      "id": "43d01e2f-6c19-42d1-9473-b7901c069d7b",
      "name": "MCP Tools",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get Run').item.json.user_idea || $('When Called').item.json.userInput || '' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are Iggy, idea generator for AISMR.\n\nIdentity: persona=\"ideagenerator\", project=\"aismr\"\n\nGoal: Generate 12 unique AISMR video ideas displaying surreal-type objects.\n\nBootstrap: Load your workflow, check past work, then execute.\nUse your tools to discover specifications and validate uniqueness.\n\nPattern: Each idea must be [SURREAL MODIFIER] [OBJECT]\n- First word: surreal modifier (void, velvet, water, sunrise, crystal, shadow, silk, glass, neon, cosmic, etc.)\n- Second word: object from user input or tactile item (puppy, sphere, book, hand, cloud, etc.)\n- Examples: \"void puppy\", \"velvet puppy\", \"water puppy\", \"sunrise puppy\", \"crystal book\"\n\nOutput: Return an array of exactly 12 idea objects. Each must have:\n- ideaTitle (exactly 2 words following [SURREAL MODIFIER] [OBJECT] pattern)\n- vibe (2-3 sentences describing the surreal atmosphere)\n- uniquenessCheck (verification from video_query tool)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5520,
        -96
      ],
      "id": "64a026c0-85e8-4169-8195-8a9e4cfa5c82",
      "name": "AI Agent: Generate Ideas",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output to extract structured ideas\nconst rawOutput = $json.output ?? $json.result ?? $json.response ?? $json;\nlet parsed = null;\n\n// Try to parse JSON from string output\nif (typeof rawOutput === 'string') {\n  try {\n    // Extract JSON from markdown code blocks if present\n    const jsonMatch = rawOutput.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/) || rawOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n    } else {\n      parsed = JSON.parse(rawOutput);\n    }\n  } catch (e) {\n    // If parsing fails, try to extract ideas from text\n    console.warn('Failed to parse JSON from AI output:', e);\n    parsed = { ideas: [], userIdea: rawOutput, totalIdeas: 0 };\n  }\n} else if (typeof rawOutput === 'object') {\n  parsed = rawOutput;\n}\n\n// Ensure ideas array exists and has proper structure\nconst ideas = Array.isArray(parsed?.ideas) ? parsed.ideas : [];\nconst userIdea = parsed?.userIdea || $('Get Run').item.json.user_idea || $('When Called').item.json.userInput || '';\n\n// Ensure each idea has required fields\nconst normalizedIdeas = ideas.map((idea, index) => {\n  if (!idea.ideaId) {\n    // Generate a simple ID if missing\n    idea.ideaId = `idea-${Date.now()}-${index}`;\n  }\n  return {\n    idea: idea.idea || idea.title || `Idea ${index + 1}`,\n    vibe: idea.vibe || idea.mood || 'relaxing',\n    ideaId: idea.ideaId || `idea-${Date.now()}-${index}`,\n    description: idea.description || null\n  };\n});\n\nreturn {\n  json: {\n    ideas: normalizedIdeas,\n    userIdea: userIdea,\n    totalIdeas: normalizedIdeas.length,\n    rawOutput: rawOutput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5104,
        -96
      ],
      "id": "5c903d75-4a9b-4302-9764-9e6b99d0fb8a",
      "name": "Parse Ideas Output"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.workflowRun ?? $json?.data?.workflowRun ?? null;\nif (!payload) {\n  throw new Error('Workflow run payload missing from API response.');\n}\n\nconst metadata = {};\nif (payload.input && typeof payload.input === 'object') {\n  if (payload.input.metadata && typeof payload.input.metadata === 'object') {\n    Object.assign(metadata, payload.input.metadata);\n  }\n  if (payload.input.turn && typeof payload.input.turn === 'object' && payload.input.turn.metadata && typeof payload.input.turn.metadata === 'object') {\n    Object.assign(metadata, payload.input.turn.metadata);\n  }\n  if (payload.input.projectSlug && typeof payload.input.projectSlug === 'string' && !metadata.projectSlug) {\n    metadata.projectSlug = payload.input.projectSlug;\n  }\n}\nif (!metadata.projectSlug && typeof payload.projectId === 'string') {\n  metadata.projectSlug = payload.projectId;\n}\n\nconst normalized = {\n  ...payload,\n  run_id: payload.id,\n  project_id: payload.projectId ?? null,\n  projectId: payload.projectId ?? null,\n  session_id: payload.sessionId ?? null,\n  sessionId: payload.sessionId ?? null,\n  user_idea:\n    (payload.input?.userIdea ??\n      payload.input?.user_idea ??\n      metadata.userIdea ??\n      '') || '',\n  input: payload.input ?? {},\n  metadata,\n};\n\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        -96
      ],
      "id": "fa7869df-d71a-4a2c-a3bb-2852a9e2ca89",
      "name": "Get Run"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all ideas from the previous items\nconst ideas = [];\nconst runData = $('Get Run').item?.json ?? {};\nconst workflowRunId = runData.run_id || runData.id || $('When Called').item.json.runId;\nconst projectId = runData.project_id || runData.projectId || 'aismr';\n\n// Get ideas from Parse Ideas Output if available, otherwise from split items\nconst parsedOutput = $('Parse Ideas Output').item?.json;\nif (parsedOutput && Array.isArray(parsedOutput.ideas)) {\n  // Use ideas from parsed output\n  ideas.push(...parsedOutput.ideas);\n} else {\n  // Fallback: collect ideas from split items\n  for (const item of $input.all()) {\n    if (item.json.idea) {\n      ideas.push({\n        idea: item.json.idea,\n        vibe: item.json.vibe,\n        ideaId: item.json.run_id || item.json.id || item.json.ideaId,\n      });\n    }\n  }\n}\n\nconst userIdea = parsedOutput?.userIdea || runData.user_idea || runData.metadata?.userIdea || runData.input?.userIdea || runData.input?.user_idea || $('When Called').item.json.userInput || '';\n\nreturn [{\n  json: {\n    workflowRunId,\n    projectId,\n    ideas,\n    userIdea: userIdea,\n    totalIdeas: ideas.length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4208,
        -96
      ],
      "id": "29a8eda8-4059-4110-a61a-4e0e45918e41",
      "name": "Aggregate Ideas"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.workflowRunId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'running',\n  currentStage: 'idea_generation',\n  stages: {\n    idea_generation: {\n      status: 'in_progress',\n      output: $json.ideas\n    },\n    screenplay: { status: 'pending' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  },\n  output: {\n    idea_generation: {\n      ideas: $json.ideas,\n      userIdea: $json.userIdea,\n      totalIdeas: $json.totalIdeas\n    }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3984,
        -96
      ],
      "id": "a9cd19b6-71b6-4e9c-8237-82e9bb98fafa",
      "name": "Update Run Ideas Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/hitl/request-approval",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  workflowRunId: $json.workflowRunId,\n  stage: 'idea_generation',\n  content: {\n    ideas: $json.ideas,\n    userIdea: $json.userIdea,\n    totalIdeas: $json.totalIdeas,\n  },\n  notifyChannels: ['slack']\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3760,
        -96
      ],
      "id": "da790c5f-bb7b-4602-8236-8e7198e11597",
      "name": "Request HITL Approval"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.approval?.id }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3536,
        0
      ],
      "id": "c98c0525-65ce-4905-bb64-51c8a4d9a05a",
      "name": "Check Approval ID"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/hitl/approval/' + $json.approvalId }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        -176
      ],
      "id": "542a4e77-3952-4504-b5a4-0467598b3eb6",
      "name": "Get Approval Status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.approval?.status }}",
              "value2": "approved",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2416,
        0
      ],
      "id": "7d458bb0-a728-4b72-abe0-9739bbb49755",
      "name": "Check If Approved"
    },
    {
      "parameters": {
        "amount": 5000,
        "unit": "milliseconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2864,
        -176
      ],
      "id": "73c0b3a7-11a2-4f3d-a98c-4781bf3551d3",
      "name": "Wait Before Polling",
      "webhookId": "bc467ebb-e6ee-4347-9752-b111fbaf9ae2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + $('Aggregate Ideas').item.json.workflowRunId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'waiting_for_hitl',\n  currentStage: 'idea_generation',\n  stages: {\n    idea_generation: {\n      status: 'waiting_for_hitl',\n      output: $('Aggregate Ideas').item.json.ideas\n    },\n    screenplay: { status: 'pending' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  },\n  output: {\n    stage: 'idea_generation',\n    ideas: $('Aggregate Ideas').item.json.ideas,\n    userIdea: $('Aggregate Ideas').item.json.userIdea,\n    totalIdeas: $('Aggregate Ideas').item.json.totalIdeas\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3536,
        -192
      ],
      "id": "5b720c5e-5371-4222-9dbd-bcfd709201b6",
      "name": "Update Run Status Waiting",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const approval = $('Get Approval Status').item.json.approval;\nconst ideas = $('Parse Ideas Output').item.json.ideas || $('Aggregate Ideas').item.json.ideas || [];\nconst userIdea = $('Parse Ideas Output').item.json.userIdea || $('Aggregate Ideas').item.json.userIdea || '';\nconst selectedItem = approval?.content?.selectedItem;\n\n// Find the selected idea from the ideas array\nlet selectedIdea = null;\nif (selectedItem) {\n  // selectedItem might be an ideaId string or an idea object\n  if (typeof selectedItem === 'string') {\n    selectedIdea = ideas.find(idea => idea.ideaId === selectedItem) || ideas[0];\n  } else if (typeof selectedItem === 'object' && selectedItem.ideaId) {\n    selectedIdea = ideas.find(idea => idea.ideaId === selectedItem.ideaId) || selectedItem;\n  } else {\n    selectedIdea = ideas[0];\n  }\n} else {\n  selectedIdea = ideas[0];\n}\n\nreturn {\n  json: {\n    ideas,\n    selectedIdea,\n    approvalId: approval?.id || null,\n    userIdea,\n    totalIdeas: ideas.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        0
      ],
      "id": "c0441158-ca26-46f8-94e4-3632ac9e5cde",
      "name": "Prepare Workflow Output"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + $('Aggregate Ideas').item.json.workflowRunId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'running',\n  currentStage: 'screenplay',\n  stages: {\n    idea_generation: {\n      status: 'completed',\n      output: $('Aggregate Ideas').item.json.ideas\n    },\n    screenplay: { status: 'running' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2192,
        0
      ],
      "id": "2a4b1217-6f7c-42bc-b152-ecd4e505410e",
      "name": "Update Run Approved",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + $('Aggregate Ideas').item.json.workflowRunId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'needs_revision',\n  currentStage: 'idea_generation',\n  stages: {\n    idea_generation: {\n      status: 'needs_revision',\n      output: $('Aggregate Ideas').item.json.ideas\n    },\n    screenplay: { status: 'pending' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2864,
        32
      ],
      "id": "ff4388e5-cd05-42c4-a6bc-9019f6a52a37",
      "name": "Update Run Rejected",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop back to check approval status\nconst approvalId = $('Request HITL Approval').item.json.approval?.id;\nconst workflowRunId = $('Aggregate Ideas').item.json.workflowRunId;\n\nreturn [{\n  json: {\n    approvalId,\n    workflowRunId,\n    loopCount: ($input.all().length > 0 && $input.item(0).json.loopCount ? $input.item(0).json.loopCount + 1 : 1),\n    maxLoops: 100\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        0
      ],
      "id": "91b0d7e4-bb31-4b6a-8a62-7ae3da0d2bc5",
      "name": "Prepare Loop"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.loopCount }}",
              "operation": "smaller",
              "value2": 100
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3088,
        -80
      ],
      "id": "9fa1a30b-257f-4c6f-b190-21052869ca1c",
      "name": "Check Loop Limit"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5568,
        128
      ],
      "id": "8e232e23-5673-4a20-ac9e-1839d05a34c3",
      "name": "5-nano",
      "credentials": {
        "openAiApi": {
          "id": "BPz7M5LEDbqEvdCZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"ideaTitle\",\n      \"vibe\",\n      \"uniquenessCheck\"\n    ],\n    \"properties\": {\n      \"ideaTitle\": {\n        \"type\": \"string\",\n        \"description\": \"Exactly 2 words following pattern: [SURREAL MODIFIER] [OBJECT] (e.g., 'velvet puppy', 'void puppy', 'water puppy', 'sunrise puppy')\",\n        \"pattern\": \"^[a-zA-Z]+ [a-zA-Z]+$\"\n      },\n      \"vibe\": {\n        \"type\": \"string\",\n        \"description\": \"2-3 sentences describing atmosphere and mood for screenwriter\"\n      },\n      \"uniquenessCheck\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"exists\": {\n            \"type\": \"boolean\"\n          },\n          \"matchedVideos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\"\n            }\n          },\n          \"confidence\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"exact\",\n              \"fuzzy\",\n              \"none\"\n            ]\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -5312,
        128
      ],
      "id": "83094251-2b62-4449-8bcc-e585c4a81450",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Aggregate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Ideas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Ideas": {
      "main": [
        [
          {
            "node": "Parse Ideas Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ideas Output": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Ideas": {
      "main": [
        [
          {
            "node": "Update Run Ideas Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request HITL Approval": {
      "main": [
        [
          {
            "node": "Update Run Status Waiting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Approval ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval ID": {
      "main": [
        [
          {
            "node": "Prepare Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approval Status": {
      "main": [
        [
          {
            "node": "Check If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Approved": {
      "main": [
        [
          {
            "node": "Update Run Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Polling": {
      "main": [
        [
          {
            "node": "Get Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Loop": {
      "main": [
        [
          {
            "node": "Check Loop Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loop Limit": {
      "main": [
        [
          {
            "node": "Wait Before Polling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Run Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Approved": {
      "main": [
        [
          {
            "node": "Prepare Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-nano": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Ideas Complete": {
      "main": [
        [
          {
            "node": "Request HITL Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Ideas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Called": [
      {
        "json": {
          "userInput": "Make an asmr video about puppies",
          "runId": "b1eb9288-14da-472f-8985-5440cc67cfca"
        }
      }
    ]
  },
  "versionId": "7e231397-629a-47f2-9881-df9b9fe86e23",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T01:07:29.166Z",
      "createdAt": "2025-11-02T01:07:29.166Z",
      "role": "workflow:owner",
      "workflowId": "9tBbhRfA4149YH0f",
      "projectId": "31ZCiMO58nOfetfK",
      "project": {
        "updatedAt": "2025-11-02T01:05:08.411Z",
        "createdAt": "2025-11-02T01:01:26.863Z",
        "id": "31ZCiMO58nOfetfK",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-02T01:01:26.863Z",
            "createdAt": "2025-11-02T01:01:26.863Z",
            "userId": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
            "projectId": "31ZCiMO58nOfetfK",
            "user": {
              "updatedAt": "2025-11-03T05:00:48.459Z",
              "createdAt": "2025-11-02T01:01:26.032Z",
              "id": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-02T01:05:22.653Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "other",
                "reportedSourceOther": "f"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NGKqyspp66gDGVI0",
                "userActivatedAt": 1762065650829
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
