workflows/generate-video.workflow.json
{
  "updatedAt": "2025-11-02T02:03:21.099Z",
  "createdAt": "2025-11-02T01:07:29.234Z",
  "id": "XILT3npSi1rA1azF",
  "name": "Generate Video",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos/' + ($('When Called').item.json.id || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        544
      ],
      "id": "284d395e-f99f-402c-9b42-f0c89b9b6ce1",
      "name": "Get Idea (API)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78950a7f-e225-430d-a262-e5d82962d231",
              "name": "=prompt",
              "type": "string",
              "value": "={{ $('Get Idea').item.json.prompt }}"
            },
            {
              "id": "083ce6d6-8cd2-4f73-8edd-eecd98002b1c",
              "name": "model",
              "type": "string",
              "value": "veo3_fast"
            },
            {
              "id": "aa4fa43a-85f5-400b-9b2b-0d0de6590d39",
              "name": "seconds",
              "type": "string",
              "value": "10"
            },
            {
              "id": "b1c23456-789d-0123-4567-89abcdef0123",
              "name": "idea",
              "type": "string",
              "value": "={{ $('Get Idea').item.json.idea }}"
            },
            {
              "id": "c7f50045-50f8-4646-9e30-7c07b670d2a8",
              "name": "aspect_ratio",
              "value": "9:16",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "51408947-fa2a-4730-a0b9-3cb446564e75",
      "name": "Prepare Video Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        544
      ],
      "id": "a1f21b44-6bc4-480e-85fe-23258beb3c76",
      "name": "When Called"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos/' + (($('When Called').item.json.id) || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: $json.status, videoLink: $json.data?.response?.resultUrls?.[0] ?? 'failed' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        424
      ],
      "id": "59e7cd51-4031-49b0-a85d-4bd37abbea49",
      "name": "Update a row"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt.replace(/[\\\\\"]/g, '\\\\$&').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\\t/g, '\\\\t') }}\",\n  \"model\": \"{{ $json.model }}\",\n  \"aspectRatio\": \"{{ $json.aspect_ratio }}\",\n  \"generationType\": \"TEXT_2_VIDEO\",\n  \"seconds\": \"{{ $json.seconds }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        544
      ],
      "id": "6a8ab5a1-30fe-4c9e-9a45-b1d84216b166",
      "name": "Text to Video2",
      "credentials": {
        "httpBearerAuth": {
          "id": "AXZk8w06m78wmbXh",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        544
      ],
      "id": "ccd769a4-f9b1-4a53-8101-128aa1020347",
      "name": "Get Video4",
      "credentials": {
        "httpBearerAuth": {
          "id": "AXZk8w06m78wmbXh",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        640
      ],
      "id": "94066f8c-c680-4342-8275-173e98172325",
      "name": "Wait",
      "webhookId": "9fd30610-c0b9-4f5c-9af5-89b821c11ec3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6888dba1-6521-483a-a544-e9044c397f1c",
                    "leftValue": "={{ $json.data.response.resultUrls[0] }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "973ecf21-58b8-41df-a780-1ad778e963bf",
                    "leftValue": "={{ $json.data.response.resultUrls[0] }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1168,
        472
      ],
      "id": "36a1e18a-990a-4708-a535-ae6e07484748",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b90a09d-8e9f-4690-81a2-a8821e7fcbdf",
              "name": "status",
              "value": "={{ $json.data.successFlag ? \"video_gen\" : \"failed\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        424
      ],
      "id": "8a19cb99-efcd-462c-b311-068e355b7df0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + ($json.runId || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        352
      ],
      "id": "7afa8ae6-ead1-4479-90c2-11a37decf0d6",
      "name": "Get Run (API)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        128
      ],
      "id": "8fc9ecd5-9265-4347-993a-856c9d291db1",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + (($('When Called').item.json.runId) || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'failed', result: 'videos_error' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        128
      ],
      "id": "23ace120-e8d8-4789-8726-f4470e311afb",
      "name": "Mark Run Failed (Videos)"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + (($json.runId) || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'videos' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        736
      ],
      "id": "832e7b6c-4d94-4725-a0aa-89ac13a813de",
      "name": "Mark Run Videos"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        528
      ],
      "id": "b0b5807f-6a1a-4446-8ea9-95766b63ce05",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        272,
        544
      ],
      "id": "efe81140-2103-486f-b680-3df46de17ded",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.data?.video;\nif (!payload) {\n  throw new Error('Video payload missing from API response.');\n}\nconst normalized = {\n  ...payload,\n  run_id: payload.runId ?? null,\n  project_id: payload.projectId ?? null,\n  user_idea: payload.userIdea ?? null,\n  vibe: payload.vibe ?? null,\n  prompt: payload.prompt ?? null,\n  video_link: payload.videoLink ?? null,\n  error_message: payload.errorMessage ?? null,\n  started_at: payload.startedAt ?? null,\n  completed_at: payload.completedAt ?? null,\n  created_at: payload.createdAt ?? null,\n  updated_at: payload.updatedAt ?? null,\n  metadata: payload.metadata ?? {},\n};\nnormalized.ideaId = payload.id;\nnormalized.runId = payload.runId;\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        544
      ],
      "id": "6fd41c41-1e3e-4e62-931a-80673376f1c3",
      "name": "Get Idea"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.data?.run;\nif (!payload) {\n  throw new Error('Run payload missing from API response.');\n}\nconst normalized = {\n  ...payload,\n  project_id: payload.projectId ?? null,\n  persona_id: payload.personaId ?? null,\n  chat_id: payload.chatId ?? null,\n  result: payload.result ?? null,\n  started_at: payload.startedAt ?? null,\n  completed_at: payload.completedAt ?? null,\n  created_at: payload.createdAt ?? null,\n  updated_at: payload.updatedAt ?? null,\n  input: payload.input ?? {},\n  metadata: payload.metadata ?? {},\n};\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        352
      ],
      "id": "a0d11920-431a-4c44-bbc9-9d0d2a233c44",
      "name": "Get a row"
    }
  ],
  "connections": {
    "Prepare Video Settings": {
      "main": [
        [
          {
            "node": "Text to Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Idea (API)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Run Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Video2": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Videos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Videos)": {
      "main": [
        []
      ]
    },
    "Mark Run Videos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Prepare Video Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Idea (API)": {
      "main": [
        [
          {
            "node": "Get Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Idea": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "49fe0270-e004-4327-baef-fb11c8b31964",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T01:07:29.234Z",
      "createdAt": "2025-11-02T01:07:29.234Z",
      "role": "workflow:owner",
      "workflowId": "XILT3npSi1rA1azF",
      "projectId": "31ZCiMO58nOfetfK",
      "project": {
        "updatedAt": "2025-11-02T01:05:08.411Z",
        "createdAt": "2025-11-02T01:01:26.863Z",
        "id": "31ZCiMO58nOfetfK",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-02T01:01:26.863Z",
            "createdAt": "2025-11-02T01:01:26.863Z",
            "userId": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
            "projectId": "31ZCiMO58nOfetfK",
            "user": {
              "updatedAt": "2025-11-02T01:38:33.828Z",
              "createdAt": "2025-11-02T01:01:26.032Z",
              "id": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-02T01:05:22.653Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "other",
                "reportedSourceOther": "f"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}