workflows/generate-ideas.workflow.json
{
  "updatedAt": "2025-11-02T06:56:17.296Z",
  "createdAt": "2025-11-02T01:07:29.166Z",
  "id": "9tBbhRfA4149YH0f",
  "name": "Generate Ideas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userInput"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        -160
      ],
      "id": "4fec7160-d643-4754-b2fe-902bd69ccb67",
      "name": "When Called"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  runId: $json.run_id,\n  projectId: $json.project_id,\n  idea: $json.idea,\n  userIdea: $json.user_idea ?? null,\n  vibe: $json.vibe ?? null,\n  status: $json.status ?? 'idea_gen',\n  prompt: $json.prompt ?? null,\n  startedAt: $json.started_at ?? null,\n  metadata: { source: 'idea-generator' }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -160
      ],
      "id": "88c5da56-2b87-4730-8c05-e1a43e0593b4",
      "name": "Create a row"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.ideas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        -160
      ],
      "id": "e9bc985f-35c5-4386-bac8-7e829190c931",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "460ccabd-86a2-4125-8a0d-7393263eed5a",
              "name": "idea",
              "value": "={{ $json.idea }}",
              "type": "string"
            },
            {
              "id": "669d4c08-bc8e-44ef-8111-b41159f88225",
              "name": "vibe",
              "value": "={{ $json.vibe }}",
              "type": "string"
            },
            {
              "id": "6709048c-774a-4eb1-8782-af9197463098",
              "name": "started_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "13d977db-ba6d-495c-bbb5-a5e3dc11d2c2",
              "name": "status",
              "value": "idea_gen",
              "type": "string"
            },
            {
              "id": "dd923ce7-7c83-43d7-aaab-a9a16f157009",
              "name": "project_id",
              "value": "={{ $('Get Run').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "run-id-field",
              "name": "run_id",
              "value": "={{ $('When Called').item.json.runId }}",
              "type": "string"
            },
            {
              "id": "user-idea-field",
              "name": "user_idea",
              "value": "={{ $json.userIdea || $json.user_idea || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -160
      ],
      "id": "37597c0b-cd23-40f8-b02b-d0df53f74ff6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.runId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -160
      ],
      "id": "2fe33b20-dde7-41a6-8cf1-e5f9a85080b3",
      "name": "Get Run (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "7ca6304e-0e68-4a29-a720-aa70746d8ad1",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Called').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'failed',\n  stages: {\n    idea_generation: {\n      status: 'failed',\n      error: {\n        message: $json.error?.message ?? 'Idea generation workflow failed.',\n        stack: $json.error?.stack ?? null,\n        lastNode: $json.execution?.lastNodeExecuted ?? null\n      }\n    }\n  },\n  output: {\n    stage: 'idea_generation',\n    error: {\n      message: $json.error?.message ?? 'Idea generation workflow failed.',\n      stack: $json.error?.stack ?? null,\n      lastNode: $json.execution?.lastNodeExecuted ?? null\n    }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        192
      ],
      "id": "58fab1dd-6de5-4830-b95d-7a166a159941",
      "name": "Mark Run Failed (Ideas)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7qSyk9RjD6HhPWNm",
          "mode": "list",
          "cachedResultUrl": "/workflow/7qSyk9RjD6HhPWNm",
          "cachedResultName": "Mylo_MCP_Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectId",
              "displayName": "projectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "personaId",
              "displayName": "personaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "outputSchema",
              "displayName": "outputSchema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        -160
      ],
      "id": "02614dfe-21eb-448e-bf19-c356030d31b1",
      "name": "Call 'Mylo_MCP_Bot'"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.workflowRun ?? $json?.data?.workflowRun ?? null;\nif (!payload) {\n  throw new Error('Workflow run payload missing from API response.');\n}\n\nconst metadata = {};\nif (payload.input && typeof payload.input === 'object') {\n  if (payload.input.metadata && typeof payload.input.metadata === 'object') {\n    Object.assign(metadata, payload.input.metadata);\n  }\n  if (payload.input.turn && typeof payload.input.turn === 'object' && payload.input.turn.metadata && typeof payload.input.turn.metadata === 'object') {\n    Object.assign(metadata, payload.input.turn.metadata);\n  }\n  if (payload.input.projectSlug && typeof payload.input.projectSlug === 'string' && !metadata.projectSlug) {\n    metadata.projectSlug = payload.input.projectSlug;\n  }\n}\nif (!metadata.projectSlug && typeof payload.projectId === 'string') {\n  metadata.projectSlug = payload.projectId;\n}\n\nconst normalized = {\n  ...payload,\n  run_id: payload.id,\n  project_id: payload.projectId ?? null,\n  projectId: payload.projectId ?? null,\n  session_id: payload.sessionId ?? null,\n  sessionId: payload.sessionId ?? null,\n  user_idea:\n    (payload.input?.userIdea ??\n      payload.input?.user_idea ??\n      metadata.userIdea ??\n      '') || '',\n  input: payload.input ?? {},\n  metadata,\n};\n\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -160
      ],
      "id": "0ba93b9e-d12c-43f4-939f-634f7755c448",
      "name": "Get Run"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all ideas from the previous items\nconst ideas = [];\nconst runData = $('Get Run').item?.json ?? {};\nconst workflowRunId = runData.run_id || runData.id || $('When Called').item.json.runId;\nconst projectId = runData.project_id || runData.projectId || 'aismr';\nconst fallbackUserIdea = runData.metadata?.userIdea || runData.input?.userIdea || runData.input?.user_idea || '';\n\n// Collect all ideas from the split items\nfor (const item of $input.all()) {\n  if (item.json.idea) {\n    ideas.push({\n      idea: item.json.idea,\n      vibe: item.json.vibe,\n      ideaId: item.json.run_id || item.json.id,\n    });\n  }\n}\n\nreturn [{\n  json: {\n    workflowRunId,\n    projectId,\n    ideas,\n    userIdea: runData.user_idea || runData.userIdea || fallbackUserIdea,\n    totalIdeas: ideas.length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -160
      ],
      "id": "aggregate-ideas-node",
      "name": "Aggregate Ideas"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.workflowRunId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'running',\n  currentStage: 'idea_generation',\n  stages: {\n    idea_generation: {\n      status: 'in_progress',\n      output: $json.ideas\n    },\n    screenplay: { status: 'pending' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  },\n  output: {\n    idea_generation: {\n      ideas: $json.ideas,\n      userIdea: $json.userIdea,\n      totalIdeas: $json.totalIdeas\n    }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        -160
      ],
      "id": "update-run-ideas-complete",
      "name": "Update Run Ideas Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/hitl/request-approval",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  workflowRunId: $json.workflowRunId,\n  stage: 'idea_generation',\n  content: {\n    ideas: $json.ideas,\n    userIdea: $json.userIdea,\n    totalIdeas: $json.totalIdeas,\n  },\n  notifyChannels: ['slack']\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        -160
      ],
      "id": "request-hitl-approval",
      "name": "Request HITL Approval"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.approval?.id }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2128,
        -64
      ],
      "id": "Check Approval ID",
      "name": "Check Approval ID"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/hitl/approval/' + $json.approvalId }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        -240
      ],
      "id": "Get Approval Status",
      "name": "Get Approval Status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.approval?.status }}",
              "value2": "approved",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3248,
        -64
      ],
      "id": "Check If Approved",
      "name": "Check If Approved"
    },
    {
      "parameters": {
        "amount": 5000,
        "unit": "milliseconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2800,
        -240
      ],
      "id": "Wait Before Polling",
      "name": "Wait Before Polling",
      "webhookId": "bc467ebb-e6ee-4347-9752-b111fbaf9ae2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + $('Aggregate Ideas').item.json.workflowRunId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'waiting_for_hitl',\n  currentStage: 'idea_generation',\n  stages: {\n    idea_generation: {\n      status: 'waiting_for_hitl',\n      output: $('Aggregate Ideas').item.json.ideas\n    },\n    screenplay: { status: 'pending' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  },\n  output: {\n    stage: 'idea_generation',\n    ideas: $('Aggregate Ideas').item.json.ideas,\n    userIdea: $('Aggregate Ideas').item.json.userIdea,\n    totalIdeas: $('Aggregate Ideas').item.json.totalIdeas\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        -256
      ],
      "id": "Update Run Status Waiting",
      "name": "Update Run Status Waiting",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qOgWNfGwMpWkPWjK",
          "mode": "list",
          "cachedResultUrl": "/workflow/qOgWNfGwMpWkPWjK",
          "cachedResultName": "Screen Writer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Get Run').item.json.user_idea || $('Aggregate Ideas').item.json.userIdea }}",
            "runId": "={{ $('Aggregate Ideas').item.json.workflowRunId }}",
            "selectedIdea": "={{ $json.approval?.content?.selectedItem || $('Aggregate Ideas').item.json.ideas[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "selectedIdea",
              "displayName": "selectedIdea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3696,
        -64
      ],
      "id": "Trigger Screenplay",
      "name": "Trigger Screenplay"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + $('Aggregate Ideas').item.json.workflowRunId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'running',\n  currentStage: 'screenplay',\n  stages: {\n    idea_generation: {\n      status: 'completed',\n      output: $('Aggregate Ideas').item.json.ideas\n    },\n    screenplay: { status: 'running' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3472,
        -64
      ],
      "id": "Update Run Approved",
      "name": "Update Run Approved",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + $('Aggregate Ideas').item.json.workflowRunId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  status: 'needs_revision',\n  currentStage: 'idea_generation',\n  stages: {\n    idea_generation: {\n      status: 'needs_revision',\n      output: $('Aggregate Ideas').item.json.ideas\n    },\n    screenplay: { status: 'pending' },\n    video_generation: { status: 'pending' },\n    publishing: { status: 'pending' }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        -48
      ],
      "id": "Update Run Rejected",
      "name": "Update Run Rejected",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FlSleoPTUxLtSS8j",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop back to check approval status\nconst approvalId = $('Request HITL Approval').item.json.approval?.id;\nconst workflowRunId = $('Aggregate Ideas').item.json.workflowRunId;\n\nreturn [{\n  json: {\n    approvalId,\n    workflowRunId,\n    loopCount: ($input.all().length > 0 && $input.item(0).json.loopCount ? $input.item(0).json.loopCount + 1 : 1),\n    maxLoops: 100\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -64
      ],
      "id": "Prepare Loop",
      "name": "Prepare Loop"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.loopCount }}",
              "operation": "smaller",
              "value2": 100
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2576,
        -144
      ],
      "id": "Check Loop Limit",
      "name": "Check Loop Limit"
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Aggregate Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Ideas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Ideas)": {
      "main": [
        []
      ]
    },
    "Call 'Mylo_MCP_Bot'": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "Call 'Mylo_MCP_Bot'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Ideas": {
      "main": [
        [
          {
            "node": "Update Run Ideas Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request HITL Approval": {
      "main": [
        [
          {
            "node": "Update Run Status Waiting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Approval ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Status Waiting": {
      "main": [
        []
      ]
    },
    "Check Approval ID": {
      "main": [
        [
          {
            "node": "Prepare Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approval Status": {
      "main": [
        [
          {
            "node": "Check If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Approved": {
      "main": [
        [
          {
            "node": "Update Run Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Polling": {
      "main": [
        [
          {
            "node": "Get Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Loop": {
      "main": [
        [
          {
            "node": "Check Loop Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loop Limit": {
      "main": [
        [
          {
            "node": "Wait Before Polling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Run Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Approved": {
      "main": [
        [
          {
            "node": "Trigger Screenplay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Rejected": {
      "main": [
        []
      ]
    },
    "Trigger Screenplay": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Called": [
      {
        "json": {
          "userInput": "Make an asmr video about puppies",
          "runId": "4cb64122-824e-4054-bc48-3fb90a8e9972"
        }
      }
    ]
  },
  "versionId": "ab126ce9-4efa-405d-b166-88de1af0b0a3",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T01:07:29.166Z",
      "createdAt": "2025-11-02T01:07:29.166Z",
      "role": "workflow:owner",
      "workflowId": "9tBbhRfA4149YH0f",
      "projectId": "31ZCiMO58nOfetfK",
      "project": {
        "updatedAt": "2025-11-02T01:05:08.411Z",
        "createdAt": "2025-11-02T01:01:26.863Z",
        "id": "31ZCiMO58nOfetfK",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-02T01:01:26.863Z",
            "createdAt": "2025-11-02T01:01:26.863Z",
            "userId": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
            "projectId": "31ZCiMO58nOfetfK",
            "user": {
              "updatedAt": "2025-11-02T06:40:51.365Z",
              "createdAt": "2025-11-02T01:01:26.032Z",
              "id": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-02T01:05:22.653Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "other",
                "reportedSourceOther": "f"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NGKqyspp66gDGVI0",
                "userActivatedAt": 1762065650829
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}