workflows/generate-video.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "tableId": "=videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('When Called').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        544
      ],
      "id": "284d395e-f99f-402c-9b42-f0c89b9b6ce1",
      "name": "Get Idea",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78950a7f-e225-430d-a262-e5d82962d231",
              "name": "=prompt",
              "type": "string",
              "value": "={{ $('Get Idea').item.json.prompt }}"
            },
            {
              "id": "083ce6d6-8cd2-4f73-8edd-eecd98002b1c",
              "name": "model",
              "type": "string",
              "value": "veo3_fast"
            },
            {
              "id": "aa4fa43a-85f5-400b-9b2b-0d0de6590d39",
              "name": "seconds",
              "type": "string",
              "value": "10"
            },
            {
              "id": "b1c23456-789d-0123-4567-89abcdef0123",
              "name": "idea",
              "type": "string",
              "value": "={{ $('Get Idea').item.json.idea }}"
            },
            {
              "id": "c7f50045-50f8-4646-9e30-7c07b670d2a8",
              "name": "aspect_ratio",
              "value": "9:16",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "51408947-fa2a-4730-a0b9-3cb446564e75",
      "name": "Prepare Video Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        272,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        544
      ],
      "id": "a1f21b44-6bc4-480e-85fe-23258beb3c76",
      "name": "When Called"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "=videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Called').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "video_link",
              "fieldValue": "={{ $json.data.response.resultUrls[0] || \"failed\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1392,
        424
      ],
      "id": "59e7cd51-4031-49b0-a85d-4bd37abbea49",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt.replace(/[\\\\\"]/g, '\\\\$&').replace(/\\n/g, '\\\\n').replace(/\\r/g, '\\\\r').replace(/\\t/g, '\\\\t') }}\",\n  \"model\": \"{{ $json.model }}\",\n  \"aspectRatio\": \"{{ $json.aspect_ratio }}\",\n  \"generationType\": \"TEXT_2_VIDEO\",\n  \"seconds\": \"{{ $json.seconds }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        544
      ],
      "id": "6a8ab5a1-30fe-4c9e-9a45-b1d84216b166",
      "name": "Text to Video2",
      "credentials": {
        "httpBearerAuth": {
          "id": "AXZk8w06m78wmbXh",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        544
      ],
      "id": "ccd769a4-f9b1-4a53-8101-128aa1020347",
      "name": "Get Video4",
      "credentials": {
        "httpBearerAuth": {
          "id": "AXZk8w06m78wmbXh",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        640
      ],
      "id": "94066f8c-c680-4342-8275-173e98172325",
      "name": "Wait",
      "webhookId": "9fd30610-c0b9-4f5c-9af5-89b821c11ec3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6888dba1-6521-483a-a544-e9044c397f1c",
                    "leftValue": "={{ $json.data.response.resultUrls[0] }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "973ecf21-58b8-41df-a780-1ad778e963bf",
                    "leftValue": "={{ $json.data.response.resultUrls[0] }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        944,
        472
      ],
      "id": "36a1e18a-990a-4708-a535-ae6e07484748",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b90a09d-8e9f-4690-81a2-a8821e7fcbdf",
              "name": "status",
              "value": "={{ $json.data.successFlag ? \"video_gen\" : \"failed\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        424
      ],
      "id": "8a19cb99-efcd-462c-b311-068e355b7df0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.runId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        352
      ],
      "id": "7afa8ae6-ead1-4479-90c2-11a37decf0d6",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        128
      ],
      "id": "8fc9ecd5-9265-4347-993a-856c9d291db1",
      "name": "On Error"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Called').item.json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "result",
              "fieldValue": "videos_error"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        128
      ],
      "id": "23ace120-e8d8-4789-8726-f4470e311afb",
      "name": "Mark Run Failed (Videos)",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "videos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        736
      ],
      "id": "832e7b6c-4d94-4725-a0aa-89ac13a813de",
      "name": "Mark Run Videos",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        528
      ],
      "id": "b0b5807f-6a1a-4446-8ea9-95766b63ce05",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        48,
        544
      ],
      "id": "efe81140-2103-486f-b680-3df46de17ded",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Get Idea": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Video Settings": {
      "main": [
        [
          {
            "node": "Text to Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Idea",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Run Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Video2": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Videos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Videos)": {
      "main": [
        []
      ]
    },
    "Mark Run Videos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Prepare Video Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Text to Video2": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "4592d211c4e7aa67fce974b199981765"
          }
        }
      }
    ],
    "When Called": [
      {
        "json": {
          "id": "91a62758-fca2-4e79-9122-2a89fc5fabdb",
          "runId": "91a62758-fca2-4e79-9122-2a89fc5fabdb"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
