workflows/hitl-temp.workflow.json
{
  "updatedAt": "2025-11-01T16:55:16.693Z",
  "createdAt": "2025-10-26T00:09:51.842Z",
  "id": "npVoihZwWs7hAxeF",
  "name": "HITL TEMP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "/approval",
        "options": {
          "responseData": "✅ Thanks, your decision was recorded."
        }
      },
      "id": "3aa9de06-3b89-44d7-90dc-93b6b8355551",
      "name": "01 Webhook Trigger: Approval Decision",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1600,
        432
      ],
      "webhookId": "12e347b0-b52a-4a2e-b096-4c5448f9641f",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import hashlib\nimport hmac\nimport time\nimport os\n\nsecret = os.getenv(\"SECRET_KEY\")\nif not secret:\n    raise ValueError(\"SECRET_KEY environment variable not set\")\nnow = int(time.time())\n\nout = []\n\nfor item in items:\n    q = item[\"json\"].get(\"query\", {})\n    cid = q.get(\"cid\")\n    status = q.get(\"status\")\n    action = q.get(\"action\")\n    exp = int(q.get(\"exp\", \"0\"))\n    sig = q.get(\"sig\")\n\n    payload = f\"{cid}|{status}|{exp}\"\n    check_sig = hmac.new(secret.encode(), payload.encode(), hashlib.sha256).hexdigest()\n\n    # Default result\n    result = {\n        \"correlation_id\": cid,\n        \"new_status\": status,\n        \"reason\": None\n    }\n\n    if sig != check_sig:\n        result[\"action\"] = \"invalid\"\n        result[\"reason\"] = \"Invalid signature\"\n    elif exp < now:\n        result[\"action\"] = \"expired\"\n        result[\"reason\"] = \"Link expired\"\n    elif action == \"approve\":\n        result[\"action\"] = \"approve\"\n        result[\"actor\"] = \"manager\"  # later replace with real manager identity\n    elif action == \"reject\":\n        result[\"action\"] = \"reject\"\n        result[\"actor\"] = \"manager\"\n    else:\n        result[\"action\"] = \"unknown\"\n        result[\"reason\"] = \"Unsupported action\"\n\n    out.append({\"json\": result})\n\nreturn out\n"
      },
      "id": "67c0b0e6-94b4-41a6-8373-72394d15162c",
      "name": "02 FN: Verify Signature + TTL",
      "type": "n8n-nodes-base.code",
      "position": [
        -1376,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tickets\nSET status = $2, updated_at = NOW()\nWHERE correlation_id = $1::uuid\nRETURNING id, status, updated_at, correlation_id;\n",
        "options": {
          "queryReplacement": "={{$json.correlation_id}},{{$json.new_status}}"
        }
      },
      "id": "e870070f-e7c5-4035-8a31-ce94ea0b581b",
      "name": "04c DB: Update Ticket Status",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -688,
        224
      ],
      "notesInFlow": true,
      "typeVersion": 2.6,
      "notes": "Updates ticket status by correlation ID. Also inserts audit row and notifies ticket owner. Requires tickets table and audit schema."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT chat_id, correlation_id, status, subject\nFROM tickets\nWHERE correlation_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $('04c DB: Update Ticket Status').item.json.correlation_id }}"
        }
      },
      "id": "5fdb9a07-5497-4ab8-a436-5ec4ecac8f3d",
      "name": "04c1 DB: Get Ticket Owner",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -240,
        224
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "115bb477-3dfa-4d9b-8e4b-cd2ef15439e1",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[\"status\"] }}",
              "rightValue": "resolved"
            }
          ]
        },
        "options": {}
      },
      "id": "6cfa5ff4-39a2-4236-8238-f9aa1e82f077",
      "name": "04c1a IF: Resolved or In Progress",
      "type": "n8n-nodes-base.if",
      "position": [
        -16,
        128
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🎉 Good news! Your ticket (<code>{{ $json.correlation_id }}</code>) has been resolved.  \nYou can check details anytime with:  \n/status <code>{{ $json.correlation_id }}</code>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a253d5d2-1e85-46ee-b5a7-42e2edde3acb",
      "name": "05c1a Telegram: Notify Resolved",
      "type": "n8n-nodes-base.telegram",
      "position": [
        432,
        32
      ],
      "webhookId": "834b2795-7e52-4264-b787-7280bf60de36",
      "retryOnFail": true,
      "typeVersion": 1.2,
      "notes": "Sends user-facing messages back to Telegram. Content depends on workflow branch (acknowledgment, errors, updates)."
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🔄 Your ticket (<code>{{ $json.correlation_id }}.</code>) is now being worked on.  \nWe’ll notify you once it’s resolved.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "71f3b829-e810-4399-99f2-babdd40b727c",
      "name": "05c1b Telegram: Notify In Progress",
      "type": "n8n-nodes-base.telegram",
      "position": [
        432,
        224
      ],
      "webhookId": "560dda9b-b8e5-4e5b-9705-4d6ed17ce50d",
      "retryOnFail": true,
      "typeVersion": 1.2,
      "notes": "Sends user-facing messages back to Telegram. Content depends on workflow branch (acknowledgment, errors, updates)."
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ <b>Ticket <code>{{ $json.correlation_id }}</code></b> updated!\n📌 <b>New Status:</b> {{ $json[\"status\"] }}\n⏰ <b>Updated At:</b> {{ new Date($(\"04c DB: Update Ticket Status\").item.json.updated_at).toLocaleString() }}\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "45a2ad73-6219-4c66-8f29-a419525c9c9b",
      "name": "05c Telegram: Update Confirmation",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -16,
        320
      ],
      "webhookId": "2e047d36-651f-4c1e-9970-8adf7029c70c",
      "retryOnFail": true,
      "typeVersion": 1.2,
      "notes": "Sends user-facing messages back to Telegram. Content depends on workflow branch (acknowledgment, errors, updates)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4eb644e5-1340-492e-96e7-66198d2d72ad",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !!$json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "f3ddeeb6-2e69-42d7-9900-253bd279d7ca",
      "name": "Notify Failed?",
      "type": "n8n-nodes-base.if",
      "position": [
        656,
        128
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors \n  (workflow_id, workflow_name, execution_id, error_message, json_payload)\nVALUES \n  ($1, $2, $3, $4, $5::jsonb);\n",
        "options": {
          "queryReplacement": "={{ $workflow.id }},\n{{ $workflow.name }},\n{{ $execution.id }},\n{{ $json.error?.message || 'unknown' }},\n{{ JSON.stringify($json) }}\n"
        }
      },
      "id": "a3d079d2-90a7-4459-8fb0-3c88034d8ece",
      "name": "Execute a SQL query",
      "type": "n8n-nodes-base.postgres",
      "position": [
        880,
        128
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ticket_audit\n  (ticket_id, correlation_id, action, new_status, actor_chat_id)\nVALUES\n  ($1, $2, 'update', $3, $4);\n",
        "options": {
          "queryReplacement": "={{ $json.id }},\n{{ $json.correlation_id }},\n{{ $json.status }},\n{{ $('02 FN: Verify Signature + TTL').item.json.actor }}"
        }
      },
      "id": "2f4ffbe2-37b1-4872-b556-fb3159bce47d",
      "name": "04c2 DB: Insert Audit Row",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -464,
        224
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "chatId": "chat_id",
        "text": "=❌ Manager rejected update.\nTicket <code>{{ $('02 FN: Verify Signature + TTL').item.json.correlation_id }}</code> stays unchanged.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "4cd74418-742b-4ebd-a80e-aa9d844de2b9",
      "name": "Text (reject)",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -240,
        416
      ],
      "webhookId": "ec8dcd4d-28ad-478c-a1b5-0e87133ff7c5",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, correlation_id \nFROM tickets \nWHERE correlation_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{$json.correlation_id}}"
        }
      },
      "id": "b16a4c24-effd-489e-aac2-3bb05b36618e",
      "name": "04r0 DB: Get Ticket ID",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -688,
        416
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ticket_audit \n  (ticket_id, correlation_id, action, new_status, actor_chat_id)\nVALUES \n  ($1, $2, 'reject', $3, $4);\n",
        "options": {
          "queryReplacement": "={{$json.id}},  {{$json.correlation_id}},  {{ $('02 FN: Verify Signature + TTL').item.json.new_status }},  {{ $('02 FN: Verify Signature + TTL').item.json.actor }}"
        }
      },
      "id": "2f6dc575-6cfe-40ed-a9aa-4fab733b2dbf",
      "name": "Execute a SQL query1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -464,
        416
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "dc1d552d-728a-46cd-9024-14d88b01f77f",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[\"status\"] }}",
              "rightValue": "resolved"
            }
          ]
        },
        "options": {}
      },
      "id": "2b0bc079-8f81-4552-9426-b6063763c505",
      "name": "If Resolved",
      "type": "n8n-nodes-base.if",
      "position": [
        208,
        32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a4a97bc7-96b5-4e5b-8ade-fd4f9d292016",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[\"status\"] }}",
              "rightValue": "in_progress"
            }
          ]
        },
        "options": {}
      },
      "id": "89075fca-474c-4ea3-9a7c-fdeafe296e28",
      "name": "If in_progress",
      "type": "n8n-nodes-base.if",
      "position": [
        208,
        224
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b720a50f-1e38-477b-b828-f85c8e4e10d9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json[\"action\"] }}",
                    "rightValue": "approve"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1f0d9637-5986-4e90-9f64-3829a12c15ef",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json[\"action\"] }}",
                    "rightValue": "reject"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2ad38675-da19-4380-882c-0c3da132eea1",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json[\"action\"] }}",
                    "rightValue": "expired"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "expired"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "74c8e5cd-1441-43ef-bf17-98956cf7e63c",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json[\"action\"] }}",
                    "rightValue": "invalid"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "1e5380a9-1025-4f88-9d5b-19979138ba4b",
      "name": "Actions",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1152,
        400
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ticket_audit\n  (correlation_id, action, new_status, actor_chat_id)\nVALUES\n  ($1, 'expired', $2, 'system');\n",
        "options": {
          "queryReplacement": "={{ $json.correlation_id }}, {{ $json.new_status }}"
        }
      },
      "id": "f95f0796-39cb-4878-b8a8-264999b8eb6a",
      "name": "04e DB: Insert Audit Expired",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -688,
        608
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ticket_audit\n  (correlation_id, action, new_status, actor_chat_id)\nVALUES\n  ($1, 'invalid', $2, 'system');\n",
        "options": {
          "queryReplacement": "={{ $json.correlation_id }}, {{ $json.new_status }}"
        }
      },
      "id": "3cfc12e3-e273-4b11-888f-b574c006e5d7",
      "name": "04i DB: Insert Audit Invalid",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -688,
        800
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "chatId": "chat_id",
        "text": "=⏰ Manager notice: approval link expired for ticket <code>{{ $('02 FN: Verify Signature + TTL').item.json.correlation_id }}</code>.",
        "additionalFields": {}
      },
      "id": "07808b5d-b90e-4f5f-ad45-ff2f00ab0457",
      "name": "05e Telegram: Notify Expired",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -464,
        608
      ],
      "webhookId": "b98a6506-35d0-41a8-8807-574cf8bb60db",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "chat_id",
        "text": "=🚨 Invalid approval attempt detected.\nTicket: <code>{{ $('02 FN: Verify Signature + TTL').item.json.correlation_id }}</code>",
        "additionalFields": {}
      },
      "id": "7adc63e6-82a5-490f-b6c4-b182e5662d30",
      "name": "05i Telegram: Alert Invalid",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -464,
        800
      ],
      "webhookId": "964c3124-8fd4-4e92-b310-8ff4fa58cba0",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🛑 Human-in-the-Loop Approval Flow (n8n + Postgres + Telegram)\n\nThis workflow adds a secure approval step into your automations.  \nManagers receive signed approval/reject links in Telegram.  \nLinks expire after TTL, and every action is logged in Postgres.\n\n### ✨ Features\n- HMAC signed approval links with TTL  \n- Status updates via Telegram  \n- Audit table in Postgres  \n- Auto-expiry handling  \n\n### 📒 Requirements\n- n8n instance  \n- Postgres with `tickets` + `approvals` tables  \n- Telegram bot token  \n- One secret key set in env (`SECRET_KEY`)  \n\n### ⚙️ Setup\n1. Import workflow JSON  \n2. Create audit table (SQL provided)  \n3. Configure `.env` (DB, Telegram, SECRET_KEY)  \n4. Run a test ticket  \n",
        "height": 576,
        "width": 832
      },
      "id": "c3454a7b-ba45-4706-bcda-ffa431dee02a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4064,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🔐 Security Note\nThis Code node requires `SECRET_KEY` to be set as an environment variable.  \nThe workflow will fail if it’s missing — this is intentional for security.  \nAdd `SECRET_KEY=your-secret` to your `.env`.\n",
        "height": 224,
        "color": 5
      },
      "id": "11700d0a-dccc-4b6e-b98a-c936c1f88edb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 📲 Telegram Chat IDs\n- User-facing nodes use `={{ $json.chat_id }}` pulled from the ticket.  \n- Manager/admin alerts (e.g., invalid attempts) may use fixed IDs or env vars.  \nUpdate these values to your actual team setup.\n",
        "height": 256,
        "color": 4
      },
      "id": "2e65721d-7314-4125-809d-3e19916b4201",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🔑 Generate Approval Links\n- Code node creates signed URLs  \n- Uses HMAC with secret key  \n- Adds expiry timestamp (TTL)  \n### ✅ Verify Link & TTL\n- Validates HMAC signature  \n- Checks expiry timestamp  \n- Rejects invalid or expired clicks  \n",
        "height": 304
      },
      "id": "6fda414f-c750-4d3b-afd2-310d304bff01",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1936,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🛠 Step-by-Step Setup (Beginner Friendly)\n\n1. **Set environment variable**  \n   - Open your `.env` file (or environment config in your server).  \n   - Add:  \n     ```\n     SECRET_KEY=mysecretkey\n     ```  \n   - Restart n8n so it picks up the new variable.\n\n2. **Create Postgres tables** (run these in order):\n   - **Tickets**  \n     ```sql\n     CREATE TABLE tickets (\n       id BIGSERIAL PRIMARY KEY,\n       correlation_id UUID,\n       status TEXT,\n       subject TEXT,\n       chat_id TEXT,\n       updated_at TIMESTAMP DEFAULT NOW()\n     );\n     ```\n   - **Audit log**  \n     ```sql\n     CREATE TABLE ticket_audit (\n       id BIGSERIAL PRIMARY KEY,\n       ticket_id BIGINT,\n       correlation_id UUID,\n       action TEXT,\n       new_status TEXT,\n       actor_chat_id TEXT,\n       created_at TIMESTAMP DEFAULT NOW()\n     );\n     ```\n   - **Workflow errors**  \n     ```sql\n     CREATE TABLE workflow_errors (\n       id BIGSERIAL PRIMARY KEY,\n       workflow_id TEXT,\n       workflow_name TEXT,\n       execution_id TEXT,\n       error_message TEXT,\n       json_payload JSONB,\n       created_at TIMESTAMP DEFAULT NOW()\n     );\n     ```\n\n3. **Add credentials in n8n**  \n   - Go to *Credentials → Telegram API* → paste your bot token.  \n   - Go to *Credentials → Postgres* → add DB connection details.  \n   - **Important:** Replace `chat_id` placeholders in Telegram nodes with your real Telegram ID (use `@userinfobot` in Telegram to get it).\n\n4. **Import the workflow JSON**  \n   - Click *Import workflow* in n8n.  \n   - Select this file.  \n   - Save and activate.\n\n5. **Test an approval link**  \n   - Open a URL like this in your browser (replace with your own values):  \n     ```\n     http://YOUR_N8N_HOST/approval?cid=<UUID>&status=in_progress&action=approve&exp=1735939200&sig=<hmac-signature>\n     ```  \n   - `cid` → ticket correlation ID from your DB  \n   - `status` → `resolved` or `in_progress`  \n   - `action` → `approve` or `reject`  \n   - `exp` → expiry time in epoch seconds  \n   - `sig` → HMAC-SHA256 signature of `cid|status|exp`  \n\n6. **Verify it works**  \n   - Ticket status changes in the `tickets` table.  \n   - Row is added to `ticket_audit`.  \n   - Telegram sends a notification.  \n   - If the link is invalid/expired, you get an alert and it’s logged in `workflow_errors`.\n",
        "height": 1568,
        "width": 1168,
        "color": 5
      },
      "id": "017ba296-9289-434d-bffe-1816a877294b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3184,
        288
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "01 Webhook Trigger: Approval Decision": {
      "main": [
        [
          {
            "node": "02 FN: Verify Signature + TTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 FN: Verify Signature + TTL": {
      "main": [
        [
          {
            "node": "Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04c DB: Update Ticket Status": {
      "main": [
        [
          {
            "node": "04c2 DB: Insert Audit Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04c1 DB: Get Ticket Owner": {
      "main": [
        [
          {
            "node": "04c1a IF: Resolved or In Progress",
            "type": "main",
            "index": 0
          },
          {
            "node": "05c Telegram: Update Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04c1a IF: Resolved or In Progress": {
      "main": [
        [
          {
            "node": "If Resolved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If in_progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05c1a Telegram: Notify Resolved": {
      "main": [
        [
          {
            "node": "Notify Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05c1b Telegram: Notify In Progress": {
      "main": [
        [
          {
            "node": "Notify Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Failed?": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04c2 DB: Insert Audit Row": {
      "main": [
        [
          {
            "node": "04c1 DB: Get Ticket Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04r0 DB: Get Ticket ID": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Text (reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Resolved": {
      "main": [
        [
          {
            "node": "05c1a Telegram: Notify Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If in_progress": {
      "main": [
        [
          {
            "node": "05c1b Telegram: Notify In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actions": {
      "main": [
        [
          {
            "node": "04c DB: Update Ticket Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04r0 DB: Get Ticket ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04e DB: Insert Audit Expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04i DB: Insert Audit Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04e DB: Insert Audit Expired": {
      "main": [
        [
          {
            "node": "05e Telegram: Notify Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04i DB: Insert Audit Invalid": {
      "main": [
        [
          {
            "node": "05i Telegram: Alert Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3b2710d5-9b8d-410c-a438-a59927ad00b5",
  "triggerCount": 0
}