workflows/idea-generator-v2.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            },
            {
              "name": "persona"
            },
            {
              "name": "outputSchema"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -40
      ],
      "id": "3b0a88c1-bf8c-4af0-9272-8af8b5d3c1e9",
      "name": "When Called"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('When Called').item.json.runId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -120,
        -40
      ],
      "id": "e9c7ad6e-5522-4ab0-9b0d-5fb85b452bbe",
      "name": "Get Run",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Called').item.json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "idea_gen_pending"
            },
            {
              "fieldId": "started_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        120,
        -40
      ],
      "id": "7f51d858-26e4-45ae-9c79-fe3f75d1b8f8",
      "name": "Mark Run Idea Pending",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "projects",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Get Run').item.json.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        360,
        -40
      ],
      "id": "d0a2f7f8-1542-43e1-aecb-3e434f1fe9af",
      "name": "Get Project",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "run-id",
              "name": "runId",
              "value": "={{ $('When Called').item.json.runId }}",
              "type": "string"
            },
            {
              "id": "persona-id",
              "name": "persona",
              "value": "={{ $('When Called').item.json.persona }}",
              "type": "string"
            },
            {
              "id": "project-slug",
              "name": "project",
              "value": "={{ ($('Get Project').item.json.name || '').toLowerCase().replace(/[^a-z0-9]/g, '') }}",
              "type": "string"
            },
            {
              "id": "output-schema",
              "name": "outputSchema",
              "value": "={{ $('When Called').item.json.outputSchema }}",
              "type": "string"
            },
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $('Get Run').item.json.input?.chatInput || $('Get Run').item.json.metadata?.chatInput || '' }}",
              "type": "string"
            },
             {
              "id": "project-id",
              "name": "projectId",
              "value": "={{ $('Get Run').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "mylo-workflow-id",
              "name": "myloWorkflowId",
              "value": "={{ $('When Called').item.json.myloWorkflowId ?? $env.MYLO_MCP_WORKFLOW_ID ?? 'REPLACE_WITH_MYLO_WORKFLOW_ID' }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "keepOnlySet": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -40
      ],
      "id": "9d6c3b47-7a8f-452d-b1ef-13c2b9c0f6b1",
      "name": "Prepare Agent Payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.myloWorkflowId || 'REPLACE_WITH_MYLO_WORKFLOW_ID' }}",
          "mode": "list",
          "cachedResultName": "mylo-mcp-agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project": "={{ $json.project }}",
            "persona": "={{ $json.persona }}",
            "chatInput": "={{ $json.chatInput }}",
            "outputSchema": "={{ $json.outputSchema }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project",
              "displayName": "project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "persona",
              "displayName": "persona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "outputSchema",
              "displayName": "outputSchema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        840,
        -40
      ],
      "id": "a3be69ad-4d0f-44a6-93d9-0ea5e3f0bd96",
      "name": "Call Mylo MCP Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Called').item.json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "idea_gen_complete"
            },
            {
              "fieldId": "result",
              "fieldValue": "={{ JSON.stringify($json) }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1080,
        -160
      ],
      "id": "c971b784-66a9-4ca5-a5f0-43844f05d977",
      "name": "Mark Run Idea Complete",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output-run-id",
              "name": "runId",
              "value": "={{ $('When Called').item.json.runId }}",
              "type": "string"
            },
            {
              "id": "output-project-id",
              "name": "projectId",
              "value": "={{ $('Get Run').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "output-user-idea",
              "name": "userIdea",
              "value": "={{ $json.userIdea || $json.user_idea || '' }}",
              "type": "string"
            },
            {
              "id": "output-ideas",
              "name": "ideas",
              "value": "={{ $json.ideas || [] }}",
              "type": "json"
            }
          ]
        },
        "options": {
          "keepOnlySet": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        80
      ],
      "id": "4f85f8a6-5fc3-4de6-9c6d-ff26cefbf2ad",
      "name": "Prepare Output"
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "Mark Run Idea Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Idea Pending": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Prepare Agent Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Payload": {
      "main": [
        [
          {
            "node": "Call Mylo MCP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Mylo MCP Agent": {
      "main": [
        [
          {
            "node": "Mark Run Idea Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
