workflows/idea-generator.workflow.json
{
  "updatedAt": "2025-10-29T21:37:57.000Z",
  "createdAt": "2025-10-16T05:23:17.280Z",
  "id": "ljH4wBxJn069C282",
  "name": "Idea Generator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userInput"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        -128
      ],
      "id": "4fec7160-d643-4754-b2fe-902bd69ccb67",
      "name": "When Called"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/api/videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  runId: $json.run_id,\n  projectId: $json.project_id,\n  idea: $json.idea,\n  userIdea: $json.user_idea ?? null,\n  vibe: $json.vibe ?? null,\n  status: $json.status ?? 'idea_gen',\n  prompt: $json.prompt ?? null,\n  startedAt: $json.started_at ?? null,\n  metadata: { source: 'idea-generator' }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -128
      ],
      "id": "88c5da56-2b87-4730-8c05-e1a43e0593b4",
      "name": "Create a row"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.ideas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        -128
      ],
      "id": "e9bc985f-35c5-4386-bac8-7e829190c931",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "460ccabd-86a2-4125-8a0d-7393263eed5a",
              "name": "idea",
              "value": "={{ $json.idea }}",
              "type": "string"
            },
            {
              "id": "669d4c08-bc8e-44ef-8111-b41159f88225",
              "name": "vibe",
              "value": "={{ $json.vibe }}",
              "type": "string"
            },
            {
              "id": "6709048c-774a-4eb1-8782-af9197463098",
              "name": "started_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "13d977db-ba6d-495c-bbb5-a5e3dc11d2c2",
              "name": "status",
              "value": "idea_gen",
              "type": "string"
            },
            {
              "id": "dd923ce7-7c83-43d7-aaab-a9a16f157009",
              "name": "project_id",
              "value": "={{ $('Get Run').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "run-id-field",
              "name": "run_id",
              "value": "={{ $('When Called').item.json.runId }}",
              "type": "string"
            },
            {
              "id": "user-idea-field",
              "name": "user_idea",
              "value": "={{ $json.userIdea || $json.user_idea || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -128
      ],
      "id": "37597c0b-cd23-40f8-b02b-d0df53f74ff6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + ($json.runId || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -128
      ],
      "id": "2fe33b20-dde7-41a6-8cf1-e5f9a85080b3",
      "name": "Get Run (API)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        112,
        96
      ],
      "id": "7ca6304e-0e68-4a29-a720-aa70746d8ad1",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + (($('When Called').item.json.runId) || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'failed', result: 'ideas_error' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        96
      ],
      "id": "58fab1dd-6de5-4830-b95d-7a166a159941",
      "name": "Mark Run Failed (Ideas)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cz7h4stqCFJ4qZ9I",
          "mode": "list",
          "cachedResultUrl": "/workflow/Cz7h4stqCFJ4qZ9I",
          "cachedResultName": "Mylo_MCP_Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projectId": "={{ $json.metadata.projectSlug }}",
            "personaId": "ideagenerator",
            "chatInput": "={{ $('When Called').item.json.userInput }}",
            "outputSchema": "\"{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"userIdea\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"Normalized base object (lowercase singular) applied to every idea.\\\"},\\\"ideas\\\":{\\\"type\\\":\\\"array\\\",\\\"description\\\":\\\"Exactly 12 unique AISMR-ready concepts in Title Case descriptor + singular object format.\\\",\\\"items\\\":{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"idea\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"Title Case descriptor + singular object (two words, descriptor is one word).\\\"},\\\"vibe\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"2-4 sentence explanation covering emotion, hook, texture, feasibility, replay value, and environment potential.\\\"}},\\\"required\\\":[\\\"idea\\\",\\\"vibe\\\"],\\\"additionalProperties\\\":false},\\\"minItems\\\":12,\\\"maxItems\\\":12}},\\\"required\\\":[\\\"userIdea\\\",\\\"ideas\\\"],\\\"additionalProperties\\\":false}\""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectId",
              "displayName": "projectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "personaId",
              "displayName": "personaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "outputSchema",
              "displayName": "outputSchema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        -128
      ],
      "id": "02614dfe-21eb-448e-bf19-c356030d31b1",
      "name": "Call 'Mylo_MCP_Bot'"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.data?.run;\nif (!payload) {\n  throw new Error('Run payload missing from API response.');\n}\nconst normalized = {\n  ...payload,\n  project_id: payload.projectId ?? null,\n  persona_id: payload.personaId ?? null,\n  chat_id: payload.chatId ?? null,\n  result: payload.result ?? null,\n  started_at: payload.startedAt ?? null,\n  completed_at: payload.completedAt ?? null,\n  created_at: payload.createdAt ?? null,\n  updated_at: payload.updatedAt ?? null,\n  input: payload.input ?? {},\n  metadata: payload.metadata ?? {},\n};\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -128
      ],
      "id": "0ba93b9e-d12c-43f4-939f-634f7755c448",
      "name": "Get Run"
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Ideas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Ideas)": {
      "main": [
        []
      ]
    },
    "Call 'Mylo_MCP_Bot'": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "Call 'Mylo_MCP_Bot'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Called": [
      {
        "json": {
          "userInput": "Create a viral ASMR video about magical animals. make the vibe verbose. Pick a familiar and showcase them",
          "runId": "140b9873-9155-4019-8878-fec00981f660",
          "projectId": "a372acc6-5b6a-46c5-835d-6e9859d5055c"
        }
      }
    ]
  },
  "versionId": "6fbaf98f-ab18-4dfe-8b7f-7685ef33461b",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-16T05:23:17.282Z",
      "createdAt": "2025-10-16T05:23:17.282Z",
      "role": "workflow:owner",
      "workflowId": "ljH4wBxJn069C282",
      "projectId": "LTPeNZWlXtWGs8Sc",
      "project": {
        "updatedAt": "2025-10-02T21:38:07.889Z",
        "createdAt": "2025-10-02T21:38:04.742Z",
        "id": "LTPeNZWlXtWGs8Sc",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-02T21:38:04.742Z",
            "createdAt": "2025-10-02T21:38:04.742Z",
            "userId": "56558acb-69ff-4ebb-a219-43a79afba1c7",
            "projectId": "LTPeNZWlXtWGs8Sc",
            "user": {
              "updatedAt": "2025-10-29T19:19:26.000Z",
              "createdAt": "2025-10-02T21:38:03.169Z",
              "id": "56558acb-69ff-4ebb-a219-43a79afba1c7",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "userClaimedAiCredits": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "j8nzahKvrqBM0AAW",
                "userActivatedAt": 1760430470031,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 0,
                  "lastShownAt": 1761216291825
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}