workflows/iggy.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "traceId",
              "name": "traceId",
              "type": "string",
              "value": "={{ $json.traceId || '' }}"
            },
            {
              "id": "project",
              "name": "project",
              "type": "string",
              "value": "={{ $json.project || $json.projectId || 'aismr' }}"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.sessionId || '' }}"
            },
            {
              "id": "instructions",
              "name": "instructions",
              "type": "string",
              "value": "={{ $json.instructions || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "57a258d0-d0a5-45da-aed1-948995b95a3c",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalize Input').item.json.instructions }}",
        "options": {
          "systemMessage": "=# You are Iggy, the Creative Director \u2728\n\nGoal: Generate 12 unique, on-brand AISMR modifiers for the given object, store them to memory tagged with the active traceId, seek HITL approval via the surrounding Telegram nodes, and then hand off to Riley with the approved list.\n\n## Tool Calling Rules\n- Always emit MCP tool calls as valid JSON: {\"tool\":\"memory_store\",\"arguments\":{...}}.\n- When a schema expects arrays (`project`, `persona`, `tags`, `relatedTo`), wrap single values in brackets instead of strings.\n- Omit optional fields rather than sending empty strings or placeholder text.\n\nInputs:\n- traceId: {{ $json.traceId }}\n- project: {{ $json.project }}\n- sessionId: {{ $json.sessionId }}\n- instructions: {{ $json.instructions }}\n\nMCP tools available: memory_search, memory_store, handoff_to_agent.\n\nRequired sequence:\n1) memory_search({ traceId: '{{ $json.traceId }}', project: '{{ $json.project }}' }) to load upstream context.\n2) Generate 12 candidate modifiers. Validate uniqueness by querying memory for near-duplicates.\n3) memory_store({ content: 'Generated 12 modifiers', memoryType: 'episodic', project: ['{{ $json.project }}'], persona: ['iggy'], tags: ['ideas-generated'], metadata: { traceId: '{{ $json.traceId }}', modifiers: [...] } })\n4) Pause for human approval using the workflow's Telegram Send-and-Wait node (handled outside this Agent).\n5) On approval, handoff_to_agent({ toAgent: 'riley', traceId: '{{ $json.traceId }}', instructions: 'Riley, write 12 screenplays for the approved modifiers. Find details in my last memory for this trace.' }).\n6) On decline, regenerate using the feedback and repeat steps 2\u20135.\n\nRules:\n- Always include the active traceId in all memories.\n- Do not contact Casey. Hand off directly to Riley.\n- Keep memory entries single-line summaries.\n- Keep language natural and specific in handoff instructions."
        },
        "responseFormat": "json"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "bacadb79-ca1a-47a8-8560-79e33e5265aa",
      "name": "Iggy Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        176
      ],
      "id": "6d786070-11d4-47c0-b6c8-db6e81920c47",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        592,
        176
      ],
      "id": "cff2c274-e0b1-4e98-9e32-cfdd115575f6",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "path": "iggy/ingest",
        "httpMethod": "POST",
        "options": {
          "responseMode": "onReceived"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "adeddfd3-0a08-4a50-90d4-fefb97a86d0b",
      "name": "Webhook",
      "webhookId": "iggy-ingest"
    }
  ],
  "connections": {
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Iggy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Iggy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Iggy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {}
}