workflows/load-persona.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "personaId"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1584,
        -64
      ],
      "id": "2c9f23b3-5d3c-4caa-9505-210c863d0c17",
      "name": "When Called"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "personas",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Called').item.json.personaId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1072,
        -208
      ],
      "id": "310abe35-b5cc-4307-9288-b23fbbe73633",
      "name": "Get Persona",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "projects",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1072,
        112
      ],
      "id": "351e8cfb-67aa-4976-814b-e8f48f3ec965",
      "name": "Get Project",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "prompts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "persona_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Persona').first().json.id }}"
            },
            {
              "keyName": "project_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        -64
      ],
      "id": "172859d4-6575-41f0-aa51-1a354d6d5747",
      "name": "Get Persona-Project Prompts",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst cleanedItems = items.map((item) => {\n  // Ensure prompt_text exists and is a string\n  const prompt = item.json.prompt_text !== undefined && item.json.prompt_text !== null \n    ? String(item.json.prompt_text)\n    : '';\n  item.json.prompt_text = prompt\n    .replace(/\"/g, \"\")\n    .replace(/\\r?\\n|\\r/g, \" \");\n  return item;\n});\nreturn cleanedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -64
      ],
      "id": "a33c3582-a4f4-466d-ab48-1100459b5cf7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "prompt_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        64,
        -64
      ],
      "id": "eba855a1-a420-48fe-b62d-7108c25d4578",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -848,
        -64
      ],
      "id": "e5ba18b1-71bb-4f8d-aeeb-91f65b07e6d6",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        -80
      ],
      "id": "2eab0147-0af1-4e01-96a9-7b2a7fe7e45c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "prompts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "persona_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "project_id",
              "condition": "is",
              "keyValue": "=null"
            },
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        -256
      ],
      "id": "875f2471-1a54-4935-8390-6041d6b7f5f8",
      "name": "Get Persona Prompts",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "prompts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "persona_id",
              "condition": "is",
              "keyValue": "=null"
            },
            {
              "keyName": "project_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        160
      ],
      "id": "6ee182aa-11c1-49e3-8d36-3c7777bcff3e",
      "name": "Get Project Prompts",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "level"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -176,
        -64
      ],
      "id": "c43f5ebc-485a-4822-bbe9-a8ff3a500d8e",
      "name": "Sort"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.runId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1392,
        -64
      ],
      "id": "69d0437b-0ad4-4443-9cb7-959a0a76d8d4",
      "name": "Get Run",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Persona": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Persona Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get Project Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Persona-Project Prompts": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Persona-Project Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Persona Prompts": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Prompts": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "Get Persona",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Called": [
      {
        "json": {
          "personaId": "b711679b-5e52-460d-92bf-f1ec285ab9f4",
          "runId": "62dafc58-22a2-4b53-a78f-9319582c772a"
        }
      }
    ]
  },
  "meta": {}
}
