workflows/load-persona.workflow.json
{
  "updatedAt": "2025-11-01T16:55:16.950Z",
  "createdAt": "2025-10-16T02:38:40.205Z",
  "id": "4eaPRf4DiHKOvOrc",
  "name": "Load Persona",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "personaSlug"
            },
            {
              "name": "projectSlug"
            },
            {
              "name": "runId"
            }
          ],
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1824,
        -64
      ],
      "id": "2c9f23b3-5d3c-4caa-9505-210c863d0c17",
      "name": "When Called"
    },
    {
      "parameters": {
        "jsCode": "const slugify = (value) => {\n  if (value === undefined || value === null) {\n    return null;\n  }\n  const text = String(value).trim().toLowerCase();\n  if (!text) {\n    return null;\n  }\n  const hyphenated = text.replace(/\\s+/g, '-');\n  const cleaned = hyphenated.replace(/[^a-z0-9-]/g, '');\n  const collapsed = cleaned.replace(/-+/g, '-').replace(/^-+|-+$/g, '');\n  return collapsed.length > 0 ? collapsed : null;\n};\n\nconst personaSlug = slugify($json.personaSlug ?? $json.personaId ?? $json.persona);\nconst projectSlug = slugify($json.projectSlug ?? $json.project);\nconst runId = $json.runId ?? null;\n\nif (!personaSlug) {\n  throw new Error('personaSlug is required for Load Persona.');\n}\n\nreturn [{ json: { personaSlug, projectSlug, runId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -64
      ],
      "id": "f9e23d4d-6b2e-41f6-a989-5b9307dc0d7a",
      "name": "Normalize Inputs"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (function() { const params = []; if ($json.projectSlug) { params.push('project=' + encodeURIComponent($json.projectSlug)); } if ($json.personaSlug) { params.push('persona=' + encodeURIComponent($json.personaSlug)); } return 'https://mcp-vector.mjames.dev/api/prompts/resolve?' + params.join('&'); })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        -64
      ],
      "id": "5f7b2cf6-62b3-4f37-8c94-7df76e3ebb8e",
      "name": "Resolve Prompt"
    },
    {
      "parameters": {
        "jsCode": "const response = $json ?? {};\nconst data = response.data ?? {};\nconst prompt = data.prompt;\nconst resolution = data.resolution ?? null;\nconst candidates = data.candidates ?? [];\nif (!prompt || !prompt.content) {\n  const message = response.error?.message ?? 'Prompt could not be resolved.';\n  throw new Error(message);\n}\nconst context = $('Normalize Inputs').first().json;\nreturn [{\n  json: {\n    prompt_text: prompt.content,\n    system_prompt: prompt.content,\n    prompt_key: prompt.promptKey ?? null,\n    prompt_metadata: prompt.metadata ?? {},\n    resolution,\n    candidates,\n    persona_slug: context.personaSlug,\n    project_slug: context.projectSlug ?? null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -64
      ],
      "id": "8c545a6a-0ed1-4a66-b7e7-52f4322aa46c",
      "name": "Build Response"
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Resolve Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Prompt": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Called": [
      {
        "json": {
          "personaId": "5b522eeb-32d8-4523-9d99-e2fe9df345c1",
          "runId": "1"
        }
      }
    ]
  },
  "versionId": "39511607-058c-42e8-b2f4-c6e789896c65",
  "triggerCount": 0
}