workflows/mylo-mcp-bot.workflow.json
{
  "updatedAt": "2025-10-31T18:29:56.274Z",
  "createdAt": "2025-10-28T23:40:45.212Z",
  "id": "Cz7h4stqCFJ4qZ9I",
  "name": "Mylo_MCP_Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI orchestrator that loads persona and project prompts from a vector database, then executes tasks according to their specifications.\n\n## Workflow Inputs\nYou receive:\n- **personaId**: {{$json.personaId}} (e.g., \"ideagenerator\", \"chat\", \"screenwriter\")\n- **projectId**: {{$json.projectId}} (e.g., \"aismr\")\n- **chatInput**: {{$json.chatInput}} (the user's request)\n- **outputSchema**: {{$json.outputSchema}} (JSON schema for structured output)\n\n## Step 1: Load Required Prompts\nUse the MCP tools to retrieve configuration. **IMPORTANT**: The tools return both text summaries AND structured content - you need the structured content for the actual prompt data.\n\n1. **Get the combination prompt first** (persona × project):\n   ```\n   prompt_get({\n     \"persona_name\": \"{{$json.personaId}}\",\n     \"project_name\": \"{{$json.projectId}}\"\n   })\n   ```\n\n2. **If no combination exists, get individual prompts**:\n   - Persona prompt: `prompt_get({\"persona_name\": \"{{$json.personaId}}\"})`\n   - Project prompt: `prompt_get({\"project_name\": \"{{$json.projectId}}\"})`\n\n3. **If prompts are missing**, search for alternatives:\n   ```\n   prompt_search({\n     \"query\": \"{{$json.personaId}} persona configuration\",\n     \"persona\": \"{{$json.personaId}}\",\n     \"limit\": 3\n   })\n   ```\n\n## Step 2: Extract the Actual Prompt Content\n**CRITICAL**: The MCP tools return structured data with the actual prompt content. Access it like this:\n- From `prompt_get`: Look for the `prompt.content` field in the tool response - this contains the full JSON prompt\n- From `prompt_search`: Use the `promptKey` from search results, then call `prompt_get` to get the full content\n- **Parse the JSON content** - it contains the complete agent configuration, not just metadata\n\n## Step 3: Process the Loaded Prompts\nOnce you have the actual prompt content (JSON):\n- **Parse the JSON structure** completely - especially `agent`, `persona`, `workflow`, and `session_posture` sections\n- **Extract the role, style, principles, and workflow steps**\n- **Note any specific formatting requirements, schemas, or guardrails**\n- **Identify any examples or templates provided**\n\n## Step 4: Execute the Task\n- **Adopt the persona** described in the loaded prompts\n- **Follow the workflow steps** exactly as documented in the prompt content\n- **Apply all guardrails and constraints** specified in the prompts\n- **Honor the output schema** provided in the workflow inputs\n- **Match the tone and style** defined in the persona configuration\n\n## Step 5: Format and Validate Output\n- **Structure your response** according to the provided JSON schema\n- **Ensure all required fields** are present and correctly formatted\n- **Follow any specific formatting rules** from the prompt configuration\n- **Validate against constraints** like count requirements, content types, etc.\n\n## Error Handling\nIf prompts fail to load or are incomplete:\n1. Report the specific missing component (persona/project/combination)\n2. List what was found vs. what was expected\n3. Show the actual tool responses you received\n4. Do not proceed with generic behavior - request clarification\n\n## Key Principles\n- **Access Full Content**: Don't rely on tool summaries - extract the actual prompt.content JSON\n- **Prompt Fidelity**: Execute exactly what the loaded prompts specify\n- **Schema Compliance**: Always match the required output format\n- **No Assumptions**: Only use information from loaded prompts, never from memory\n- **Explicit Workflow**: Follow documented steps in the prompt configurations\n- **Tool Mastery**: Use MCP tools correctly and access their structured responses"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        824,
        -64
      ],
      "id": "f852932f-a756-4e3b-8395-50d8b42f782e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        160
      ],
      "id": "7e99e3a7-94de-4bd1-8604-82facd4e54ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        896,
        160
      ],
      "id": "5822e6a6-7be6-4611-9bfb-da5f76a73ffb",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectId"
            },
            {
              "name": "personaId"
            },
            {
              "name": "chatInput"
            },
            {
              "name": "outputSchema"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        -64
      ],
      "id": "f6a1e72e-51b7-4403-8792-cbba19b212b6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"userIdea\": {\n      \"type\": \"string\",\n      \"description\": \"Normalized base object (lowercase singular) applied to every idea.\"\n    },\n    \"ideas\": {\n      \"type\": \"array\",\n      \"description\": \"Exactly 12 unique AISMR-ready concepts in Title Case descriptor + singular object format.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"idea\": {\n            \"type\": \"string\",\n            \"description\": \"Title Case descriptor + singular object (two words, descriptor is one word).\"\n          },\n          \"vibe\": {\n            \"type\": \"string\",\n            \"description\": \"2-4 sentence explanation covering emotion, hook, texture, feasibility, replay value, and environment potential.\"\n          }\n        },\n        \"required\": [\n          \"idea\",\n          \"vibe\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 12,\n      \"maxItems\": 12\n    }\n  },\n  \"required\": [\n    \"userIdea\",\n    \"ideas\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        160
      ],
      "id": "32af173b-9fc1-4281-85b5-3a5158e9f189",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const candidates = [$json.sessionId, $json.conversationSessionId, $json.mcpSessionId];\nconst existing = candidates.find((value) => typeof value === 'string' && value.trim().length > 0) ?? null;\nconst payload = { ...$json };\nif (existing) {\n  const sessionId = existing.trim();\n  payload.sessionId = sessionId;\n  payload.conversationSessionId = sessionId;\n}\nreturn { json: payload };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -64
      ],
      "id": "dde10b5b-4217-4d05-b91e-557833b0dff1",
      "name": "Prepare Session Context"
    },
    {
      "parameters": {
        "jsCode": "const existingSessionId = typeof $json.sessionId === 'string' && $json.sessionId.trim().length > 0 ? $json.sessionId.trim() : null;\nconst rawOutput = $json.output ?? $json.result ?? $json;\nlet content = typeof rawOutput === 'string' ? rawOutput : JSON.stringify(rawOutput, null, 2);\nif (!content || content.trim().length === 0) {\n  content = JSON.stringify($json, null, 2);\n}\nconst normalized = content.length > 4000 ? `${content.slice(0, 3997)}…` : content;\nconst metadata = {\n  personaId: $json.personaId ?? null,\n  projectId: $json.projectId ?? null,\n  chatInput: $json.chatInput ?? null,\n  workflow: $json.workflow ?? 'mylo-mcp-bot',\n  outputSchema: $json.outputSchema ?? null,\n};\nconst args = {\n  role: 'assistant',\n  content: normalized,\n  metadata,\n  tags: ['agent-response', 'mylo-mcp-bot'],\n};\nif (existingSessionId) {\n  args.sessionId = existingSessionId;\n}\nconst requestId = `store-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nreturn {\n  json: {\n    ...$json,\n    conversationStoreRequest: {\n      jsonrpc: '2.0',\n      id: requestId,\n      method: 'tools/call',\n      params: {\n        name: 'conversation_store',\n        arguments: args,\n      },\n    },\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -64
      ],
      "id": "d5b7a972-82bc-4880-8208-bbb2b0d3d0e3",
      "name": "Prepare Conversation Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.conversationStoreRequest }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -64
      ],
      "id": "1b8e9b56-46f1-4a1e-9c91-3d6b098320c4",
      "name": "Store Conversation Turn",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Conversation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Conversation Payload": {
      "main": [
        [
          {
            "node": "Store Conversation Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation Turn": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "projectId": "aismr",
          "personaId": "ideagenerator",
          "chatInput": "Create a viral ASMR video about magical animals. make the vibe verbose. Pick a familiar and showcase them",
          "outputSchema": "\"{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"userIdea\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"Normalized base object (lowercase singular) applied to every idea.\\\"},\\\"ideas\\\":{\\\"type\\\":\\\"array\\\",\\\"description\\\":\\\"Exactly 12 unique AISMR-ready concepts in Title Case descriptor + singular object format.\\\",\\\"items\\\":{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"idea\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"Title Case descriptor + singular object (two words, descriptor is one word).\\\"},\\\"vibe\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"2-4 sentence explanation covering emotion, hook, texture, feasibility, replay value, and environment potential.\\\"}},\\\"required\\\":[\\\"idea\\\",\\\"vibe\\\"],\\\"additionalProperties\\\":false},\\\"minItems\\\":12,\\\"maxItems\\\":12}},\\\"required\\\":[\\\"userIdea\\\",\\\"ideas\\\"],\\\"additionalProperties\\\":false}\""
        }
      }
    ]
  },
  "versionId": "987ee8a1-e26f-40a4-a021-9a5a58e1a874",
  "triggerCount": 0
}