workflows/myloware-agent.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "myloware/ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1440,
        344
      ],
      "id": "6873a9e0-4497-43b9-9bf1-1597bc09f46e",
      "name": "Webhook: Agent Handoff",
      "webhookId": "myloware-agent-webhook",
      "notes": "Receives handoff requests from other agents via handoff_to_agent tool. Path: /webhook/myloware/ingest. Returns final output when workflow completes."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.instructions }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -168,
        344
      ],
      "id": "dcc4eff1-fbac-4c7c-941c-8ef5c9824464",
      "name": "AI Agent: Persona Execution",
      "retryOnFail": false,
      "notes": "Universal AI agent that executes any persona (Casey, Iggy, Riley, Veo, Alex, Quinn) based on trace.currentOwner. System prompt and allowed tools are dynamically set from trace_prep output. Uses MCP tools and toolWorkflow nodes to complete tasks."
    },
    {
      "parameters": {
        "model": {
          "value": "gpt-5-nano",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        568
      ],
      "id": "5cf2c9eb-de3c-4364-8fc6-512cf6413fa1",
      "name": "Language Model: GPT-5 Nano",
      "credentials": {
        "openAiApi": {
          "id": "VgXNTayCkLCoUb4J",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI language model (gpt-5-nano) used by the AI agent for reasoning and tool calling."
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:3456/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": "={{ $('Prepare Trace Context').item.json.allowedTools }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -416,
        568
      ],
      "id": "620c215b-7d4b-4fdd-94e9-e570e7996bf0",
      "name": "Tool: MCP Server Tools",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zjcd3xTBXHX1Rk9R",
          "name": "Mylo MCP"
        }
      },
      "notes": "MCP client that exposes MCP tools (memory_search, memory_store, trace_update, handoff_to_agent, etc.) to the AI agent. Tools are dynamically filtered by trace_prep.allowedTools based on persona capabilities."
    },
    {
      "parameters": {
        "description": "Upload files to Google Drive. Quinn-only tool workflow during publishing. Do NOT call directly if you are not Quinn - hand off to Quinn instead. Requires runId, videoUrl, and traceId parameters.",
        "workflowId": {
          "__rl": true,
          "value": "afcFDvn6HmDt37Th",
          "mode": "list",
          "cachedResultUrl": "/workflow/afcFDvn6HmDt37Th",
          "cachedResultName": "Upload file to Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $json.workflowRun?.id ?? $json.runId ?? null }}",
            "projectSlug": "={{ $json.workflowRun?.metadata?.projectSlug ?? $json.projectSlug ?? null }}",
            "videoUrl": "={{ $json.workflowRun?.output?.publishing?.tiktokUrl ?? $json.videoUrl ?? null }}",
            "traceId": "={{ $json.traceId ?? $json.trace?.traceId ?? null }}",
            "callerPersona": "={{ $json.persona?.name ?? $json.trace?.currentOwner ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "projectSlug",
              "displayName": "projectSlug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "callerPersona",
              "displayName": "callerPersona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -288,
        568
      ],
      "id": "04a16533-38f2-47a8-ada8-63e22c898f5e",
      "name": "Workflow: Upload to Drive (Quinn-only)",
      "notes": "Persona-restricted tool workflow for uploading files to Google Drive. Quinn-only during publishing; other personas must hand off to Quinn instead of calling this directly."
    },
    {
      "parameters": {
        "description": "Upload videos to TikTok. Quinn-only tool workflow during publishing. Do NOT call directly if you are not Quinn - hand off to Quinn instead. Requires runId, caption, videoUrl, and traceId parameters.",
        "workflowId": {
          "__rl": true,
          "value": "V2gEzvd7Hj4CBOms",
          "mode": "list",
          "cachedResultUrl": "/workflow/V2gEzvd7Hj4CBOms",
          "cachedResultName": "Upload to TikTok"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $json.workflowRun?.id ?? $json.runId ?? null }}",
            "caption": "={{ $json.workflowRun?.output?.publishing?.caption ?? $json.caption ?? null }}",
            "videoUrl": "={{ $json.workflowRun?.output?.publishing?.tiktokUrl ?? $json.videoUrl ?? null }}",
            "traceId": "={{ $json.traceId ?? $json.trace?.traceId ?? null }}",
            "callerPersona": "={{ $json.persona?.name ?? $json.trace?.currentOwner ?? '' }}"
          },
          "matchingColumns": [
            "runId"
          ],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "callerPersona",
              "displayName": "callerPersona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -160,
        568
      ],
      "id": "779126a6-dd15-4ac4-b39c-2ef1531f917b",
      "name": "Workflow: Upload to TikTok (Quinn-only)",
      "notes": "Persona-restricted tool workflow for uploading videos to TikTok. Quinn-only during publishing; other personas must hand off to Quinn instead of calling this directly."
    },
    {
      "parameters": {
        "description": "Edit and stitch video compilations using Shotstack API. Alex-only tool workflow. Do NOT call directly if you are not Alex - hand off to Alex instead. Requires traceId and videoUrls (array of video URL strings) parameters.",
        "workflowId": {
          "__rl": true,
          "value": "9GaEgeJEhvbygkwt",
          "mode": "list",
          "cachedResultUrl": "/workflow/9GaEgeJEhvbygkwt",
          "cachedResultName": "Edit_AISMR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "traceId": "={{ $json.traceId ?? $json.trace?.traceId ?? null }}",
            "videoUrls": "={{ $json.videoUrls ?? [] }}",
            "callerPersona": "={{ $json.persona?.name ?? $json.trace?.currentOwner ?? '' }}"
          },
          "matchingColumns": [
            "traceId"
          ],
          "schema": [
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "videoUrls",
              "displayName": "videoUrls",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "array"
            },
            {
              "id": "callerPersona",
              "displayName": "callerPersona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -32,
        568
      ],
      "id": "64ba67b1-cd72-40bb-9a67-b7cf5be80aff",
      "name": "Workflow: Edit Compilation (Alex-only)",
      "notes": "Persona-restricted tool workflow for video editing via Shotstack API. Alex-only; other personas must hand off to Alex instead of calling this directly. Requires traceId and videoUrls (array of video URL strings)."
    },
    {
      "parameters": {
        "description": "Generate individual video clips from screenplays. Veo-only tool workflow. Do NOT call directly if you are not Veo - hand off to Veo instead. Requires traceId and screenplay (JSON object with script content) parameters.",
        "workflowId": {
          "__rl": true,
          "value": "Lg5TdEUX0OWO965g",
          "mode": "list",
          "cachedResultUrl": "/workflow/Lg5TdEUX0OWO965g",
          "cachedResultName": "Generate Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "traceId": "={{ $json.traceId ?? $json.trace?.traceId ?? null }}",
            "screenplay": "={{ $json.screenplay ?? {} }}",
            "callerPersona": "={{ $json.persona?.name ?? $json.trace?.currentOwner ?? '' }}"
          },
          "matchingColumns": [
            "traceId"
          ],
          "schema": [
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "screenplay",
              "displayName": "screenplay",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "object"
            },
            {
              "id": "callerPersona",
              "displayName": "callerPersona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        96,
        568
      ],
      "id": "b0023cc1-848c-4153-8d08-ddcbb75a02ed",
      "name": "Workflow: Generate Video (Veo-only)",
      "notes": "Persona-restricted tool workflow for video generation. Veo-only; other personas must hand off to Veo instead of calling this directly. Requires traceId and screenplay (JSON object with script content)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "traceId",
              "name": "traceId",
              "value": "={{ $json.body?.traceId || $json.traceId || null }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ (() => { const raw = $json; const sid = raw.body?.sessionId || raw.sessionId || raw.from?.id || raw.userId || raw.message?.chat?.id; if (!sid) { throw new Error('Unable to determine sessionId'); } const s = String(sid).trim(); const src = raw.body ? 'webhook' : (raw.from ? 'telegram' : 'chat'); return s.startsWith(`${src}:`) ? s : `${src}:${s.replace(/^.*?:/, '')}`; })() }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message?.text || $json.message || $json.body?.instructions || $json.chatInput || '' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.message ? 'telegram' : ($json.chatInput ? 'chat' : 'webhook') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        344
      ],
      "id": "7e5266f0-0f5f-4c5c-90e6-df75a4cfa2f0",
      "name": "Prepare Input",
      "notes": "Normalizes and validates inbound payloads from all triggers into a single schema { traceId, sessionId, source, message }."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/mcp/trace_prep",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  traceId: $json.traceId,\n  sessionId: $json.sessionId,\n  instructions: $json.message,\n  source: $json.source,\n  metadata: {}\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -992,
        344
      ],
      "id": "591ce954-fa23-43da-b224-ef7f4c1d27e3",
      "name": "Prepare Trace Context",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zjcd3xTBXHX1Rk9R",
          "name": "Mylo MCP"
        }
      },
      "notes": "Calls MCP trace_prep endpoint to: create/fetch trace, load persona config, fetch project context, retrieve relevant memories, build system prompt, derive allowed tools. Returns traceId, systemPrompt, allowedTools for the AI agent. Configured with 3 retries and 30s timeout."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst sessionId = $('Prepare Input').item.json.sessionId || '';\nconst allowedTools = Array.isArray(item.json.allowedTools) ? [...item.json.allowedTools] : item.json.allowedTools;\n\nif (!Array.isArray(allowedTools)) {\n  return item;\n}\n\nif (!sessionId.startsWith('telegram:')) {\n  // Filter by tool IDs (what trace_prep returns), not display names\n  const restricted = new Set(['telegram_send', 'telegram_hitl']);\n  item.json.allowedTools = allowedTools.filter((tool) => {\n    const id = typeof tool === 'string' ? tool : (tool?.id || tool?.name || '');\n    return !restricted.has(id);\n  });\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        344
      ],
      "id": "8d3e7c14-3e85-4b7f-992f-b6d431dbbc71",
      "name": "Enforce Tool Guardrails",
      "notes": "Removes Telegram-specific tools from allowedTools unless the current session is Telegram. Filters by tool IDs (what trace_prep returns), not display names."
    },
    {
      "parameters": {
        "chatId": "={{ (() => { const session = $('Prepare Input').item.json.sessionId || ''; if (!session.startsWith('telegram:')) { throw new Error('Telegram send attempted for non-telegram session'); } return session.split(':')[1]; })() }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        224,
        568
      ],
      "id": "4017bd48-560c-48f3-8850-d1be955ba7a3",
      "name": "Tool: Send Telegram Message",
      "webhookId": "7b7c8d8f-e6d1-4262-ba5d-cb31c495ec62",
      "credentials": {
        "telegramApi": {
          "id": "fKGtafK4GVYZM2Uz",
          "name": "Telegram account"
        }
      },
      "notes": "Tool for sending one-way Telegram messages. Used by agents to send status updates or notifications to users.",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ (() => { const session = $('Prepare Input').item.json.sessionId || ''; if (!session.startsWith('telegram:')) { throw new Error('Telegram HITL attempted for non-telegram session'); } return session.split(':')[1]; })() }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        352,
        568
      ],
      "id": "d0cf1f73-2109-4d99-a146-c1dc7cd7a809",
      "name": "Tool: Telegram HITL (Human-in-the-Loop)",
      "webhookId": "7b7c8d8f-e6d1-4262-ba5d-cb31c495ec62",
      "credentials": {
        "telegramApi": {
          "id": "fKGtafK4GVYZM2Uz",
          "name": "Telegram account"
        }
      },
      "notes": "Tool for sending Telegram messages and waiting for user response. Used for HITL approval flows (e.g., Iggy requesting approval for modifiers, Alex requesting approval for final edit). Configured with 1-hour timeout.",
      "disabled": true
    }
  ],
  "connections": {
    "Webhook: Agent Handoff": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Model: GPT-5 Nano": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: MCP Server Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow: Upload to Drive (Quinn-only)": {
      "ai_tool": []
    },
    "Workflow: Upload to TikTok (Quinn-only)": {
      "ai_tool": []
    },
    "Workflow: Edit Compilation (Alex-only)": {
      "ai_tool": []
    },
    "Workflow: Generate Video (Veo-only)": {
      "ai_tool": []
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Prepare Trace Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Trace Context": {
      "main": [
        [
          {
            "node": "Enforce Tool Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Tool Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Send Telegram Message": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Telegram HITL (Human-in-the-Loop)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7723d5af14bfdf93a435452b6b95e5ab9063fb5c17e86f423c1e78f81d003138"
  }
}