workflows/mylo-mcp-bot.workflow.json
{
  "updatedAt": "2025-11-03T20:18:57.142Z",
  "createdAt": "2025-11-02T01:07:29.357Z",
  "id": "7qSyk9RjD6HhPWNm",
  "name": "Mylo_MCP_Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are Mylo MCP Bot, an AI orchestrator that assembles persona + project guidance from the MCP vector server, executes their workflows, and returns validated outputs.\n\n## Workflow Inputs\n- personaId: {{$json.personaId}}\n- projectId: {{$json.projectId}}\n- sessionId: prefer `{{$json.sessionId}}`, otherwise fall back to conversation or MCP session ids.\n- chatInput: user request text.\n- outputSchema: JSON schema you must satisfy exactly.\n\n## Phase 0: Load Workflow Definition from RAG (NEW)\n**CRITICAL**: Before executing any task, you must load the procedural workflow definition from RAG.\n\n1. **Search for workflow definition**:\n   ```\n   prompts.search({\n     \"query\": \"workflow definition {{$json.projectId}} {{$json.personaId}}\",\n     \"project\": \"{{$json.projectId}}\",\n     \"searchMode\": \"hybrid\",\n     \"limit\": 5\n   })\n   ```\n   - Look for results with `memoryType: 'procedural'` or content containing workflow steps\n   - Filter by matching `project` and `persona` if specified\n\n2. **Extract workflow JSON**:\n   - From search results, get the `content` field\n   - Parse the JSON to get `WorkflowDefinition` structure\n   - Extract the `workflow.steps` array - this is your execution plan\n\n3. **Follow workflow steps exactly**:\n   - Execute steps in order, respecting `dependsOn` dependencies\n   - Resolve variable references: `${context.sessionId}` → actual sessionId, `${context.userInput}` → chatInput, etc.\n   - For `mcp_call` steps: Call the specified tool with resolved parameters\n   - For `llm_generation` steps: Generate using the prompt template with resolved variables\n   - For `parallel` steps: Execute all calls simultaneously\n   - For `validation` steps: Check output against rules (schema, uniqueness, timing)\n\n4. **Variable Resolution**:\n   - `${context.*}` references → use workflow inputs (sessionId, userInput, projectId, etc.)\n   - `${stepId.*}` references → use output from previous step results\n   - Always resolve variables before executing steps\n\n5. **Workflow Execution Order**:\n   - Steps may have `dependsOn` - ensure dependencies complete first\n   - Steps with no dependencies can run in parallel\n   - Respect `step.number` for ordering within dependency groups\n\n## MCP Tool Catalog\n1. **prompt_get**\n   - Purpose: fetch full prompt content (persona, project, combination).\n   - Required params: `persona_name`, `project_name` when fetching combinations.\n   - Usage: always read `prompt.content` for the real JSON configuration.\n2. **prompts.search**\n   - Modes: `keyword` (exact spec lookup), `hybrid` (semantic + lexical), `vector`.\n   - Important params: `project`, `searchMode`, `useMemoryRouting`, `expandGraph`, `maxHops`, `temporalBoost`, `limit`.\n   - Use keyword mode for sacred specs; hybrid with `expandGraph: true` for pattern discovery.\n3. **prompts_search_adaptive**\n   - Purpose: iterative retrieval with utility scoring when uniqueness or tone is uncertain.\n   - Key params: `project`, `query`, `maxIterations`, `utilityThreshold`, `expandGraph`, `temporalBoost`.\n   - Stop when utility plateaus (<0.05 improvement) or threshold met.\n4. **conversation.remember**\n   - Purpose: episodic memory search for session history, feedback, issues.\n   - Always pass `sessionId`, include `query`, choose `format` (`bullets` or `narrative`), consider `temporalBoost`.\n5. **conversation.store**\n   - Purpose: persist generated outputs, feedback, and audits.\n   - Required metadata: `sessionId`, informative `tags`, concise `summary` object. Only call after successful completion or when logging failures.\n6. **prompt_list / prompt_search fallback**\n   - Purpose: discovery when prompt_get fails. Use prompt_list or prompt_search, then fetch the resulting prompt via prompt_get.\n\n## Execution Strategy\n0. **Phase 0 – Load Workflow Definition (NEW)**\n   - Use `prompts.search` to find procedural workflow definition\n   - Parse workflow JSON structure\n   - Identify workflow steps and dependencies\n   - This replaces hard-coded task patterns below\n\n1. **Phase 1 – Load Configuration**\n   - Attempt combination prompt via `prompt_get({persona_name, project_name})`.\n   - If absent, fetch persona and project prompts individually.\n   - On failure, use `prompt_list`/`prompts.search` to discover alternatives, then retry `prompt_get`.\n2. **Phase 2 – Context Enrichment**\n   - Execute conversation + archive retrieval in the order defined by loaded workflows.\n   - Respect project filters (`project: \"aismr\"`) and pass `sessionId` to every memory tool.\n3. **Phase 3 – Task Execution**\n   - Execute workflow steps from the loaded workflow definition.\n   - Follow step order, resolve variables, respect dependencies.\n   - Run MCP tools exactly as specified in workflow steps.\n   - Execute parallel steps simultaneously when dependencies allow.\n4. **Phase 4 – Validation & Formatting**\n   - Validate against the supplied `outputSchema` and prompt guardrails.\n   - Summarise tool evidence (e.g., uniqueness audits, validation summaries) inside the response when required.\n5. **Phase 5 – Memory Logging**\n   - Use `conversation.store` with rich metadata after successful completion or when documenting failures.\n\n### Decision Guide\n- Need configuration? → `prompt_get` (combination → persona → project) → fallback search.\n- Need exact spec or rule? → `prompts.search` with `searchMode:\"keyword\"`, `useMemoryRouting:true`.\n- Need creative adjacency/patterns? → `prompts.search` with `expandGraph:true`, `maxHops:2`.\n- Results still derivative or unclear? → `prompts_search_adaptive`.\n- Require prior feedback? → `conversation.remember` with sessionId and relevant query.\n- Finished or capturing feedback? → `conversation.store`.\n\n## Task Patterns\n### Idea Generation (AISMR)\n1. conversation.remember → build session exclusion list.\n2. prompts.search (keyword) per descriptor → archive exclusion list.\n3. prompts.search (hybrid + graph) for inspiration.\n4. prompts_search_adaptive if novelty weak.\n5. Generate >12 drafts, filter to 12.\n6. Re-run keyword checks for final uniqueness audit.\n7. Return schema-compliant JSON plus `uniquenessAudit`.\n8. conversation.store with exclusions + audit summary.\n\n### Screenwriting (AISMR)\n1. Parallel keyword spec loads (timing, runtime, hands, audio).\n2. conversation.remember for prior quality issues.\n3. prompts.search (hybrid + graph) for successful patterns.\n4. prompts_search_adaptive when tone uncertain.\n5. Draft screenplay with timestamps, tactile detail, compliance notes.\n6. Validate timing, hand count, audio, loop; HALT on failure.\n7. Output screenplay + validationSummary + references.\n8. conversation.store with validation metadata.\n\n## Error Handling & Fallbacks\n- Retry recoverable tool errors once; if still failing, HALT with `status:blocked.toolFailure`, include tool name and parameters.\n- If specs cannot be confirmed, HALT with `status:blocked.specLookup` and cite attempted queries.\n- If uniqueness remains unproven after adaptive search, HALT with `status:blocked.uniqueness` and provide similarity evidence.\n- Never return partial results without explicit HALT metadata.\n- Log critical errors via `conversation.store` tagged `failure` when prompted workflows require it.\n\n## Key Principles\n- Always pass `sessionId` to memory tools and when storing outputs.\n- Always filter MCP searches by project (`project:\"aismr\"`) unless configuration says otherwise.\n- Use keyword mode for specs, hybrid + graph for pattern discovery.\n- Document tool calls and evidence inside the final response when prompts request audits.\n- Honor persona tone, formatting, and schemas exactly; no extra prose outside specified outputs.\n- Treat MCP tool responses as source of truth—parse structured content, don’t rely solely on summaries.\n- Maintain explicit audit trail (which tools, params, outcomes) in your reasoning before emitting final answer.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        824,
        -160
      ],
      "id": "f852932f-a756-4e3b-8395-50d8b42f782e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        64
      ],
      "id": "7e99e3a7-94de-4bd1-8604-82facd4e54ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BPz7M5LEDbqEvdCZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        896,
        64
      ],
      "id": "5822e6a6-7be6-4611-9bfb-da5f76a73ffb",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectId"
            },
            {
              "name": "personaId"
            },
            {
              "name": "chatInput"
            },
            {
              "name": "outputSchema"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        -160
      ],
      "id": "f6a1e72e-51b7-4403-8792-cbba19b212b6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"userIdea\": {\n      \"type\": \"string\",\n      \"description\": \"Normalized base object (lowercase singular) applied to every idea.\"\n    },\n    \"ideas\": {\n      \"type\": \"array\",\n      \"description\": \"Exactly 12 unique AISMR-ready concepts in Title Case descriptor + singular object format.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"idea\": {\n            \"type\": \"string\",\n            \"description\": \"Title Case descriptor + singular object (two words, descriptor is one word).\"\n          },\n          \"vibe\": {\n            \"type\": \"string\",\n            \"description\": \"2-4 sentence explanation covering emotion, hook, texture, feasibility, replay value, and environment potential.\"\n          }\n        },\n        \"required\": [\n          \"idea\",\n          \"vibe\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"minItems\": 12,\n      \"maxItems\": 12\n    }\n  },\n  \"required\": [\n    \"userIdea\",\n    \"ideas\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        64
      ],
      "id": "32af173b-9fc1-4281-85b5-3a5158e9f189",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const candidates = [$json.sessionId, $json.conversationSessionId, $json.mcpSessionId];\nconst existing = candidates.find((value) => typeof value === 'string' && value.trim().length > 0) ?? null;\nconst payload = { ...$json };\nif (existing) {\n  const sessionId = existing.trim();\n  payload.sessionId = sessionId;\n  payload.conversationSessionId = sessionId;\n}\nreturn { json: payload };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -160
      ],
      "id": "dde10b5b-4217-4d05-b91e-557833b0dff1",
      "name": "Prepare Session Context"
    },
    {
      "parameters": {
        "jsCode": "const existingSessionId = typeof $json.sessionId === 'string' && $json.sessionId.trim().length > 0 ? $json.sessionId.trim() : null;\nconst rawOutput = $json.output ?? $json.result ?? $json;\nlet content = typeof rawOutput === 'string' ? rawOutput : JSON.stringify(rawOutput, null, 2);\nif (!content || content.trim().length === 0) {\n  content = JSON.stringify($json, null, 2);\n}\nconst normalized = content.length > 4000 ? `${content.slice(0, 3997)}…` : content;\nconst metadata = {\n  personaId: $json.personaId ?? null,\n  projectId: $json.projectId ?? null,\n  chatInput: $json.chatInput ?? null,\n  workflow: $json.workflow ?? 'mylo-mcp-bot',\n  outputSchema: $json.outputSchema ?? null,\n};\nconst args = {\n  role: 'assistant',\n  content: normalized,\n  metadata,\n  tags: ['agent-response', 'mylo-mcp-bot'],\n};\nif (existingSessionId) {\n  args.sessionId = existingSessionId;\n}\nconst requestId = `store-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nreturn {\n  json: {\n    ...$json,\n    conversationStoreRequest: {\n      jsonrpc: '2.0',\n      id: requestId,\n      method: 'tools/call',\n      params: {\n        name: 'conversation_store',\n        arguments: args,\n      },\n    },\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -64
      ],
      "id": "d5b7a972-82bc-4880-8208-bbb2b0d3d0e3",
      "name": "Prepare Conversation Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.conversationStoreRequest }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -64
      ],
      "id": "1b8e9b56-46f1-4a1e-9c91-3d6b098320c4",
      "name": "Store Conversation Turn",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function parseStructured(value) {\n  if (value == null) return null;\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (!trimmed) {\n      return null;\n    }\n    try {\n      return JSON.parse(trimmed);\n    } catch (error) {\n      return null;\n    }\n  }\n  if (typeof value === 'object') {\n    return value;\n  }\n  return null;\n}\n\nconst personaId = $json.personaId ?? null;\nconst projectId = $json.projectId ?? null;\nconst sessionCandidates = [$json.sessionId, $json.conversationSessionId, $json.mcpSessionId];\nconst sessionId = sessionCandidates.find((value) => typeof value === 'string' && value.trim().length > 0) ?? null;\nconst chatInput = typeof $json.chatInput === 'string' ? $json.chatInput.trim() : '';\n\nconst primaryOutput = $json.output ?? $json.result ?? $json.response ?? $json.data ?? null;\nlet structured = parseStructured(primaryOutput);\nif (!structured && typeof $json.parsedOutput === 'object') {\n  structured = $json.parsedOutput;\n}\n\nconst ideas = Array.isArray(structured?.ideas) ? structured.ideas : Array.isArray($json.ideas) ? $json.ideas : [];\nconst ideaSummaries = [];\nconst ideaTitles = [];\n\nfor (const idea of ideas) {\n  if (!idea || typeof idea !== 'object') continue;\n  const title = typeof idea.idea === 'string' && idea.idea.trim().length > 0\n    ? idea.idea.trim()\n    : typeof idea.title === 'string' && idea.title.trim().length > 0\n      ? idea.title.trim()\n      : null;\n  const vibe = typeof idea.vibe === 'string' ? idea.vibe.trim() : typeof idea.description === 'string' ? idea.description.trim() : '';\n  if (title) {\n    ideaTitles.push(title);\n  }\n  const line = title ? `- ${title}${vibe ? `: ${vibe}` : ''}` : vibe ? `- ${vibe}` : null;\n  if (line) {\n    ideaSummaries.push(line);\n  }\n}\n\nconst memoryCandidates = [];\nconst nowIso = new Date().toISOString();\nconst isoDate = nowIso.slice(0, 10);\n\nif (projectId && ideaSummaries.length > 0) {\n  const titleParts = ['Decision'];\n  if (projectId) {\n    titleParts.push(projectId);\n  }\n  if (personaId) {\n    titleParts.push(personaId);\n  }\n  titleParts.push(isoDate);\n  const decisionTitle = titleParts.join(' · ');\n\n  const contentSections = [\n    `Project: ${projectId}`,\n    personaId ? `Persona: ${personaId}` : null,\n    `Generated ${ideaSummaries.length} concept${ideaSummaries.length === 1 ? '' : 's'} via Mylo MCP Bot.`,\n    '',\n    'Key Concepts:',\n    ...ideaSummaries.slice(0, 8),\n  ].filter(Boolean);\n\n  memoryCandidates.push({\n    memoryType: 'project',\n    title: decisionTitle,\n    content: contentSections.join('\n'),\n    tags: [\n      'decision',\n      `project:${projectId}`,\n      personaId ? `persona:${personaId}` : null,\n      'mylo-mcp-bot',\n    ].filter(Boolean),\n    metadata: {\n      personaId,\n      projectId,\n      capturedAt: nowIso,\n      summaryIdeas: ideaTitles.slice(0, 12),\n      reviewStatus: 'pending_review',\n      requiresHumanReview: true,\n    },\n    confidence: 0.7,\n    visibility: 'team',\n    source: 'agent',\n  });\n\n  const semanticTitleParts = ['AISMR Concepts', isoDate];\n  if (projectId) {\n    semanticTitleParts.splice(1, 0, projectId);\n  }\n  const semanticTitle = semanticTitleParts.join(' · ');\n\n  const semanticContent = [\n    `Highlights captured on ${isoDate}.`,\n    '',\n    ...ideaSummaries.slice(0, 6),\n  ].join('\n');\n\n  memoryCandidates.push({\n    memoryType: 'semantic',\n    title: semanticTitle,\n    content: semanticContent,\n    tags: [\n      'semantic-note',\n      'mylo-mcp-bot',\n      projectId ? `project:${projectId}` : null,\n      personaId ? `persona:${personaId}` : null,\n    ].filter(Boolean),\n    metadata: {\n      personaId,\n      projectId,\n      capturedAt: nowIso,\n      summaryIdeas: ideaTitles.slice(0, 12),\n      reviewStatus: 'pending_review',\n      requiresHumanReview: false,\n    },\n    confidence: 0.6,\n    visibility: 'team',\n    source: 'agent',\n  });\n}\n\nif (chatInput && sessionId) {\n  memoryCandidates.push({\n    memoryType: 'episodic',\n    title: `User Preference · ${isoDate}`,\n    content: `User request excerpt: \"${chatInput.slice(0, 400)}\"${chatInput.length > 400 ? '…' : ''}`,\n    tags: [\n      'user-preference',\n      'mylo-mcp-bot',\n      sessionId ? `session:${sessionId.slice(0, 8)}` : null,\n    ].filter(Boolean),\n    metadata: {\n      personaId,\n      projectId,\n      capturedAt: nowIso,\n      reviewStatus: 'pending_review',\n      requiresHumanReview: true,\n    },\n    confidence: 0.5,\n    visibility: 'private',\n    source: 'agent',\n    sessionId,\n  });\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      structuredOutput: structured,\n      memoryCandidates,\n      sessionId,\n      generatedAt: nowIso,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -256
      ],
      "id": "4b7273d4-9500-444b-af60-5a20850d95ab",
      "name": "Extract Memory Candidates"
    },
    {
      "parameters": {
        "mode": "passThrough",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1680,
        -160
      ],
      "id": "bf72c809-872c-431e-bb31-114e555711b8",
      "name": "Combine Memory Context"
    },
    {
      "parameters": {
        "jsCode": "const memoryCandidates = Array.isArray($json.memoryCandidates) ? $json.memoryCandidates : [];\n\nif (memoryCandidates.length === 0) {\n  return [];\n}\n\nfunction extractStructuredContent(payload) {\n  if (!payload || typeof payload !== 'object') {\n    return null;\n  }\n  if (payload.structuredContent && typeof payload.structuredContent === 'object') {\n    return payload.structuredContent;\n  }\n  if (payload.result && typeof payload.result === 'object') {\n    return extractStructuredContent(payload.result);\n  }\n  if (payload.data && typeof payload.data === 'object') {\n    return extractStructuredContent(payload.data);\n  }\n  return null;\n}\n\nconst conversationResponse = $json.result ?? $json.response ?? $json;\nconst structuredContent = extractStructuredContent(conversationResponse) ?? {};\nconst conversationChunkId = structuredContent.chunkId ?? structuredContent.chunkID ?? structuredContent.chunk_id ?? null;\nconst sessionId = structuredContent.sessionId ?? structuredContent.sessionID ?? structuredContent.session_id ?? $json.sessionId ?? null;\n\nconst actor = {\n  type: 'agent',\n  id: 'mylo-mcp-bot',\n  scopes: ['runtime-memory'],\n};\n\nconst results = [];\n\nfor (const candidate of memoryCandidates) {\n  if (!candidate || typeof candidate !== 'object') continue;\n\n  const args = {\n    ...candidate,\n    actor,\n  };\n\n  if (args.memoryType === 'episodic' && !args.sessionId && sessionId) {\n    args.sessionId = sessionId;\n  }\n\n  const existingRelated = Array.isArray(args.relatedChunkIds) ? args.relatedChunkIds.slice() : [];\n  if (conversationChunkId && !existingRelated.includes(conversationChunkId)) {\n    existingRelated.push(conversationChunkId);\n  }\n  if (existingRelated.length > 0) {\n    args.relatedChunkIds = existingRelated;\n  }\n\n  const metadata = {\n    ...(args.metadata ?? {}),\n    conversationChunkId,\n    workflow: 'mylo-mcp-bot',\n  };\n  if (!metadata.reviewStatus) {\n    metadata.reviewStatus = 'pending_review';\n  }\n  args.metadata = metadata;\n\n  if (!Array.isArray(args.tags)) {\n    args.tags = [];\n  }\n  if (!args.tags.includes('needs-review')) {\n    args.tags.push('needs-review');\n  }\n\n  const rpcPayload = {\n    jsonrpc: '2.0',\n    id: `memory-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`,\n    method: 'tools/call',\n    params: {\n      name: 'memory_add',\n      arguments: args,\n      options: {\n        timeout: 15000,\n      },\n    },\n  };\n\n  results.push({\n    rpcPayload,\n    memoryType: args.memoryType,\n    title: args.title ?? null,\n  });\n}\n\nreturn results.map((entry) => ({ json: entry }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -160
      ],
      "id": "c82024c1-735a-42a7-bee5-7fcffa37fb72",
      "name": "Prepare Memory Requests"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.rpcPayload }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        -160
      ],
      "id": "97e94b45-4df6-4175-ae1a-a2bca375b50f",
      "name": "Call Memory Add",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Conversation Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Memory Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Conversation Payload": {
      "main": [
        [
          {
            "node": "Store Conversation Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation Turn": {
      "main": [
        [
          {
            "node": "Combine Memory Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Memory Candidates": {
      "main": [
        [
          {
            "node": "Combine Memory Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Memory Context": {
      "main": [
        [
          {
            "node": "Prepare Memory Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Memory Requests": {
      "main": [
        [
          {
            "node": "Call Memory Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "26449ec1-66b1-463e-a092-7d084a1c29d8",
  "triggerCount": 0
}