workflows/myloware-agent.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "myloware/ingest",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1440, 160],
      "id": "6873a9e0-4497-43b9-9bf1-1597bc09f46e",
      "name": "Webhook: Agent Handoff",
      "webhookId": "myloware-agent-webhook",
      "notes": "Receives handoff requests from other agents via handoff_to_agent tool. Path: /webhook/myloware/ingest"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-1440, -32],
      "id": "d373231b-7529-4832-8611-046acd3fb085",
      "name": "Trigger: Telegram Message",
      "webhookId": "myloware-agent-telegram",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      },
      "notes": "Triggers workflow when user sends a message via Telegram. Extracts user ID and message text."
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-1440, 352],
      "id": "912f3740-e8c4-4dfc-9b7c-37bddb46dc47",
      "name": "Trigger: Chat Interface",
      "webhookId": "myloware-agent-chat",
      "notes": "Triggers workflow when user sends a message via the chat UI. Extracts sessionId and chatInput."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.instructions }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [184, 308],
      "id": "dcc4eff1-fbac-4c7c-941c-8ef5c9824464",
      "name": "AI Agent: Persona Execution",
      "retryOnFail": false,
      "notes": "Universal AI agent that executes any persona (Casey, Iggy, Riley, Veo, Alex, Quinn) based on trace.currentOwner. System prompt and allowed tools are dynamically set from trace_prep output. Uses MCP tools and toolWorkflow nodes to complete tasks."
    },
    {
      "parameters": {
        "model": {
          "value": "gpt-5-nano",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-192, 532],
      "id": "5cf2c9eb-de3c-4364-8fc6-512cf6413fa1",
      "name": "Language Model: GPT-5 Nano",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI language model (gpt-5-nano) used by the AI agent for reasoning and tool calling."
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": "={{ $('Prepare Trace Context').item.json.allowedTools }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [-64, 532],
      "id": "620c215b-7d4b-4fdd-94e9-e570e7996bf0",
      "name": "Tool: MCP Server Tools",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "notes": "MCP client that exposes MCP tools (memory_search, memory_store, trace_update, handoff_to_agent, etc.) to the AI agent. Tools are dynamically filtered by trace_prep.allowedTools based on persona capabilities."
    },
    {
      "parameters": {
        "description": "Upload files to Google Drive. Use this when you need to store or backup files, assets, or final video outputs. Typically called by Quinn when publishing assets.",
        "workflowId": {
          "__rl": true,
          "value": "zvJoSOEUDr9hXOLV",
          "mode": "list",
          "cachedResultUrl": "/workflow/zvJoSOEUDr9hXOLV",
          "cachedResultName": "Upload file to Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [64, 532],
      "id": "04a16533-38f2-47a8-ada8-63e22c898f5e",
      "name": "Tool: Upload to Google Drive",
      "notes": "Tool workflow for uploading files to Google Drive. Called by AI agent when needed (e.g., Quinn publishing assets)."
    },
    {
      "parameters": {
        "description": "Upload videos to TikTok. Use this to publish final edited video compilations to TikTok. Called by Quinn persona when publishing final edits. Requires runId parameter.",
        "workflowId": {
          "__rl": true,
          "value": "uIWB6d8OslTpJl1G",
          "mode": "list",
          "cachedResultUrl": "/workflow/uIWB6d8OslTpJl1G",
          "cachedResultName": "Upload to TikTok"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": ["runId"],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [192, 532],
      "id": "779126a6-dd15-4ac4-b39c-2ef1531f917b",
      "name": "Tool: Upload to TikTok",
      "notes": "Tool workflow for uploading videos to TikTok. Called by Quinn persona when publishing final edits."
    },
    {
      "parameters": {
        "description": "Edit and stitch video compilations using Shotstack API. Use this to combine multiple video clips into a single final edit with transitions, effects, and audio mixing. Called by Alex persona to create final compilations. Requires traceId and videoUrls parameters.",
        "workflowId": {
          "__rl": true,
          "value": "9bJoXKRxCLs0B0Ww",
          "mode": "list",
          "cachedResultUrl": "/workflow/9bJoXKRxCLs0B0Ww",
          "cachedResultName": "Edit_AISMR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": ["traceId"],
          "schema": [
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "videoUrls",
              "displayName": "videoUrls",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "array"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [320, 532],
      "id": "64ba67b1-cd72-40bb-9a67-b7cf5be80aff",
      "name": "Tool: Shotstack Video Editing",
      "notes": "Tool workflow for video editing via Shotstack API. Called by Alex persona to stitch and edit video compilations. Requires traceId and videoUrls (array of video URL strings)."
    },
    {
      "parameters": {
        "description": "Generate individual video clips from screenplays. Use this to create video assets based on script content. Called by Veo persona to generate video clips for each screenplay. Requires traceId and screenplay parameters.",
        "workflowId": {
          "__rl": true,
          "value": "ZzHQ2hTTYcdwN63q",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZzHQ2hTTYcdwN63q",
          "cachedResultName": "Generate Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": ["traceId"],
          "schema": [
            {
              "id": "traceId",
              "displayName": "traceId",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "screenplay",
              "displayName": "screenplay",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": false,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [448, 532],
      "id": "b0023cc1-848c-4153-8d08-ddcbb75a02ed",
      "name": "Tool: Generate Video",
      "notes": "Tool workflow for video generation. Called by Veo persona to generate individual video clips from screenplays. Requires traceId and screenplay (JSON object with script content)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "traceId",
              "name": "traceId",
              "value": "={{ $json.body?.traceId || $json.traceId || null }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ (() => { const raw = $json; const sid = raw.body?.sessionId || raw.sessionId || raw.from?.id || raw.userId || raw.message?.chat?.id; if (!sid) { throw new Error('Unable to determine sessionId'); } const s = String(sid).trim(); const src = raw.body ? 'webhook' : (raw.from ? 'telegram' : 'chat'); return s.startsWith(`${src}:`) ? s : `${src}:${s.replace(/^.*?:/, '')}`; })() }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message?.text || $json.message || $json.body?.instructions || $json.chatInput || '' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.message ? 'telegram' : ($json.chatInput ? 'chat' : 'webhook') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1216, 160],
      "id": "7e5266f0-0f5f-4c5c-90e6-df75a4cfa2f0",
      "name": "Prepare Input",
      "notes": "Normalizes and validates inbound payloads from all triggers into a single schema { traceId, sessionId, source, message }."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/mcp/trace_prep",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  traceId: $json.traceId,\n  sessionId: $json.sessionId,\n  instructions: $json.message,\n  source: $json.source,\n  metadata: {}\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-992, 160],
      "id": "591ce954-fa23-43da-b224-ef7f4c1d27e3",
      "name": "Prepare Trace Context",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "notes": "Calls MCP trace_prep endpoint to: create/fetch trace, load persona config, fetch project context, retrieve relevant memories, build system prompt, derive allowed tools. Returns traceId, systemPrompt, allowedTools for the AI agent. Configured with 3 retries and 30s timeout."
    },
    {
      "parameters": {
        "text": "={{ $json.instructions }}",
        "guardrails": {}
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [-768, 160],
      "id": "8d404b36-57b2-4bb6-afee-51dda54cdc2d",
      "name": "Guardrails",
      "notes": "Validates instructions for prompt injection, PII, and jailbreak attempts. Sanitizes input before passing to AI agent."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst sessionId = $('Prepare Input').item.json.sessionId || '';\nconst allowedTools = Array.isArray(item.json.allowedTools) ? [...item.json.allowedTools] : item.json.allowedTools;\n\nif (!Array.isArray(allowedTools)) {\n  return item;\n}\n\nif (!sessionId.startsWith('telegram:')) {\n  // Filter by tool IDs (what trace_prep returns), not display names\n  const restricted = new Set(['telegram_send', 'telegram_hitl']);\n  item.json.allowedTools = allowedTools.filter((tool) => {\n    const id = typeof tool === 'string' ? tool : (tool?.id || tool?.name || '');\n    return !restricted.has(id);\n  });\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-416, 308],
      "id": "8d3e7c14-3e85-4b7f-992f-b6d431dbbc71",
      "name": "Enforce Tool Guardrails",
      "notes": "Removes Telegram-specific tools from allowedTools unless the current session is Telegram. Filters by tool IDs (what trace_prep returns), not display names."
    },
    {
      "parameters": {
        "jsCode": "// Log guardrail violations if detected\nconst item = $input.item;\nconst guardrailResult = item.json;\n\n// Check if guardrails detected violations\nif (guardrailResult.violations && guardrailResult.violations.length > 0) {\n  // Store violation in memory via HTTP request (will be handled by error workflow if this fails)\n  const violationData = {\n    tool: 'memory_store',\n    arguments: {\n      content: `Guardrail violation detected: ${guardrailResult.violations.map(v => v.type).join(', ')}` ,\n      memoryType: 'episodic',\n      tags: ['security', 'guardrail-violation'],\n      metadata: {\n        traceId: item.json.traceId,\n        violationTypes: guardrailResult.violations.map(v => v.type),\n        originalInstructions: item.json.instructions,\n        sanitizedInstructions: guardrailResult.sanitized || item.json.instructions\n      }\n    }\n  };\n  \n  // Store violation data for later logging\n  item.json.guardrailViolations = guardrailResult.violations;\n  item.json.violationData = violationData;\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-416, 12],
      "id": "44c8242a-6d4b-4bdb-bf96-93a02bf3376f",
      "name": "Log Guardrail Violations",
      "notes": "Logs guardrail violations to memory for security monitoring. Violations are stored with traceId for correlation."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/mcp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Log Guardrail Violations').item.json.violationData) }}",
        "options": {
          "timeout": 10000,
          "continueOnFail": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [248, 12],
      "id": "7887ab8e-c5a0-471c-8d0f-4bbfdf8a3f6c",
      "name": "Store Violation Memory",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      },
      "notes": "Stores guardrail violations in memory. Continues on fail to avoid blocking workflow execution."
    },
    {
      "parameters": {
        "chatId": "={{ (() => { const session = $('Prepare Input').item.json.sessionId || ''; if (!session.startsWith('telegram:')) { throw new Error('Telegram send attempted for non-telegram session'); } return session.split(':')[1]; })() }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [576, 532],
      "id": "4017bd48-560c-48f3-8850-d1be955ba7a3",
      "name": "Tool: Send Telegram Message",
      "webhookId": "7b7c8d8f-e6d1-4262-ba5d-cb31c495ec62",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      },
      "notes": "Tool for sending one-way Telegram messages. Used by agents to send status updates or notifications to users."
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ (() => { const session = $('Prepare Input').item.json.sessionId || ''; if (!session.startsWith('telegram:')) { throw new Error('Telegram HITL attempted for non-telegram session'); } return session.split(':')[1]; })() }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [704, 532],
      "id": "d0cf1f73-2109-4d99-a146-c1dc7cd7a809",
      "name": "Tool: Telegram HITL (Human-in-the-Loop)",
      "webhookId": "7b7c8d8f-e6d1-4262-ba5d-cb31c495ec62",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      },
      "notes": "Tool for sending Telegram messages and waiting for user response. Used for HITL approval flows (e.g., Iggy requesting approval for modifiers, Alex requesting approval for final edit). Configured with 1-hour timeout."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-696, 384],
      "id": "36026167-5c2f-4d08-8406-4fef6e0baf0e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Agent Handoff": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Telegram Message": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Chat Interface": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Model: GPT-5 Nano": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: MCP Server Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Upload to Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Upload to TikTok": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Shotstack Video Editing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Generate Video": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Prepare Trace Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Trace Context": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "Enforce Tool Guardrails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Guardrail Violations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Tool Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Guardrail Violations": {
      "main": [
        [
          {
            "node": "Store Violation Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Violation Memory": {
      "main": [[]]
    },
    "Tool: Send Telegram Message": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Telegram HITL (Human-in-the-Loop)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Persona Execution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d47e04d370a1b43496c097b567956ffb03a57fcf0b3917656c3ea43ad368f887"
  }
}
