workflows/poll-db.workflow.json
{
  "updatedAt": "2025-11-02T02:03:21.326Z",
  "createdAt": "2025-11-02T01:07:29.778Z",
  "id": "7Dj31lfHvYGQIVKh",
  "name": "poll-db",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "column"
            },
            {
              "name": "condition"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        120
      ],
      "id": "c0c2561f-dc54-481f-a324-6e34d84ab7b0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos/' + ($json.id || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        120
      ],
      "id": "6bec188f-b611-40dd-ac6b-fa2f6d82124a",
      "name": "Fetch Video"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "debfc1f4-f7ee-48c3-aefb-929fc6a02c17",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json[$('When Executed by Another Workflow').item.json.column] }}",
                    "rightValue": "={{ $('When Executed by Another Workflow').item.json.passText }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "3d03417e-a385-4bf2-992d-2b46a18cde03",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json[$('When Executed by Another Workflow').item.json.column] }}",
                    "rightValue": "={{ $('When Executed by Another Workflow').item.json.passText }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "In Progress"
            }
          ]
        },
        "options": {}
      },
      "id": "bdbd316e-eb19-442c-b98a-419d7a1309dc",
      "name": "Status Switch2",
      "type": "n8n-nodes-base.switch",
      "position": [
        -656,
        48
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "806eb511-8d5c-4b85-9a26-8b576054d0a3",
      "name": "Wait 30 seconds1",
      "type": "n8n-nodes-base.wait",
      "position": [
        -432,
        120
      ],
      "webhookId": "d6b5d4ee-dce9-4053-97c0-75b49c1158a4",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.data?.video;\nif (!payload) {\n  throw new Error('Video payload missing from API response.');\n}\nconst normalized = {\n  ...payload,\n  run_id: payload.runId ?? null,\n  project_id: payload.projectId ?? null,\n  user_idea: payload.userIdea ?? null,\n  video_link: payload.videoLink ?? null,\n  error_message: payload.errorMessage ?? null,\n  started_at: payload.startedAt ?? null,\n  completed_at: payload.completedAt ?? null,\n  created_at: payload.createdAt ?? null,\n  updated_at: payload.updatedAt ?? null,\n};\nnormalized.ideaId = payload.id;\nnormalized.runId = payload.runId;\nnormalized.projectId = payload.projectId;\nnormalized.metadata = payload.metadata ?? {};\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        48
      ],
      "id": "f5a7b5e9-4c5e-4778-8e47-4a87f85b0ecf",
      "name": "Normalize Video"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Switch2": {
      "main": [
        [],
        [
          {
            "node": "Wait 30 seconds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 seconds1": {
      "main": [
        [
          {
            "node": "Fetch Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Video": {
      "main": [
        [
          {
            "node": "Normalize Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Video": {
      "main": [
        [
          {
            "node": "Status Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7ccdf1ce-0686-40d3-8fdc-5fedab6b33a6",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T01:07:29.778Z",
      "createdAt": "2025-11-02T01:07:29.778Z",
      "role": "workflow:owner",
      "workflowId": "7Dj31lfHvYGQIVKh",
      "projectId": "31ZCiMO58nOfetfK",
      "project": {
        "updatedAt": "2025-11-02T01:05:08.411Z",
        "createdAt": "2025-11-02T01:01:26.863Z",
        "id": "31ZCiMO58nOfetfK",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-02T01:01:26.863Z",
            "createdAt": "2025-11-02T01:01:26.863Z",
            "userId": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
            "projectId": "31ZCiMO58nOfetfK",
            "user": {
              "updatedAt": "2025-11-02T01:38:33.828Z",
              "createdAt": "2025-11-02T01:01:26.032Z",
              "id": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-02T01:05:22.653Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "other",
                "reportedSourceOther": "f"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}