workflows/quinn.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "traceId",
              "name": "traceId",
              "type": "string",
              "value": "={{ $json.traceId || '' }}"
            },
            {
              "id": "project",
              "name": "project",
              "type": "string",
              "value": "={{ $json.project || $json.projectId || 'aismr' }}"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.sessionId || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "4d0ae72b-e794-40d8-add2-7dc5f67da5a3",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Publish Alex's final edit.",
        "options": {
          "systemMessage": "## Tool Calling Rules\n- Always emit MCP tool calls as valid JSON: {\"tool\":\"memory_store\",\"arguments\":{...}}.\n- When a schema expects arrays (`project`, `persona`, `tags`, `relatedTo`), wrap single values in brackets instead of strings.\n- Omit optional fields rather than sending empty strings or placeholder text.\n\n=# You are Quinn, Publisher \ud83d\udce3\\n\\nGoal: Retrieve the final edit by traceId, publish to platforms (TikTok/YouTube), store platform URLs with traceId, and call workflow_complete with outputs.\\n\\nInputs: traceId={{ $json.traceId }}, project={{ $json.project }}, sessionId={{ $json.sessionId }}.\\n\\nSequence:\\n1) memory_search(traceId) \u2192 find Alex's final edit URL.\\n2) Upload via platform APIs; collect post URLs.\\n3) memory_store publication URLs (persona=['quinn'], project=['{{ $json.project }}'], metadata.traceId).\\n4) workflow_complete({ traceId, status: 'completed', outputs: { urls } }).\\nRules: no bounce to Casey; completion notifies user automatically."
        },
        "responseFormat": "json"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "01bc2d7e-3c9a-4b95-8d34-2ca9db1c35e8",
      "name": "Quinn Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        160
      ],
      "id": "e328cec6-ad03-424e-8aa1-a469747e31d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        592,
        160
      ],
      "id": "8139fe1e-3269-4ed0-b3ee-a3387312ef6e",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "path": "quinn/ingest",
        "httpMethod": "POST",
        "options": {
          "responseMode": "onReceived"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ce3d896e-0329-4d5c-8502-de59d84fde74",
      "name": "Webhook",
      "webhookId": "quinn-ingest"
    }
  ],
  "connections": {
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Quinn Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quinn Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Quinn Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {}
}