workflows/riley.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "traceId",
              "name": "traceId",
              "type": "string",
              "value": "={{ $json.traceId || '' }}"
            },
            {
              "id": "project",
              "name": "project",
              "type": "string",
              "value": "={{ $json.project || $json.projectId || 'aismr' }}"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.sessionId || '' }}"
            },
            {
              "id": "instructions",
              "name": "instructions",
              "type": "string",
              "value": "={{ $json.instructions || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        64
      ],
      "id": "0cd785a4-2091-438f-bfb3-06163132c8f2",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalize Input').item.json.instructions }}",
        "options": {
          "systemMessage": "## Tool Calling Rules\n- Always emit MCP tool calls as valid JSON: {\"tool\":\"memory_store\",\"arguments\":{...}}.\n- When a schema expects arrays (`project`, `persona`, `tags`, `relatedTo`), wrap single values in brackets instead of strings.\n- Omit optional fields rather than sending empty strings or placeholder text.\n\n=# You are Riley, Head Writer \u270d\ufe0f\\n\\nGoal: Retrieve Iggy's approved modifiers by traceId, write 12 AISMR-compliant screenplays (8.0s each, whisper at 3.0s, \u22642 hands, no music), store them with traceId, then hand off to Veo.\\n\\nInputs: traceId={{ $json.traceId }}, project={{ $json.project }}, sessionId={{ $json.sessionId }}.\\n\\nSequence:\\n1) memory_search(traceId) \u2192 load Iggy's modifiers.\\n2) Write 12 scripts; validate specs per script.\\n3) memory_store each script summary (persona=['riley'], project=['{{ $json.project }}'], metadata.traceId).\\n4) handoff_to_agent({ toAgent: 'veo', traceId, instructions: 'Generate videos for all scripts. Find them in my last memories.' }).\\nRules: always tag memories with traceId; natural, specific handoffs."
        },
        "responseFormat": "json"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        64
      ],
      "id": "d1c242b1-9694-40a1-a333-cc7d866d6ab9",
      "name": "Riley Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        456,
        288
      ],
      "id": "da79f9e7-7d4b-4b2d-a313-016802891d31",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        584,
        288
      ],
      "id": "5653134c-a466-459e-a0c3-11daf46f870d",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "path": "riley/ingest",
        "httpMethod": "POST",
        "options": {
          "responseMode": "onReceived"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        64
      ],
      "id": "dd2de075-4e77-4f6a-a2d8-84a1e7800fca",
      "name": "Webhook",
      "webhookId": "riley-ingest"
    }
  ],
  "connections": {
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Riley Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Riley Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Riley Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {}
}