workflows/screen-writer.workflow.json
{
  "updatedAt": "2025-11-02T02:03:21.405Z",
  "createdAt": "2025-11-02T01:07:29.817Z",
  "id": "UH0zBnpPyB8HHUKW",
  "name": "Screen Writer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos/' + ($('When Called').item.json.ideaId || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ prompt: $json.output?.prompt ?? null, status: 'script_gen' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        -224
      ],
      "id": "57862e5d-433e-435c-af38-079cfa6ef2c8",
      "name": "Update Row with Prompt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ],
      "id": "e7643002-dae8-441f-be64-a2040255f6a8",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + (($('When Called').item.json.runId) || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'failed', result: 'scripts_error' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        0
      ],
      "id": "a477a4ea-efbd-4aba-af0a-bd0fb4f9dc27",
      "name": "Mark Run Failed (Scripts)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cz7h4stqCFJ4qZ9I",
          "mode": "list",
          "cachedResultUrl": "/workflow/Cz7h4stqCFJ4qZ9I",
          "cachedResultName": "Mylo_MCP_Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projectId": "={{ $json.metadata.projectSlug }}",
            "personaId": "ideagenerator",
            "chatInput": "={{ $('When Called').item.json.userInput }}",
            "outputSchema": "\"{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"userIdea\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"Normalized base object (lowercase singular) applied to every idea.\\\"},\\\"ideas\\\":{\\\"type\\\":\\\"array\\\",\\\"description\\\":\\\"Exactly 12 unique AISMR-ready concepts in Title Case descriptor + singular object format.\\\",\\\"items\\\":{\\\"type\\\":\\\"object\\\",\\\"properties\\\":{\\\"idea\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"Title Case descriptor + singular object (two words, descriptor is one word).\\\"},\\\"vibe\\\":{\\\"type\\\":\\\"string\\\",\\\"description\\\":\\\"2-4 sentence explanation covering emotion, hook, texture, feasibility, replay value, and environment potential.\\\"}},\\\"required\\\":[\\\"idea\\\",\\\"vibe\\\"],\\\"additionalProperties\\\":false},\\\"minItems\\\":12,\\\"maxItems\\\":12}},\\\"required\\\":[\\\"userIdea\\\",\\\"ideas\\\"],\\\"additionalProperties\\\":false}\""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "projectId",
              "displayName": "projectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "personaId",
              "displayName": "personaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "outputSchema",
              "displayName": "outputSchema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -128,
        -224
      ],
      "id": "e257fe26-af65-41fc-a40b-3369e612792b",
      "name": "Call 'Mylo_MCP_Bot'"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userInput"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -224
      ],
      "id": "f2a92892-243b-4c84-9c8d-54f4c25a6bbc",
      "name": "When Called"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + ($json.runId || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        -224
      ],
      "id": "72caab9a-2716-4bd2-ac5b-1be064550fea",
      "name": "Get Run (API)"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.data?.run;\nif (!payload) {\n  throw new Error('Run payload missing from API response.');\n}\nconst normalized = {\n  ...payload,\n  project_id: payload.projectId ?? null,\n  persona_id: payload.personaId ?? null,\n  chat_id: payload.chatId ?? null,\n  result: payload.result ?? null,\n  started_at: payload.startedAt ?? null,\n  completed_at: payload.completedAt ?? null,\n  created_at: payload.createdAt ?? null,\n  updated_at: payload.updatedAt ?? null,\n  input: payload.input ?? {},\n  metadata: payload.metadata ?? {},\n};\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -224
      ],
      "id": "cb662e81-2d63-4813-9680-7cd8c7c493ee",
      "name": "Get Run"
    }
  ],
  "connections": {
    "Update Row with Prompt": {
      "main": [
        []
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Scripts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Scripts)": {
      "main": [
        []
      ]
    },
    "Call 'Mylo_MCP_Bot'": {
      "main": [
        [
          {
            "node": "Update Row with Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "Call 'Mylo_MCP_Bot'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "63daf0a2-bae1-4343-a50b-5aa235f6f2c0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T01:07:29.817Z",
      "createdAt": "2025-11-02T01:07:29.817Z",
      "role": "workflow:owner",
      "workflowId": "UH0zBnpPyB8HHUKW",
      "projectId": "31ZCiMO58nOfetfK",
      "project": {
        "updatedAt": "2025-11-02T01:05:08.411Z",
        "createdAt": "2025-11-02T01:01:26.863Z",
        "id": "31ZCiMO58nOfetfK",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-02T01:01:26.863Z",
            "createdAt": "2025-11-02T01:01:26.863Z",
            "userId": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
            "projectId": "31ZCiMO58nOfetfK",
            "user": {
              "updatedAt": "2025-11-02T01:38:33.828Z",
              "createdAt": "2025-11-02T01:01:26.032Z",
              "id": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-02T01:05:22.653Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "other",
                "reportedSourceOther": "f"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}