workflows/screen-writer.workflow.json
{
  "name": "Screen Writer",
  "nodes": [
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos/' + ($('Parse Screenplay Output').item.json.videoId || $('When Called').item.json.ideaId || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ prompt: JSON.stringify($('Parse Screenplay Output').item.json.screenplay), status: 'script_gen' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -224
      ],
      "id": "57862e5d-433e-435c-af38-079cfa6ef2c8",
      "name": "Update Row with Prompt"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Called').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const run = $('Get Run').item?.json ?? {}; const stages = run.stages ?? {}; const clone = (value) => (value && typeof value === 'object' ? { ...value } : {}); const ideaStage = clone(stages.idea_generation); if (!ideaStage.status) { ideaStage.status = 'completed'; } const screenplay = $('Parse Screenplay Output').item.json.screenplay; const videoId = $('Parse Screenplay Output').item.json.videoId; const screenplayStage = { ...clone(stages.screenplay), status: 'completed', output: { screenplay, videoId, completedAt: new Date().toISOString() } }; const videoStage = { ...clone(stages.video_generation), status: 'running' }; const publishingStage = clone(stages.publishing); if (!publishingStage.status) { publishingStage.status = 'pending'; } const mergedOutput = { ...(run.output ?? {}), screenplay: screenplay }; return { status: 'running', currentStage: 'video_generation', stages: { idea_generation: ideaStage, screenplay: screenplayStage, video_generation: videoStage, publishing: publishingStage }, output: mergedOutput };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -224
      ],
      "id": "5c6464f3-5b50-4d6f-9d87-6814c6efa57b",
      "name": "Update Run Screenplay Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "e7643002-dae8-441f-be64-a2040255f6a8",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Called').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'failed', stages: { idea_generation: ($('Get Run').item.json.stages?.idea_generation ?? { status: 'completed' }), screenplay: { status: 'failed', error: { message: $json.error?.message ?? 'Screenwriter workflow failed.', stack: $json.error?.stack ?? null, lastNode: $json.execution?.lastNodeExecuted ?? null } }, video_generation: ($('Get Run').item.json.stages?.video_generation ?? { status: 'pending' }), publishing: ($('Get Run').item.json.stages?.publishing ?? { status: 'pending' }) }, output: { stage: 'screenplay', error: { message: $json.error?.message ?? 'Screenwriter workflow failed.', stack: $json.error?.stack ?? null, lastNode: $json.execution?.lastNodeExecuted ?? null } }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        112
      ],
      "id": "a477a4ea-efbd-4aba-af0a-bd0fb4f9dc27",
      "name": "Mark Run Failed (Scripts)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxTokens": 8192,
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        0
      ],
      "id": "8f0e2f17-555d-4248-ad2a-bd655adc1f38",
      "name": "OpenAI: GPT-4o Screenplay",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "283c3293-da81-48bd-9409-b837413975d4",
      "name": "MCP Tools Screenplay",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Called').item.json.userInput || '' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are Sloane, screenwriter for AISMR. Identity: persona=\"screenwriter\", project=\"aismr\" Goal: Turn 2-word ideas plus vibe descriptions into validated AISMR screenplays (8s, veo-3-fast) with exact timing and specs. Bootstrap: Call prompt_get({\"persona_name\":\"screenwriter\",\"project_name\":\"aismr\"}) to pull your workflow prompt; if unavailable, run prompt_search for \"screenwriter aismr workflow\" and retry prompt_get. After loading, recall project specs, then output one screenplay object with title, logline, timestamps (time/action/sensoryDetail), camera, materials, audio, handDiscipline, loopMechanic, and validationSummary.\n\n## RAG Strategy for Screenwriting\nPhase 1 - Load Specifications (parallel):\n- Timing rules: prompt_search({query: \"aismr timing specifications\", searchMode: \"keyword\"})\n- Runtime limits: prompt_search({query: \"aismr runtime requirements\", searchMode: \"keyword\"})\n- Hand usage: prompt_search({query: \"hands hands-only requirements\", searchMode: \"keyword\"})\n- Audio guidelines: prompt_search({query: \"asmr audio requirements\", searchMode: \"keyword\"})\n\nPhase 2 - Pattern Learning:\n- Use conversation_remember to recall prior quality issues/feedback\n- Use prompt_search (hybrid + graph) for successful screenplay patterns:\n  {query: \"successful aismr screenplays\", searchMode: \"hybrid\", expandGraph: true, graphMaxHops: 2}\n\nPhase 3 - Uncertainty Resolution:\n- If tone/style unclear, use prompts_search_adaptive\n- Parameters: {maxIterations: 3, utilityThreshold: 0.75, project: \"aismr\"}\n\n## Validation Requirements\nAfter generating screenplay:\n- Verify timing: total runtime 50-90s\n- Count hands: validate 2 hands throughout\n- Check audio: no speech/music violations\n- Confirm loop: last frame matches first frame\n- HALT if any validation fails\n\nUse your tools as needed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        -224
      ],
      "id": "cf709bc1-fdf7-48d5-a13a-72e5dee7e01c",
      "name": "AI Agent: Generate Screenplay",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output to extract structured screenplay\nconst rawOutput = $json.output ?? $json.result ?? $json.response ?? $json;\nlet parsed = null;\n\n// Try to parse JSON from string output\nif (typeof rawOutput === 'string') {\n  try {\n    // Extract JSON from markdown code blocks if present\n    const jsonMatch = rawOutput.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/) || rawOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n    } else {\n      parsed = JSON.parse(rawOutput);\n    }\n  } catch (e) {\n    console.warn('Failed to parse JSON from AI output:', e);\n    parsed = { screenplay: { title: 'Untitled', scenes: [], totalDuration: 60, triggerWords: [] }, videoId: $('When Called').item.json.ideaId };\n  }\n} else if (typeof rawOutput === 'object') {\n  parsed = rawOutput;\n}\n\n// Ensure screenplay structure exists\nconst screenplay = parsed?.screenplay || {\n  title: parsed?.title || 'Untitled Screenplay',\n  scenes: Array.isArray(parsed?.scenes) ? parsed.scenes : [],\n  totalDuration: parsed?.totalDuration || parsed?.duration || 60,\n  triggerWords: Array.isArray(parsed?.triggerWords) ? parsed.triggerWords : []\n};\n\n// Ensure videoId is present\nconst videoId = parsed?.videoId || $('When Called').item.json.ideaId || null;\n\n// Normalize scenes array\nconst normalizedScenes = screenplay.scenes.map((scene, index) => ({\n  sceneNumber: scene.sceneNumber || index + 1,\n  duration: scene.duration || 10,\n  dialogue: scene.dialogue || '',\n  actions: Array.isArray(scene.actions) ? scene.actions : [],\n  soundEffects: Array.isArray(scene.soundEffects) ? scene.soundEffects : [],\n  cameraAngle: scene.cameraAngle || 'medium'\n}));\n\nreturn {\n  json: {\n    screenplay: {\n      ...screenplay,\n      scenes: normalizedScenes\n    },\n    videoId: videoId,\n    rawOutput: rawOutput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -224
      ],
      "id": "89633ab0-4675-4538-957f-e570657e7b8c",
      "name": "Parse Screenplay Output"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userInput"
            },
            {
              "name": "runId"
            },
            {
              "name": "ideaId"
            },
            {
              "name": "selectedIdea"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -224
      ],
      "id": "f2a92892-243b-4c84-9c8d-54f4c25a6bbc",
      "name": "When Called"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.runId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        -224
      ],
      "id": "72caab9a-2716-4bd2-ac5b-1be064550fea",
      "name": "Get Run (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.workflowRun ?? $json?.data?.workflowRun ?? null;\nif (!payload) {\n  throw new Error('Workflow run payload missing from API response.');\n}\n\nconst metadata = {};\nif (payload.input && typeof payload.input === 'object') {\n  if (payload.input.metadata && typeof payload.input.metadata === 'object') {\n    Object.assign(metadata, payload.input.metadata);\n  }\n  if (payload.input.turn && typeof payload.input.turn === 'object' && payload.input.turn.metadata && typeof payload.input.turn.metadata === 'object') {\n    Object.assign(metadata, payload.input.turn.metadata);\n  }\n  if (payload.input.projectSlug && typeof payload.input.projectSlug === 'string' && !metadata.projectSlug) {\n    metadata.projectSlug = payload.input.projectSlug;\n  }\n}\nif (!metadata.projectSlug && typeof payload.projectId === 'string') {\n  metadata.projectSlug = payload.projectId;\n}\n\nconst normalized = {\n  ...payload,\n  run_id: payload.id,\n  project_id: payload.projectId ?? null,\n  projectId: payload.projectId ?? null,\n  session_id: payload.sessionId ?? null,\n  sessionId: payload.sessionId ?? null,\n  input: payload.input ?? {},\n  metadata,\n};\n\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -224
      ],
      "id": "cb662e81-2d63-4813-9680-7cd8c7c493ee",
      "name": "Get Run"
    },
    {
      "parameters": {
        "jsCode": "const screenplay = $('Parse Screenplay Output').item.json.screenplay;\nconst videoId = $('Parse Screenplay Output').item.json.videoId;\n\nreturn {\n  json: {\n    screenplay,\n    videoId,\n    status: 'completed'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -224
      ],
      "id": "ecb396b5-82ee-4f13-9379-8cd31782803d",
      "name": "Prepare Workflow Output"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"title\",\n    \"logline\",\n    \"timestamps\",\n    \"camera\",\n    \"materials\",\n    \"audio\",\n    \"handDiscipline\",\n    \"loopMechanic\",\n    \"validationSummary\"\n  ],\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"logline\": {\n      \"type\": \"string\"\n    },\n    \"timestamps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"time\",\n          \"action\",\n          \"sensoryDetail\"\n        ],\n        \"properties\": {\n          \"time\": {\n            \"type\": \"string\",\n            \"pattern\": \"^\\\\d+\\\\.\\\\d+s$\"\n          },\n          \"action\": {\n            \"type\": \"string\"\n          },\n          \"sensoryDetail\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"camera\": {\n      \"type\": \"string\"\n    },\n    \"materials\": {\n      \"type\": \"string\"\n    },\n    \"audio\": {\n      \"type\": \"string\",\n      \"description\": \"Detail tactile foley, whisper integration, and confirmation of no music.\"\n    },\n    \"handDiscipline\": {\n      \"type\": \"string\",\n      \"description\": \"Explicit hand choreography ensuring ≤2 hands.\"\n    },\n    \"loopMechanic\": {\n      \"type\": \"string\"\n    },\n    \"validationSummary\": {\n      \"type\": \"object\",\n      \"required\": [\n        \"timing\",\n        \"hands\",\n        \"audio\",\n        \"loop\",\n        \"notes\"\n      ],\n      \"properties\": {\n        \"timing\": {\n          \"type\": \"string\"\n        },\n        \"hands\": {\n          \"type\": \"string\"\n        },\n        \"audio\": {\n          \"type\": \"string\"\n        },\n        \"loop\": {\n          \"type\": \"string\"\n        },\n        \"notes\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        128,
        0
      ],
      "id": "2f6543de-35cd-4037-b8ab-c597033128f7",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Update Row with Prompt": {
      "main": [
        [
          {
            "node": "Update Run Screenplay Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run Screenplay Complete": {
      "main": [
        [
          {
            "node": "Prepare Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow Output": {
      "main": [
        []
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (Scripts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (Scripts)": {
      "main": [
        []
      ]
    },
    "When Called": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Screenplay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: GPT-4o Screenplay": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Screenplay",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Tools Screenplay": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Screenplay",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Screenplay": {
      "main": [
        [
          {
            "node": "Parse Screenplay Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Screenplay Output": {
      "main": [
        [
          {
            "node": "Update Row with Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Screenplay",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "active": false,
  "versionId": "4b638ccd-f00f-4c5a-b01c-d6d18c7507b3",
  "id": "imsk9c0iSkfYAiqN",
  "meta": null,
  "pinData": null,
  "updatedAt": "2025-11-04T09:42:17.797Z",
  "createdAt": "2025-11-04T09:42:17.797Z",
  "isArchived": false,
  "versionCounter": 1,
  "triggerCount": 0
}