workflows/upload-to-tiktok.workflow.json
{
  "updatedAt": "2025-11-03T19:59:12.150Z",
  "createdAt": "2025-11-02T01:07:29.880Z",
  "id": "85BRncHFFikG9FIE",
  "name": "Upload to TikTok",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.output.caption }}"
            },
            {
              "name": "user",
              "value": "AISMR"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "e05b2a09-ad60-4249-a9c3-6d981f94890e",
      "name": "Upload Video and Description to Tiktok",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2400,
        0
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "0BNuv1pF0pwOdsBI",
          "name": "upload-post"
        }
      },
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Executed by Another Workflow').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const getNodeData = (name) => {\n    try {\n      return $(name).item?.json ?? null;\n    } catch (error) {\n      return null;\n    }\n  };\n  const run = getNodeData('Get a row') ?? {};\n  const stages = run.stages ?? {};\n  const clone = (value) => (value && typeof value === 'object' ? { ...value } : {});\n  const ideaStage = clone(stages.idea_generation);\n  if (!ideaStage.status) { ideaStage.status = 'completed'; }\n  const screenplayStage = clone(stages.screenplay);\n  if (!screenplayStage.status) { screenplayStage.status = 'completed'; }\n  const videoStage = clone(stages.video_generation);\n  if (!videoStage.status) { videoStage.status = 'completed'; }\n  const publishingStage = clone(stages.publishing);\n  const tiktokUrl = $json.response?.url ?? $json.data?.url ?? null;\n  const publishingOutput = {\n    ...(publishingStage?.output ?? {}),\n    tiktokUrl,\n    platform: 'tiktok'\n  };\n  const updatedPublishingStage = {\n    ...publishingStage,\n    status: 'completed',\n    output: publishingOutput\n  };\n  const mergedOutput = {\n    ...(run.output ?? {}),\n    publishing: {\n      ...(run.output?.publishing ?? {}),\n      tiktokUrl,\n      platform: 'tiktok'\n    }\n  };\n  return {\n    status: 'completed',\n    currentStage: 'publishing',\n    stages: {\n      idea_generation: ideaStage,\n      screenplay: screenplayStage,\n      video_generation: videoStage,\n      publishing: updatedPublishingStage\n    },\n    output: mergedOutput\n  };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        0
      ],
      "id": "4271d6c4-36b8-4f7e-a656-b10f1e5b00fe",
      "name": "Update Run TikTok Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        480,
        -192
      ],
      "id": "6af5c86e-2f47-4d30-afa8-ff717a6c6d83",
      "name": "On Error"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + (($('When Executed by Another Workflow').item.json.runId) || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const getNodeData = (name) => {\n    try {\n      return $(name).item?.json ?? null;\n    } catch (error) {\n      return null;\n    }\n  };\n  const run = getNodeData('Get a row') ?? {};\n  const stages = run.stages ?? {};\n  const clone = (value) => (value && typeof value === 'object' ? { ...value } : {});\n  const ideaStage = clone(stages.idea_generation);\n  if (!ideaStage.status) { ideaStage.status = 'completed'; }\n  const screenplayStage = clone(stages.screenplay);\n  if (!screenplayStage.status) { screenplayStage.status = 'completed'; }\n  const videoStage = clone(stages.video_generation);\n  if (!videoStage.status) { videoStage.status = 'completed'; }\n  const publishingStage = {\n    ...clone(stages.publishing),\n    status: 'failed',\n    error: {\n      message: $json.error?.message ?? 'TikTok upload workflow failed.',\n      stack: $json.error?.stack ?? null,\n      lastNode: $json.execution?.lastNodeExecuted ?? null\n    }\n  };\n  return {\n    status: 'failed',\n    currentStage: 'publishing',\n    stages: {\n      idea_generation: ideaStage,\n      screenplay: screenplayStage,\n      video_generation: videoStage,\n      publishing: publishingStage\n    },\n    output: {\n      ...(run.output ?? {}),\n      publishing: {\n        ...(run.output?.publishing ?? {}),\n        error: {\n          message: $json.error?.message ?? 'TikTok upload workflow failed.',\n          stack: $json.error?.stack ?? null,\n          lastNode: $json.execution?.lastNodeExecuted ?? null\n        }\n      }\n    }\n  };\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -192
      ],
      "id": "2a8ebd30-9732-4f5c-a228-3fbc64bfa690",
      "name": "Mark Run Failed (TikTok)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "760957a9-d8d6-4d2d-8818-7544fd511ea2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Idea: Your Month, Your ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Call \\'Load Persona\\'').item.json.prompt_text }}\n\nHere's all the information we used to make this video.\n\n{{ $json }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1824,
        0
      ],
      "id": "c58d479f-2b27-409c-94cc-ad108d617590",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1832,
        224
      ],
      "id": "e2583121-bada-42fe-989c-ba8bb75d25a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BPz7M5LEDbqEvdCZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4eaPRf4DiHKOvOrc",
          "mode": "list",
          "cachedResultUrl": "/workflow/4eaPRf4DiHKOvOrc",
          "cachedResultName": "Load Persona"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $('When Executed by Another Workflow').item.json.runId }}",
            "personaSlug": "captionhashtag",
            "projectSlug": "aismr"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        0
      ],
      "id": "079e73b1-06bf-494a-a3f0-1bb13c9980e2",
      "name": "Call 'Load Persona'"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"caption\": \"some caption\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1960,
        224
      ],
      "id": "f09a23dc-f060-4470-a924-42dc9e73c5fc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/workflow-runs/' + ($json.runId || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        0
      ],
      "id": "9a7def8f-7bde-4c14-bc7e-53755f9cea04",
      "name": "Get Run (API)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos?run=' + encodeURIComponent($json.runId || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        0
      ],
      "id": "1d3887a5-65fb-4995-8f2f-e06b271d70e0",
      "name": "Get many rows (API)"
    },
    {
      "parameters": {
        "url": "={{ $('Get a row').item.json.video_output?.videoUrl || $('Get a row').item.json.result || '' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        0
      ],
      "id": "6133a461-89f9-48f2-b56f-6deee1ae1718",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.workflowRun ?? $json?.data?.workflowRun ?? null;\nif (!payload) {\n  throw new Error('Workflow run payload missing from API response.');\n}\nconst metadata = {};\nif (payload.input && typeof payload.input === 'object') {\n  if (payload.input.metadata && typeof payload.input.metadata === 'object') {\n    Object.assign(metadata, payload.input.metadata);\n  }\n  if (payload.input.turn && typeof payload.input.turn === 'object' && payload.input.turn.metadata && typeof payload.input.turn.metadata === 'object') {\n    Object.assign(metadata, payload.input.turn.metadata);\n  }\n  if (payload.input.projectSlug && typeof payload.input.projectSlug === 'string' && !metadata.projectSlug) {\n    metadata.projectSlug = payload.input.projectSlug;\n  }\n}\nif (!metadata.projectSlug && typeof payload.projectId === 'string') {\n  metadata.projectSlug = payload.projectId;\n}\nconst videoOutput = payload.output?.video_generation ?? {};\nconst publishingOutput = payload.output?.publishing ?? {};\nconst normalized = {\n  ...payload,\n  metadata,\n  video_output: videoOutput,\n  publishing_output: publishingOutput,\n  result: videoOutput.videoUrl ?? payload.result ?? null\n};\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "0f9073df-29ad-4203-98e0-d17cde0bb0bc",
      "name": "Get a row"
    },
    {
      "parameters": {
        "jsCode": "const videos = $json?.data?.videos;\nif (!Array.isArray(videos)) {\n  throw new Error('Video list missing from API response.');\n}\nreturn videos.map((video) => ({\n  json: {\n    ...video,\n    run_id: video.runId ?? null,\n    project_id: video.projectId ?? null,\n    user_idea: video.userIdea ?? null,\n    vibe: video.vibe ?? null,\n    prompt: video.prompt ?? null,\n    video_link: video.videoLink ?? null,\n    error_message: video.errorMessage ?? null,\n    started_at: video.startedAt ?? null,\n    completed_at: video.completedAt ?? null,\n    created_at: video.createdAt ?? null,\n    updated_at: video.updatedAt ?? null,\n    metadata: video.metadata ?? {},\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "id": "35896ce0-42ce-4e34-a22a-fe85e8d03295",
      "name": "Get many rows"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Load Persona'": {
      "main": [
        [
          {
            "node": "Get many rows (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload Video and Description to Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video and Description to Tiktok": {
      "main": [
        [
          {
            "node": "Update Run TikTok Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed (TikTok)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed (TikTok)": {
      "main": [
        []
      ]
    },
    "Update Run TikTok Complete": {
      "main": [
        []
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Call 'Load Persona'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows (API)": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5c9f73ec-e339-4d77-b16f-b5779a681c09",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T01:07:29.880Z",
      "createdAt": "2025-11-02T01:07:29.880Z",
      "role": "workflow:owner",
      "workflowId": "85BRncHFFikG9FIE",
      "projectId": "31ZCiMO58nOfetfK",
      "project": {
        "updatedAt": "2025-11-02T01:05:08.411Z",
        "createdAt": "2025-11-02T01:01:26.863Z",
        "id": "31ZCiMO58nOfetfK",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-02T01:01:26.863Z",
            "createdAt": "2025-11-02T01:01:26.863Z",
            "userId": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
            "projectId": "31ZCiMO58nOfetfK",
            "user": {
              "updatedAt": "2025-11-03T05:00:48.459Z",
              "createdAt": "2025-11-02T01:01:26.032Z",
              "id": "e35192e8-55eb-4de4-9518-a6a205b8c65a",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-02T01:05:22.653Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "other",
                "reportedSourceOther": "f"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NGKqyspp66gDGVI0",
                "userActivatedAt": 1762065650829
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}