workflows/upload-to-tiktok.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.output.caption }}"
            },
            {
              "name": "user",
              "value": "AISMR"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "e05b2a09-ad60-4249-a9c3-6d981f94890e",
      "name": "Upload Video and Description to Tiktok",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1952,
        0
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "0BNuv1pF0pwOdsBI",
          "name": "upload-post"
        }
      },
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "760957a9-d8d6-4d2d-8818-7544fd511ea2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Idea: Your Month, Your ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Call \\'Load Persona\\'').item.json.prompt_text }}\n\nHere's all the information we used to make this video.\n\n{{ $json }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1376,
        0
      ],
      "id": "c58d479f-2b27-409c-94cc-ad108d617590",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        224
      ],
      "id": "e2583121-bada-42fe-989c-ba8bb75d25a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4eaPRf4DiHKOvOrc",
          "mode": "list",
          "cachedResultUrl": "/workflow/4eaPRf4DiHKOvOrc",
          "cachedResultName": "Load Persona"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $('When Executed by Another Workflow').item.json.runId }}",
            "personaId": "86fe8c64-7e99-4814-adce-1748944c5d35"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "personaId",
              "displayName": "personaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        928,
        0
      ],
      "id": "079e73b1-06bf-494a-a3f0-1bb13c9980e2",
      "name": "Call 'Load Persona'"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"caption\": \"some caption\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        224
      ],
      "id": "f09a23dc-f060-4470-a924-42dc9e73c5fc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.runId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        0
      ],
      "id": "9a7def8f-7bde-4c14-bc7e-53755f9cea04",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "videos",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "run_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.runId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        0
      ],
      "id": "1d3887a5-65fb-4995-8f2f-e06b271d70e0",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get a row').item.json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        0
      ],
      "id": "6133a461-89f9-48f2-b56f-6deee1ae1718",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Load Persona'": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Call 'Load Persona'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video and Description to Tiktok": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload Video and Description to Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "runId": "8b3c4420-4cd6-426f-b68b-19232dd49375"
        }
      }
    ],
    "Get a row": [
      {
        "json": {
          "id": "8b3c4420-4cd6-426f-b68b-19232dd49375",
          "project_id": "a372acc6-5b6a-46c5-835d-6e9859d5055c",
          "chat_id": "6559268788",
          "status": "complete",
          "result": "https://shotstack-api-stage-output.s3-ap-southeast-2.amazonaws.com/hon85ahg2g/af4de0e9-f471-4acd-84b4-40fdabb92d2d.mp4",
          "error_message": null,
          "created_at": "2025-10-26T13:37:47.060834+00:00",
          "updated_at": "2025-10-26T13:37:47.060834+00:00"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
