workflows/upload-to-tiktok.workflow.json
{
  "updatedAt": "2025-10-29T21:19:50.012Z",
  "createdAt": "2025-10-26T14:21:00.710Z",
  "id": "vmp9L5Bhin2jQCPC",
  "name": "Upload to TikTok",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.output.caption }}"
            },
            {
              "name": "user",
              "value": "AISMR"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "e05b2a09-ad60-4249-a9c3-6d981f94890e",
      "name": "Upload Video and Description to Tiktok",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1952,
        0
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "0BNuv1pF0pwOdsBI",
          "name": "upload-post"
        }
      },
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "760957a9-d8d6-4d2d-8818-7544fd511ea2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Idea: Your Month, Your ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $('Call \\'Load Persona\\'').item.json.prompt_text }}\n\nHere's all the information we used to make this video.\n\n{{ $json }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1376,
        0
      ],
      "id": "c58d479f-2b27-409c-94cc-ad108d617590",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        224
      ],
      "id": "e2583121-bada-42fe-989c-ba8bb75d25a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4eaPRf4DiHKOvOrc",
          "mode": "list",
          "cachedResultUrl": "/workflow/4eaPRf4DiHKOvOrc",
          "cachedResultName": "Load Persona"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $('When Executed by Another Workflow').item.json.runId }}",
            "personaSlug": "captionhashtag",
            "projectSlug": "aismr"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        928,
        0
      ],
      "id": "079e73b1-06bf-494a-a3f0-1bb13c9980e2",
      "name": "Call 'Load Persona'"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"caption\": \"some caption\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        224
      ],
      "id": "f09a23dc-f060-4470-a924-42dc9e73c5fc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/runs/' + ($json.runId || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        0
      ],
      "id": "9a7def8f-7bde-4c14-bc7e-53755f9cea04",
      "name": "Get Run (API)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://mcp-vector.mjames.dev/api/videos?run=' + encodeURIComponent($json.runId || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        0
      ],
      "id": "1d3887a5-65fb-4995-8f2f-e06b271d70e0",
      "name": "Get many rows (API)"
    },
    {
      "parameters": {
        "url": "={{ $('Get a row').item.json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        0
      ],
      "id": "6133a461-89f9-48f2-b56f-6deee1ae1718",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json?.data?.run;\nif (!payload) {\n  throw new Error('Run payload missing from API response.');\n}\nconst normalized = {\n  ...payload,\n  project_id: payload.projectId ?? null,\n  persona_id: payload.personaId ?? null,\n  chat_id: payload.chatId ?? null,\n  result: payload.result ?? null,\n  started_at: payload.startedAt ?? null,\n  completed_at: payload.completedAt ?? null,\n  created_at: payload.createdAt ?? null,\n  updated_at: payload.updatedAt ?? null,\n  input: payload.input ?? {},\n  metadata: payload.metadata ?? {},\n};\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ],
      "id": "0f9073df-29ad-4203-98e0-d17cde0bb0bc",
      "name": "Get a row"
    },
    {
      "parameters": {
        "jsCode": "const videos = $json?.data?.videos;\nif (!Array.isArray(videos)) {\n  throw new Error('Video list missing from API response.');\n}\nreturn videos.map((video) => ({\n  json: {\n    ...video,\n    run_id: video.runId ?? null,\n    project_id: video.projectId ?? null,\n    user_idea: video.userIdea ?? null,\n    vibe: video.vibe ?? null,\n    prompt: video.prompt ?? null,\n    video_link: video.videoLink ?? null,\n    error_message: video.errorMessage ?? null,\n    started_at: video.startedAt ?? null,\n    completed_at: video.completedAt ?? null,\n    created_at: video.createdAt ?? null,\n    updated_at: video.updatedAt ?? null,\n    metadata: video.metadata ?? {},\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        0
      ],
      "id": "35896ce0-42ce-4e34-a22a-fe85e8d03295",
      "name": "Get many rows"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Run (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Load Persona'": {
      "main": [
        [
          {
            "node": "Get many rows (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video and Description to Tiktok": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload Video and Description to Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (API)": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Call 'Load Persona'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows (API)": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "runId": "26412ffa-393c-479c-9bfc-07bcaeda9d2c"
        }
      }
    ]
  },
  "versionId": "fe919964-bffc-4b20-900c-caa8717b1d3e",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-26T14:21:00.712Z",
      "createdAt": "2025-10-26T14:21:00.712Z",
      "role": "workflow:owner",
      "workflowId": "vmp9L5Bhin2jQCPC",
      "projectId": "LTPeNZWlXtWGs8Sc",
      "project": {
        "updatedAt": "2025-10-02T21:38:07.889Z",
        "createdAt": "2025-10-02T21:38:04.742Z",
        "id": "LTPeNZWlXtWGs8Sc",
        "name": "Mylo James <mylo.james114@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-02T21:38:04.742Z",
            "createdAt": "2025-10-02T21:38:04.742Z",
            "userId": "56558acb-69ff-4ebb-a219-43a79afba1c7",
            "projectId": "LTPeNZWlXtWGs8Sc",
            "user": {
              "updatedAt": "2025-10-29T19:19:26.000Z",
              "createdAt": "2025-10-02T21:38:03.169Z",
              "id": "56558acb-69ff-4ebb-a219-43a79afba1c7",
              "email": "mylo.james114@gmail.com",
              "firstName": "Mylo",
              "lastName": "James",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "userClaimedAiCredits": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "j8nzahKvrqBM0AAW",
                "userActivatedAt": 1760430470031,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 0,
                  "lastShownAt": 1761216291825
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}