workflows/upload-file-to-google-drive.workflow.json
{
  "createdAt": "2025-10-16T21:21:59.756Z",
  "updatedAt": "2025-10-29T19:14:15.959Z",
  "id": "xXfy1EgFoH6EZU7v",
  "name": "Upload file to Google Drive",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        592,
        48
      ],
      "id": "f04e16d3-8cf3-4346-9d8e-2223bada4f03",
      "name": "When Called by Generate Video",
      "notes": "Binary data (video file) is automatically passed from calling workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.created_at }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf",
            "mode": "list",
            "cachedResultName": "Google AI Studio",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        48
      ],
      "id": "dfce21ff-6e6b-4788-8b6a-22fbed73af8c",
      "name": "Search for Project Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XvgG5PyrXOSpnzIh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "abc12345-def6-7890-abcd-ef1234567890"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Folder Exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "def67890-abc1-2345-6789-0abcdef12345",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Folder Not Found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1264,
        48
      ],
      "id": "e9a67af8-e807-42a0-925c-d2c966dcef60",
      "name": "Check Folder Exists"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('When Called by Generate Video').item.json.projectName }}_{{ $now.format('yyyy-MM-dd') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf",
          "mode": "list",
          "cachedResultName": "Google AI Studio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12iZhxhVe2cyuos9Wzl7Y_7iy0yZRdfgf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        120
      ],
      "id": "d044f2e2-5dbd-40fa-af2a-6f4ccc0a7ea4",
      "name": "Create Project Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XvgG5PyrXOSpnzIh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Get a row').item.json.result }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Check Folder Exists')?.item?.json?.id || $('Create Project Folder')?.item?.json?.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f6136cc9-8df1-4495-9fab-003004ad662c",
      "name": "Upload Video to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1936,
        48
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XvgG5PyrXOSpnzIh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Called by Generate Video').item.json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "result",
              "fieldValue": "={{ $json.webViewLink }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2160,
        48
      ],
      "id": "4073ed37-f232-4846-9a3b-bae1666746f1",
      "name": "Update Row with Drive Link",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get a row').item.json.result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "50e5ce79-6281-450c-b6e7-2b5fd3a54573",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1712,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        },
        "httpHeaderAuth": {
          "id": "S31bXA351k9zXbHo",
          "name": "shotstack"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('When Called by Generate Video').item.json.runId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        48
      ],
      "id": "d715b06d-d062-4618-881e-c7fa4d779a39",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "Dt66cXjjQayuOdrT",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When Called by Generate Video": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Project Folder": {
      "main": [
        [
          {
            "node": "Check Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Folder Exists": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Project Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project Folder": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Drive": {
      "main": [
        [
          {
            "node": "Update Row with Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload Video to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Search for Project Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Called by Generate Video": [
      {
        "json": {
          "runId": "71bcb4df-cdc5-4633-9722-3e249d569bca"
        }
      }
    ]
  },
  "versionId": "12212ea7-4023-4428-8ec3-d4d9f05dffe4",
  "triggerCount": 0
}