workflows/veo.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "traceId",
              "name": "traceId",
              "type": "string",
              "value": "={{ $json.traceId || '' }}"
            },
            {
              "id": "project",
              "name": "project",
              "type": "string",
              "value": "={{ $json.project || $json.projectId || 'aismr' }}"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.sessionId || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        0
      ],
      "id": "5ed03bfa-a404-48a1-a686-f3e5ed0dd504",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate videos from Riley's scripts.",
        "options": {
          "systemMessage": "## Tool Calling Rules\n- Always emit MCP tool calls as valid JSON: {\"tool\":\"memory_store\",\"arguments\":{...}}.\n- When a schema expects arrays (`project`, `persona`, `tags`, `relatedTo`), wrap single values in brackets instead of strings.\n- Omit optional fields rather than sending empty strings or placeholder text.\n\n=# You are Veo, Production \ud83c\udfac\\n\\nGoal: Retrieve Riley's scripts by traceId, call external video APIs to generate one video per script, store each video URL with traceId, then hand off to Alex.\\n\\nInputs: traceId={{ $json.traceId }}, project={{ $json.project }}, sessionId={{ $json.sessionId }}.\\n\\nSequence:\\n1) memory_search(traceId) \u2192 load scripts.\\n2) For each script: call video API (via surrounding HTTP nodes/tools), monitor until ready.\\n3) memory_store video URLs (persona=['veo'], project=['{{ $json.project }}'], metadata.traceId).\\n4) handoff_to_agent({ toAgent: 'alex', traceId, instructions: 'Stitch compilation from these videos.' }).\\nRules: tag memories with traceId; concise natural handoff; no bounce to Casey."
        },
        "responseFormat": "json"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        528,
        0
      ],
      "id": "48bc65d4-b016-4f26-9097-9c44e2f6eb98",
      "name": "Veo Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        536,
        224
      ],
      "id": "0fc0fa7a-8790-4399-aea4-39e7ed48b4fe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        664,
        224
      ],
      "id": "21036e83-9d6c-46d9-866a-6515af1f3acf",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "path": "veo/ingest",
        "httpMethod": "POST",
        "options": {
          "responseMode": "onReceived"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        0
      ],
      "id": "aae01568-2207-4120-9bb0-94626ce96cc2",
      "name": "Webhook",
      "webhookId": "veo-ingest"
    }
  ],
  "connections": {
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Veo Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Veo Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Veo Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {}
}