workflows/archive/agent.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-432, 144],
      "id": "f0052cb9-54f1-4d27-85ab-2080ac92c2a1",
      "name": "Telegram Message Trigger",
      "webhookId": "agent-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp-vector.mjames.dev/tools/run_state_createOrResume",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sessionId\": \"={{ $json.message?.from?.id ? 'telegram:' + $json.message.from.id : undefined }}\",\n  \"persona\": \"={{ $json.persona || 'chat' }}\",\n  \"project\": \"={{ $json.project || 'aismr' }}\",\n  \"instructions\": \"={{ $json.instructions || $json.message?.text || '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-208, 48],
      "id": "d53ad6d8-0130-4ace-b66f-f13ef1aa6f73",
      "name": "Bootstrap Run",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-runid",
              "name": "runId",
              "value": "={{ $json.result?.structuredContent?.runId || JSON.parse($json.result?.content?.[0]?.text || '{}').runId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [16, 48],
      "id": "473de770-d59a-43a3-8aaa-0192cca78694",
      "name": "Extract RunId"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Message Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You orchestrate AISMR workflows using a canonical runId provided by the Bootstrap Run node.\\n\\nProtocol:\\n1. Call run_state_read(runId) before planning each major action so you respect the latest custody state.\\n2. After every meaningful step, call memory_store with runId (and optional handoffId) and chain relatedTo IDs to preserve the execution graph.\\n3. To delegate work: handoff_create -> run_state_appendEvent -> call the 'Agent Workflow' tool workflow with persona/project/instructions/runId.\\n4. Never invent IDs or personas; always reuse the supplied values.\\n5. Prefer MCP tools and toolWorkflow nodes—avoid HITL interactions unless explicitly instructed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [624, 48],
      "id": "1fe6c620-e253-4f8b-a1b5-72fc860cd5ee",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [240, 272],
      "id": "9cc5e0a1-d76a-47ef-8ffe-b148e408d70c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ddYuAnkE3FT5NJj3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-vector.mjames.dev/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [368, 272],
      "id": "b344b570-b70b-4734-85bb-daa9db3554d7",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDRTlQZsKzQBcv6T",
          "name": "Mylo MCP"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "z34mb3qsWQfoiWVD",
          "mode": "list",
          "cachedResultUrl": "/workflow/z34mb3qsWQfoiWVD",
          "cachedResultName": "Edit_AISMR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $('Extract RunId').item.json.runId }}"
          },
          "matchingColumns": ["runId"],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [496, 272],
      "id": "e240e678-91d3-45e8-a555-ddaa587c2622",
      "name": "Call 'Edit_AISMR'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uIWB6d8OslTpJl1G",
          "mode": "list",
          "cachedResultUrl": "/workflow/uIWB6d8OslTpJl1G",
          "cachedResultName": "Upload to TikTok"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $('Extract RunId').item.json.runId }}"
          },
          "matchingColumns": ["runId"],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [624, 272],
      "id": "af3fefc9-0715-476c-be5e-0999d26c721a",
      "name": "Call 'Upload to TikTok'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zvJoSOEUDr9hXOLV",
          "mode": "list",
          "cachedResultUrl": "/workflow/zvJoSOEUDr9hXOLV",
          "cachedResultName": "Upload file to Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $('Extract RunId').item.json.runId }}"
          },
          "matchingColumns": ["runId"],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [752, 272],
      "id": "8f2ce763-e6e5-441e-b0e9-84442542c9d0",
      "name": "Call 'Upload file to Google Drive'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PQsePXjhfSVfw6zb",
          "mode": "list",
          "cachedResultUrl": "/workflow/PQsePXjhfSVfw6zb",
          "cachedResultName": "Generate Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', ``, 'string') }}",
            "runId": "={{ $('Extract RunId').item.json.runId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [880, 272],
      "id": "cab8d426-86f4-4fd6-97d0-733e09396a2e",
      "name": "Call 'Generate Video'"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "persona"
            },
            {
              "name": "project"
            },
            {
              "name": "instructions"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-432, -48],
      "id": "06869c1e-833f-4314-874c-aed8222d3437",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [1008, 272],
      "id": "80f371bb-5ef3-43e5-af7c-5d240283181c",
      "name": "Send a text message in Telegram",
      "webhookId": "71034ade-950c-4b87-8d52-4aab945b19f9",
      "credentials": {
        "telegramApi": {
          "id": "eC8lO0ynjt4o2RIL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this to hand off to another agent with a different persona based on what comes next in the workflow",
        "workflowId": {
          "__rl": true,
          "value": "mo7JJJRQPIs6mUWC",
          "mode": "list",
          "cachedResultUrl": "/workflow/mo7JJJRQPIs6mUWC",
          "cachedResultName": "Agent Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "persona": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('persona', ``, 'string') }}",
            "project": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('project', ``, 'string') }}",
            "instructions": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('instructions', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "persona",
              "displayName": "persona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "project",
              "displayName": "project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instructions",
              "displayName": "instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [1136, 272],
      "id": "ca233eba-6874-4493-8943-ce72601ae26a",
      "name": "Call 'Agent Workflow'"
    }
  ],
  "connections": {
    "Telegram Message Trigger": {
      "main": [
        [
          {
            "node": "Bootstrap Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bootstrap Run": {
      "main": [
        [
          {
            "node": "Extract RunId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract RunId": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Edit_AISMR'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Upload to TikTok'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Upload file to Google Drive'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Generate Video'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Bootstrap Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agent Workflow'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Telegram Message Trigger": [
      {
        "update_id": 96972047,
        "message": {
          "message_id": 182,
          "from": {
            "id": 6559268788,
            "is_bot": false,
            "first_name": "Mylo",
            "last_name": "James",
            "language_code": "en"
          },
          "chat": {
            "id": 6559268788,
            "first_name": "Mylo",
            "last_name": "James",
            "type": "private"
          },
          "date": 1762351252,
          "text": "make an asmr video about puppies"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d47e04d370a1b43496c097b567956ffb03a57fcf0b3917656c3ea43ad368f887"
  }
}
